$primaryColor: #ff9900

html
	background: url(https://lh3.googleusercontent.com/zGS0CO2nF2FycHKFRWIZya8eNt0FEezwXweHkce72ZBvK7hCx6p_OQYMSEgpHmtcOCoQIqZ-dCOo7PkIsFS_8iI7DTM_ud4AZ59g_kbgztSksUFJ8HA3IbH5qFOIR9QyHc5lCdopVHN9p3FJhbbzrXZS8fd7AxGFRgjDN2CQ4XpQavg3EvebtTY2zY8w1kGqmBdYPQ73p3J5kvlnsJgyei_a28CC3sCZUQbDdtyjc7jiqj2lHVI907a7cNnadG7VBjUuskednTrO065e0jwlHCmChvvVVz32V6Wd5WedWOPuvwECJ8e_UKq3EcymQwmuYRU7sJhRyXbjZtKak3GVXk0z6rXKZvQ7PJqrnKdE4QRhBShRaeE7q9vCY0r06M-1aDqN2RdiYv-0H0lqxA7X8vLN4sSv8FKu9Xo_3kfSu318W6P1jXcSRZ0oxpLZwHKuc7efYuTKaJudRFLVn2W357zrwWuxp4VzlACDBSzZBtNhbunpUPRgWmAd0N-h7eBDz8fTMImwfJtB5PqLCUYCRyfOkLPJXwt6dWKmjbroZvrRmv9xgp0TwP2XTPzHWp1FKt4LSRiWBl5z6beljiUWn2op86ZrhyfCDJxms_ykwhG59IVnFQ=w1896-h1264-no) no-repeat center center fixed
	background-size: cover

body
	background: transparent

.contact-form-widget, .contact-form-name, .contact-form-email, .contact-form-email-message
    max-width: none
.content-outer
	// Removing space from the top
	padding: 0
.navbar
	// Removing space from the top
	display: none
.blog-feeds
	display: none

.Attribution
	/* opacity: 0.5; */

.picture, .picture2
	width: 100%
	// opacity: 0.8
	// transition: 0.2s
	margin: 1.5em 0
	// transform: rotate(4deg)

.picture2
	// transform: rotate(-4deg)

.picture:hover, .picture2:hover
	// opacity: 1.0
	// transform: scale(1.02, 1.02) rotate(0deg)

@mixin clearing
	content: ""
	display: table
	clear: both

.cp-flagsmall-container
	margin: 0 0 1em 0
	&:after
		@include clearing
	svg
		width: 100%
		height: 100%
		position: absolute
	.flag-small
		float: left
		position: relative
		opacity: 0.8
		transition: 0.2s
		width: 8.33333%
		box-sizing: border-box
		transform: rotate(20deg)
		box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.9)
		> a
			display: block
			padding-bottom: 75%
		&:hover
			opacity: 1
			transform: scale(1.3, 1.3) rotate(0deg)
			z-index: 1
		span
			color: black
			margin: 0.5em
			font-size: 1.2em
			padding: 0.2em 1em
			opacity: 0.8
			border-radius: 20px
			position: absolute
			display: none
			z-index: 1
			background: white
			box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5)

.cp-postlinks-container
	&:after
		@include clearing

.body-subpage
	.cp-postlink.sectionPost
		display: none

.cp-postlink.sectionPost
	.wrap
		padding-bottom: percentage(360/640)
	&:nth-of-type(odd)
		padding-right: 5px
	&:nth-of-type(even)
		padding-left: 5px

.cp-postlink.sectionFlag
	width: percentage(1/3)
	&:nth-of-type(3n + 1)
		padding-right: 5px
	&:nth-of-type(3n + 2)
		padding-left: 5px
		padding-right: 5px
	&:nth-of-type(3n + 3)
		padding-left: 5px

.cp-postlink
	box-sizing: border-box
	padding-top: 10px
	position: relative
	width: 50%
	float: left
	.wrap
		display: block
		padding-bottom: percentage(480/640)
		transition: opacity 0.35s
		position: relative
		overflow: hidden
		//border: 1px solid red
	.image
		display: block
		position: absolute
		width: 100%
		height: 100%
		transform: rotate(-10deg) scale(1.3)
		transition: 0.25s ease-in-out
		img, svg
			width: 100%
			//opacity: 0.5
			// height: 100%
	.text
		position: absolute
		width: 80%
		color: white
		bottom: 10%
		transition: 0.25s ease-in-out
	.title
		display: block
		box-sizing: border-box
		padding: 10px 5px 10px 10px
		background: rgba(0,0,0,0.5)
		color: rgba(255,255,255,0.8)
		transition: 0.25s ease-in-out
		border-bottom: 5px solid rgba(255,255,255,0.8)
	&:hover .text
		bottom: 30%
	&:hover .image
		transform: scale(1) rotate(0deg)
	&:hover .title
		border-bottom: 5px solid $primaryColor
		// border-color: lighten($primaryColor, 20)
		color: rgba(255,255,255,1.0)
		background: rgba(0,0,0,0.7)
