-
	var data = [{
		"title": "Predicting the Structure of Cooking Recipes",
		"authors": "Jermsak Jermsurawong and Nizar Habash",
		"desc": "An ingredient-instruction dependency tree data structure to represent recipes. The proposed representation allows for more refined comparison of recipes and recipe - parts, and is a step towards semantic representation of recipes",
		"year": 2015,
		"link": "http://www.aclweb.org/anthology/D/D15/D15-1090.pdf",
	}, {
		"title": "A method for extracting major workflow composed of ingredients, tools, and actions from cooking procedural text",
		"authors": "Yoko Yamakata, Shinji Imahori, Hirokuni Maeta, Shinsuke Mori",
		"year": 2016,
		"link": "http://www.ar.media.kyoto-u.ac.jp/publications/yamakata-CEA16.pdf"
	}, {
		"title": "Cooking with Semantics",
		"authors": "Jon Malmaud, Earl J. Wagner, Nancy Chang, Kevin Murphy",
		"desc": "How to extend [automatic interpretation of how-to instructions, such as cooking recipes,] using a model of pragmatics, based on a rich representation of world state",
		"year": 2014,
		"link": "https://www.cs.ubc.ca/~murphyk/Papers/acl2014.pdf"
	}, {
		"title": "SOUR CREAM: Toward Semantic Processing of Recipes",
		"authors": "Dan Tasse and Noah A. Smith",
		"date": 2008,
		"desc": "Preliminary work on SOUR CREAM (System to Organize and Understand Recipes, Capacitating Relatively Exciting Applications Meanwhile). The aim of this project is to develop new techniques for semantic parsing by focusing on the domain of cooking recipes. This report details the MILK meaning representation language and CURD, a database of recipes annotated in the MILK language. We also detail preliminary efforts at semantic processing using this dataset.",
		"link": "http://www.lti.cs.cmu.edu/sites/default/files/cmulti08005.pdf"
	}, {
		"title": "Toward Semantic Processing of Recipes",
		"desc": "The aim of this project is to develop new techniques for semantic parsing by focusing on the domain of cooking recipes.",
		"link": "http://www.cs.cmu.edu/~nasmith/papers/tasse+smith.tr08.pdf"
	}, {
		"title": "Flow Graph Corpus from Recipe Texts",
		"authors": "Shinsuke Mori, Hirokuni Maeta, Yoko Yamakata, Tetsuro Sasada4",
		"desc": "An attempt at annotating procedural texts with a flow graph as a representation of understanding.The domain we focus on is cooking recipe.",
		"year": 2015,
		"link": "https: //pdfs.semanticscholar.org/7f88/398e8928d32366ebf725eb457cb2fa3a94bf.pdf",
	}, {
		"title": "Structural Analysis of Cooking Preparation Steps in Japanese",
		"link": "https://pdfs.semanticscholar.org/2cc8/d5f093697e191eadb9d83f3023afee00666c.pdf",
		"authors": "Reiko HAMADA, Ichiro IDE, Shuichi SAKAI, Hidehiko TANAKA",
		"overview": "A method to create process flow graphs automatically from textbooks for cooking programs. This is realized by understanding context by narrowing down the domain to cooking,     and making use of domain specific constraints and knowledge."
	}, {
		"title": "Mise en Place: Unsupervised Interpretation of Instructional Recipes",
		"authors": "Chloe Kiddon, Ganesa Thandavam Ponnuraj, Luke Zettlemoyer, and Yejin Choi†",
		"desc": "Automatically mapping instructional recipes to action graphs, which define what actions should be performed on which objects and in what order",
		"year": 2015,
		"link": "http://gthandavam.in/emnlp15_cooking.pdf"
	}, {
		"title": "Workshop Proceedings of the first Cooking with Computers",
		"date": 2012,
		"link": "http://www.lirmm.fr/ecai2012/images/stories/ecai_doc/pdf/workshop/W29_proceedingsCWC2012.pdf",
	}, {
		"title": "Cooking With Computers - Computer Cooking Competition",
		"link": "http://cbrwiki.fdi.ucm.es/mediawiki/index.php/Computer_Cooking_Competition",
		"desc": "Given a restricted set of ingredients, the task is to cook something that tastes good.",
		"line01": "2009: July 21, 2009, Seattle, Washington, USA http://www.wi2.uni-trier.de/shared/eccbr/ccc09/index.php?task=welcome",
		"line02": "2010: http://www.iccbr.org/iccbr2010/html/computer_cooking.html",
		"line03": "2011: Greenwich, London, 12 - 15 September 2011 http: //liris.cnrs.fr/ccc/ccc2011/doku.php?id=welcome",
		"line03": "2013: http://ijcai13.org/program/workshop/22",
		"line03": "2015: http://ccc2015.loria.fr/",
		"line03": "2016: http://www.iccbr.gatech.edu/iccbr16/ccc.html",
	}, {
		"title": "TAAABLE: Text Mining, Ontology Engineering, and Hierarchical Classification for Textual Case-Based Cooking",
		"authors": "Fadi Badra, Rokia Bendaoud, Rim Bentebibel, Pierre-Antoine Champin, Julien Cojan, Am´elie Cordier, Sylvie Despr´es, St´ephanie Jean-Daubias, Jean Lieber, Thomas Meilender, et al.",
		"desc": "Taaable is a Case - Based Reasoning(CBR, the process of solving new problems based on the solutions of similar past problems) system that uses a recipe book as a case base to answer cooking queries.Taaable participates in the Computer Cooking Contest since 2008. Its success is due, in particular, to a smart combination of various methods and techniques from knowledge - based systems: cbr, knowledge representation, knowledge acquisition and discovery, knowledge management, and natural language processing.",
		"link": "https://hal.inria.fr/hal-00912767/document"
	}, {
		"title": "KUSK Dataset: Toward a Direct Understanding of Recipe Text and Human Cooking Activity",
		"authors": "Atsushi Hashimoto, Shinsuke Mori, Tetsuro Sasada, Michihiko Minoh, Yoko Yamakata",
		"desc": "Multimodal dataset for understanding cooking activities. To build the dataset, we instructed the subjects to perform cooking according to instructional texts shown on a display one by one. The instructional texts were generated from flow graphs, which were automatically extracted from recipes sampled from a Web site",
		"year": 2014,
		"link": "http://plata.ar.media.kyoto-u.ac.jp/publications/hashimoto-CEA14.pdf"
	}, {
		"title": "Construction of a Cooking Ontology from Cooking Recipes and Patents",
		"authors": "Hidetsugu Nanba, Toshiyuki Takezawa, Yoko Doi, Kazutoshi Sumiya, Miho Tsujita",
		"desc": "A cooking ontology by means of pattern matching, statistical natural language processing techniques, and manual steps to identify hyponymy, synonymy, attributes, and meronymy.",
		"link": "http://delivery.acm.org/10.1145/2650000/2641328/p507-nanba.pdf",
		"year": 2015,
	}, {
		"title": "Training the PR2 in Culinary Arts. A Natural Language Model for Parsing Recipes",
		"authors": "Jessica Zhao, Alejandro Bordallo, Subramanian Ramamoorthy",
		"desc": "a culinary language model for the kitchen by abstracting cooking instructions into a generalized tripartite form of ACTION, TARGET, TOOL.",
		"link": "http://stanford.edu/~jesszhao/files/PR2cooking.pdf",
		"yeat": null,
	}, {
		"title": "A Framework for Procedural Text Understanding",
		"autohrs": "Hirokuni Maeta, Tetsuro Sasada, Shinsuke Mori",
		"link": "http://www.aclweb.org/anthology/W15-2206",
		"year": 2014,
		"desc": "A framework for procedural text understanding. We tested our framework on cooking recipe texts annotated with a directed acyclic graph as their meaning."
	}, {
		"title": "Learning to Read Recipes: Activity Diagramming with Narrative Event Chains",
		"link": "http://www3.cs.stonybrook.edu/~gponnuraj/thesis.pdf",
		"authors": "Ganesa Thandavam Ponnuraj",
		"desc": "Generate activity diagrams of the recipe text automatically, with the help of narrative event chains",
		"year": 2014
	}, {
		"title": "CookIIS – A Case-Based Recipe Advisor",
		"link": "http://engineers-pool.com/members/27/publications/2010-03-11_13.05.29_CCC09_INHBR.pdf",
		"authors": "Norman Ihle, R´egis Newo, Alexandre Hanft, Kerstin Bach, Meike Reichle",
		"year": 2010,
		"desc": "CookIIS is a Case-Based Reasoning (CBR) system that provides recipe suggestions. The suggestions are created based on a given set of recipes that the system modifies according to a user’s specification.",
	}, {
		"title": "Chef",
		"authors": "David Morgan-Mar",
		"desc": "Chef is a programming language in which programs look like recipes.",
		"link": "http://www.dangermouse.net/esoteric/chef.html",
	}, {
		"title": "Froglingo",
		"desc": "Enter ingredients, cooking method, and / or origin",
		"link": "http: //www.froglingo.com/ccc/index.html",
	}];

doctype html
head
		meta(name="version" content=pkg.version)
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Blog
		block livereload
				script(src='http://localhost:35729/livereload.js')
		block style
		script.
				document.documentElement.className = document.documentElement.className.replace(/no-js/, "yes-js");
				document.documentElement.className = document.documentElement.className + (/Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? " yes-touch" : " no-touch");
				document.documentElement.className = document.documentElement.className + (/iPhone/i.test(navigator.userAgent) ? " yes-iPhone" : " no-iPhone");
		block script
body
		h1 Semantic representation and Formal Language of food recipes

		p I always being fascinated about the precision that programming languages are giving instructions to computers and always wondering that that precision could be applied to cookine recipes.

		p If computers could undestand semantically a recipie, they would be able to adjust and combine them to our need and to explain them to us precisely.

		p For example a computer could

		h2 Scale the recipie
		
		p for a variable number of people, not only multiplying ingridients but also considering the increas difficulty and the need of different tools. - Decide the level of basic ingredients to use.For example the stock can be already made or instead it needs to be made. - Possible to combine multiple recipies together and optimize the timing using the hidle time of each recipe

		p Example: I want to prepare Risotto alle Fragole and Arista

		p for 2 people and everything should be ready by 7 pm. - Filtering recipies based on ingredients / skills / time, etc.

		p Example: I have 2 patetos, 3 oranges, bread, salad, what I could cook for dinner for 2 people being a beginner?

		p Recently flying with Vueling I saw a nice way of rapresenting food recipie that could match well with a Formal Computer Language :

		p Proceeding with the parrallel between a recipe and a programming language we could adopt a version control system, such as Git, where people could add variations of the recipie creating branch, marging, committing, etc(also removing bugs ? ).

		p Git versioning system, to updated recipies and remove bugs
		p Testing the recipie Jasmine

		h2 Visualization

		h3 Design

		h3 Videos

		p This is a format that I have seen often lately and I find it very clear to follow. No talking, just view from top and some text:

		iframe(width="640" height="360" src="https://www.youtube.com/embed/KIJh_76qu0Y?rel=0" frameborder="0" allowfullscreen)

		p And as a final note, this is a video of my mother that I took several years ago. Not a good example of clearity but... a good recipe:

		iframe(width="480" height="360" src="https://www.youtube.com/embed/y_isZwAHL-I?rel=0" frameborder="0" allowfullscreen)

		h2 References

		p Below there is a list of papers that is some way are related to this topic.

		p 
		p 
		p 
		p http://www.dangermouse.net/esoteric/chef.html
		p http://www.thekitchn.com/how-to-write-a-recipe-58522
		p http://www.sciencedirect.com/science/article/pii/S0098135404000602
