block content
	-
		var title = "Test";
		var content = [
			"test",
		];
-
	var html = [];
	var photos = [];
	for (var i = 0; i < content.length; i++) {
		var row;
		if (Array.isArray(content[i])) {
			row = content[i][0];
		} else {
			row = content[i];
		}
		row = "ciao";
		if (row.match(/^P?\d+$/)) {
			photos.push(row);
		}	
		if (row.match(/^http/)) {
			html.push([
				'<a href="'+content[i]+'" imageanchor="1">',
					'<img class="picture" src="'+content[i]+'" width="100%" />',
				'</a>'
			].join(''));
		} else {
			html.push(content[i] + "<br />");
		}
	}
	// console.log(photos.sort());
	html = html.join('');
doctype html
head
	meta(name="version" content=pkg.version)
	meta(charset='UTF-8')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	title Blog
	block livereload
		script(src='http://localhost:35729/livereload.js')
	block style
		// link(href='css/app.css', rel='stylesheet', type='text/css')
	style.
		img {width: 100px}
	script.
		document.documentElement.className = document.documentElement.className.replace(/no-js/, "yes-js");
		document.documentElement.className = document.documentElement.className + (/Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? " yes-touch" : " no-touch");
		document.documentElement.className = document.documentElement.className + (/iPhone/i.test(navigator.userAgent) ? " yes-iPhone" : " no-iPhone");
	block script
		script(src='js/appCreation.js')
body
	h1= title
	div!= html
	block script-bottom
		script(src='js/app.js')
