extend ./main.jade
block style
	// style
	//	include ../../build/production/css/app.min.css
	link(href='css/app.min.css', rel='stylesheet', type='text/css')
block script
	//script
	//	include ../../build/production/js/appCreation.min.js
	script(src='js/appCreation.min.js')
block script-bottom
	//script
	//	include ../../build/production/js/app.min.js
	script(src='js/app.min.js')
block livereload
