extend ./main.jade
block content
	-
		var title = "Sicily";
		var content = [
			"シチリア島一周　(イタリア)",
			"2016年11月中旬から11日間",
			"娘6歳、息子3歳",
			"",
			"ベルリンの秋が深まり始めたころ、暖かい南への旅を決意。場所は考えた末、以前から気になっていたシチリアに。イタリアはやはり人を引き付ける何かをもっている。外れのない国だ。子連れにはもちろん最高の国。",
			"",
			"カターニア　Catania",
			"旅の始まりカターニア。ベルリンからカターニアへ直行便がでており所要2時間45分。宿は旧市街のアパート。旧市街は荒廃したいうか、時が止まったというか東南アジアの国にも思えるなんとも言えない味がある。時折魚の匂いが漂う。",
			"https://lh3.googleusercontent.com/wlW_fUiPvWq6PKfbq6Q3uhuEmrGljdCeey1-yUA893QA1jxajJsG67z1tBc9zXr6J9e1bmst6pNcOhnSRkwKOc_NTW1nhtJuBf3DyO3VL64hgV2qKpeWkRlRgpgF7yJb9npD2IiiU48VIqDfkoHx-zB2UF8FFBjC2UbcmrQw1ZA7HjDRGfhkH_0TrCyaE06cjUKRBnCf-PPvBAXLd1gNI3pZLm9jwD-5QZ_gE4JGVCUKsYw9udY1x_vvuLLn6URH0XEbiWkuJl1H2aWcYt98Qi5ARwMU3nZCH5xH-Lt17WF8ix2Pv3-Y_wsiqHT8P9UkVpJ1p2kgB7gUCQ8qRz3HKSyR-BYny8ZzP42Lo1ZJQCKIjRRlalfjfIAPmBDsm7LGxnkq8invoRY5n8f6vK-p0HDogFMn0DKoA-mfoA9E5uyERiuIagrqM1sQP0QfhbANHzHNAyOeMiCXQTarfobfk4VSF-QWIVWNSZ66J7ET0FfQosZ66DI4Mqr7xTzX4piAGdGIX1b8l7lEPSLpmD3UrBBBMEUivH5gTkswO9N_dgfFnl1u_Ab3qg-_IyAHeLgNCCFqlY1dbrsCOLX1taMG4fzXW7ZMxnWKKV1P-n4AZbFnhw5uqg=w1134-h638-no",
			"<!--more-->",
			"",
			"大聖堂前のBARで",
			"イタリアのBARは甘いものが多い。が、ここシチリアはBARにアランチーノが大抵あるので甘いもの以外がちょっと食べたい時に便利。途中の露店で夫が購入したビール、一本4ユーロ。イタリア人でも騙される。栓を抜き渡された後、値段を言われ抵抗できず。値段をまず聞くが教訓に。",
			"https://lh3.googleusercontent.com/pMZf2P-yyS6JABA8APaVKW4fa1j9FV8ZD5AIix7Mf7Dnb-ZUImWIkr3Zpq7oUYQwCjn3gP-JqS3kZ9z9iEixqv6Be5ZomLdXRTqB37hIGzuNGKi7P2XEiPRwgSYZlZ7XrZi4Onk9DsKuF74aKh4J6JVrui46xYQVV2CIZicSgEzj7Q_oEpeExWlR96IYGeYFGRaoqpreASeyH_iUKzlGnPKdvJl-Nijwz10qGsvAH2R3cON0loIdVoy9THpuspwlynfLizan1OAUam8Mv3PBAEJNPG1O95vzv7jKJDQcnMPjWcaJavg1WmWZitXFMi6Xtn9uTxKJfYVDD9w-lFMHah2GU_-wnNRMjD0-WDmDnHPWGrRzola2sMLdZp6TA9ycCOaoKDmfvO3HtXt7WIQn0k70t8-5sRMdS0aSH9ayIA71qAKYEvIY89sCKSQKwRyOyrHpAZ-6K0xqzBhGvJA5JylBeZ6Nk5a3W4AmWnsgck4kK2U3bFqzKlj6HvrI6EjKfiAIlD_ICpcoqYWNmu-_DgWQ4dGaLyQ-mHGToM7Bs8UhWBqSelDKFzuxIRuQjIgjQO1v0aGugbRbhtmQq1Hv4mb2NE9qgwKDYD6_CSSn0iuY782NXQ=w957-h638-no",
			"",
			"街中のサボテン。南国。。。。",
			"https://lh3.googleusercontent.com/N8ACL2xXAVYFfLIgcfLODeJ7Z6Ptw6Fjdz9LdkRr206VFC0igF3uqL5KeCcT2E57bmWoWxX55GlMdVb4UMKEIDCpLJgdnLlf7Bdicz3t9ZrvAx3JjdejM6bQdiBSq8ulVVIWiZYfiKzi_fVZjNW5a_8KIYZUIobx295VY42Awpean82JqPzee0wGSWlV8pK8getvmE7adHHiLgFb3Z0lh49uFXTatnZJWSowC6Iit3EHF9fyuIt2QVL6iMkz22slyflBYOvbC9ylAIu0JR1qiLGGYbUdFpbdMZjl5tELOk2GT8t-Hm-8ax0AXsNTYeHrxN0NGUTm_X8rBUKla38wEbliu6YvaHkhnAkVgTc3reL6HuKEExAvMe1UrdhW-nKCsf1cZRdMT4g90FidrIPYAILDjhaUZuQB5sCy06yzVPZJTQmObVGzGKhjPEXODXCAi5o76dQr_U7ezdER4lhFpitP0itN2wY-VG4rN_1D5B17j2oRP0tf6-raz2HLx9OOcNTKwpF0bUVPzT_N3k8zzqfNsyNCFQlv4KbAFQErmZ0VQrk8N-FFH1q7A5ZBdC4i7jHaHFKEvKv6Jv-ZaAky_N33RcUW-_VTAsFhDWjswLLt9f4IaA=w957-h638-no",
			"",
			"タオルミーナ Taormina",
			"少し手前の海岸で。久々の海に興奮し観光前に娘ビショビショ。",
			"https://lh3.googleusercontent.com/JgKuV7Q4oGs6fIDKwxP-M0MD4HQaauOdW5IT6tclx4I9qayxDexKFlezp8Z6UfukvYxr0lD6OUmYp8VEfMaqlMVQSttBjGTGKtDsQDVzxeYgn1ba2GxTy4Dt_AHyfTs89CEx2ppOkNJuZZV28u_NaHVspOV4vm2h5gWhUsgbcq6cNYBi1E9059Yq8mVkmjEpWXZvcG6WyapjYn2yKJI_SedGC43mcoKU-UMNB6mAS0J3auNWRTzuz7nwgGPd4B56x0NECIDUpxRDJ6pvQ5Kj19LmaNNlFI0KaS6oWghWDadZoaSGGTbEDA9yNe9Nz3b9LkytjJjeXnqVhtBQEgDnO17jmj9LHw22VbE3-iy91VKwQDz1bCL5hwd6ogwsBflVD54nED3L_7uV2lwIRZ6EiUYGPqSy5ekooLHLasfqTWje19dPIcModCKBX8xzJm3HzU1Icp5T6nHBDTwNoZ3nKLD4Ywz3DUv8DiWOathEeLN8rblPVuDv3unqOLd4-8cqifBq7EvaSjWlnhSD3VX_PQ5vxQcq4fyt_5Z_HO7X7kYpMTDU333OEw51PEyoCOXPUfMxmSY1sOZD6mirckUYXTqiedLl-o96RLxxQQHcp1qU_rPMKA=w957-h638-no",
			"",
			"★ギリシア劇場　Teatro Greco",
			"海が望める場所にあるギリシア劇場。上ったり下りたりがあるので、ベビーカーは入り口におかせてもらう。こどもも歩き回り楽しんでいた。",
			"海が見え、情緒たっぷり。",
			"https://lh3.googleusercontent.com/An23OjaFvrHmMXs04UY7sDiBOjDGVY-yHvBY6MkkmxGxQH1iJ4M4zS3rf4p58gJime5zGCiEM2VwZA1J0BmOP0fZSx8Hdm-FavO-hv8AWTrby-17sqO351pBpxofZ7UvnXaabqpOE4BqS7xglToD20N_FE6H5XTsQCHfU6TPBuPP6T2T4ZsHEghP7ChwFz8ymn8z5pnx1hXGDocwvNmmTzpboAqRozWCkiAV7QAS8ZfHXnqpk2c3Tof9yv60JyLfyZXpPLY7RU68qpmtIJk_98a0xk8lOTHi_GTVrHz73NI4lkLAMbnhD-s4IztpG6GUxd3tPchToUjx48uq2mtqrD1oEq-5oAhV0Y7BZbpunRgWgHVm5GgdSnK9dKDmwhE9x-wNPIVsvIZyUQ7--EHMqVJ9V_t6L0OElLirpyk52d0kOQvFjZ02l7eloEg_SXwoq5-FwQIcTZWSc0b7XpvvyM0WSEfUNfEpekwe6u0QAWKHbxZToOv4w1y3fpBBqd7QC0ujMeyptAYPrJMNCY2TRCjclvGznBtLDVftCwjvKjdliLOsORNjjwjs8wnwGlmxUcchFEdP1zkck_QQfAavxGV_Yx-bvKkkViBYFCG-Z3Y6lwu3ZA=w851-h638-no",
			"",
			"角度を変えると",
			"https://lh3.googleusercontent.com/2rIeX3OFmnCgcFIIJKI_6bzTwNY6FkTRFejm0cu85wDKu1vopVq0qGrKSKKDxKA3SNBf6evPru-rW0KON-YZtaoUqDWF3q_kpK9pqm4FwIKpR4yDD-gX0xiRJXSa_7XP87wdamNt11m0YN50Dywy3pz7BiiiHVFiXMtJWfWuxhDSk8SsiT-CKMk2GIvQlB4_nTGVqU2QvtrfSlFto-rn_zVmwAa7Ds_UdGy1D6IPWu2QfOHpekXaPrz9wnxM_lD73hdSZa4ohr4qf8_XGFSaIOGuJVzSHSMGO2vCw7q-AjZY31OO2xOkFuBP9u-hm15nuTmSszGFjEd8HZD-ml_JVDPpInebUmgJW6bp1A9ANWtgrYPAcmX-u-D1HC2LZVcEdUlZpEJDsJk2bvFBQWZ3M1K46oBO90W409HncPbsvmnLsurAxgGkMHQ1lEFLTXatYLCTkus0xrLyp-vaoEwOB7_dN-x5Np7v943Td_JEAfWzokAu1BjHm83R3VkKQWvXP5OL-oqaoADYAYOVdr9YgKU_26jqxCMaCh3njz6Gr4hc-MuD3ZcWImdXugWstaINdCfjXXr3H4jeaL4Z60faSutBCSx3pX3sLqhAJH7SOD4TRuBqvw=w957-h638-no",
			"",
			"I dolci di nonna rosa　(タオルミーナで止めた駐車場向かい)で買ったカンノーロ。リコッタのクリームはその場で入れてくれ、美味。",
			"https://lh3.googleusercontent.com/UzBU5Jv5v95YaqGhzbCuwtDjyoeMNSGKn3OD2LoJk20k3li1utUpPuotIOvLGJxN8eLcSIwjZoNq1vKnPOQgQImJJVIUCoBOsOcWTUVdqjcpqwzfqO39ZGtSWLkzSQntKPHg2ObfgowPOJnTgYdyn8K7fRTHkvTm6sVlaM0bKLEZbrJ9M-Q13BLEUa9JTylSAuwbR1HyLkzTXyZ_e-lUweNLROMrUHpmD7QqJ5vDEuODTfFYh53JpoXH7ACHIYTNYaGQIvkR8ARaWMKIDryTZXil1AYgJBDUZd2xReffUXAzMltSadHx1xcZhhZjF_FezGv3fPgKhIsxiT_33j9ulTrK3XQu9arWUlfugtKQb1oRxeIrOG8HLuJprtGM4ijx34825HO613i5g4uj79Cr_gL9jSMeWqPWb3M2SO1dpaNbSdwAbXZMP5yCynjbY1emKuhAONQ8upVT1oIyD1Bi2CfQezwbVV-yZ1vPas-l4lgxyskQWvqVhsZOUx9plRARMRd268fiheD5DhocMC_ToRXwREEV9jxkhVEZbiKktSAONSxcvmXfogGklifuD4-svwINhPyffHE7vkN3V53o_doEHQDupGR9H2wro5rXZGQgXGrGbw=w1133-h638-no",
			"",
			"★市民公園　Villa Comunale",
			"ギリシャ劇場から歩いて公園へ。季節的に花は少なかった。金魚やオウムがいてこどもは楽しんでいた。",
			"https://lh3.googleusercontent.com/Ym-A6axAczWsGq_qgvl9r8GZVsMzER-eMn6hcI-YpVxpnfS5bR8E3BWeqkAVwWLVtJzPYb3dcQbRFg-6Bpwp3_fYU-EZziuj_N44ASynqrXScfMCAspp_J63wnJv3bWO89EdadHBsPGGdN2Nu-mwzBZHRJmnCJViX8jqYNRySBQNf4WhA7AiVwAJrTdL9e_COacikmQtceqnrdeA9tN5DT2aPi3h_-GTaHQR0ayANVrB2O8xz_uFSVOuDeZrvQ87a4AGkBNqcs8-hr-oYtrwpZ2TSwRPsHLQa6IAAWBNmBj5PsCnQmtXbGV8gzv0xpE7xjpaI8gJWNRgnv8P0TeBjOPt234FujXg6NreUMPrvQ2J_Z28L8uBAizIoFdvInDCDJQFR7I4W_-2WgJvu8XwwWnEl-scoFrGUO1E4CmJdR62aAl5RAj3JptBO5XsRcQWgZXzaUu1DWOX1KmnKIm00Zq4s2GHGzctP05cS-a54pMV6cX7p0lQIww_Fvu9sJSSL2YvmrNHOnNomUhPcKCD_ws9x-9H8Rr3V891Ow8-Ry-4KWwGSyqF7FKn3Be2r0dFmz8pCWrSuRgTfugiC-zM59zYC7CxjPo-Jibziftnu-VERNTqaA=w957-h638-no",
			"",
			"銅像にお花を飾ったり、子供の遊びは無限大。",
			"https://lh3.googleusercontent.com/BL_LJk1K4eM-gZeiZusiufWXqxKdg3M0pj-K2twMMK4r85rmz9FB2KAqUiH6SVwkBbrlwKuPqKdfdiLuWUv3fRzWfAymC9nG8Lg4C99WtdgEo15u8mJyS_FCgCWpnA28hsNmKd-pQ3K51aziMM2w1JMCFJHyITV3n7Kyf1I5288KGR1dYgOMUjZYw36v2G3hHyLNbc1vqYoyiyddxaHAxU0vo14qBLjxcdgZMivB-rcAiw69DuUzJWxmoWRsvpFRyo_GzqvS8ImcZcw5K9mQAMSD6P47XyZ17KF2k2WX0auei6-5SdRp2PZV1ZlU-p1QwrBw5U7_7xKNyWs_f5wzBG5sTe7aNDsQvBjI6DpFjOcQnMd38eogyDrU9CPQsZTSXsMTPE-eBl0ASoqQ0SkiE8hVJxNlOl2uWy2kO7qDTRlbkvR2ZA4GJQp6ziXal2oyPdhqavq7d5G0AdqSDTNqxuszMlUdodyhZUvBrRN3-_N8EYP05AiLJHCkdpRk-t1-L3Kud6SyXCe00XS1llmcKnqS4l5rhor3cmKsjjqKVb19IWOUPQxppeXkKzO9ndVmu0RV_k6PL_GAqKYgbjxlGniCfqweFFiSbzSDD3HdOie6IQfy8g=w1134-h638-no",
			"",
			"★アルカンタラ渓谷　Gole Alcantara",
			"地球の歩き方には出ていなかったけど、夫曰く有名な渓谷。",
			"入場料大人8ユーロ、6歳4ユーロ、3歳無料。エレベーターが壊れていて下に行けず。エレベーター以外に行く道を聞いたけれど、なんだかんだ理由をつけられ行けず。騙された？川沿いまで本来は降りれる。1周1時間程度。",
			"https://lh3.googleusercontent.com/m1j-GPRw3uX5RWOtyV-xgkqN8UqGJ-f-kNwgAaGDDzHPlf-BnsuYknjxlzu7tQ2Lci5D8C6Mt9TyUDHov3ppXmU6xa62Ry3W0X6tFyK98kUWK4MY1V0BD-X1kDm0W4iW9trMHMTutdDjOx_mMhlizKO1rfUrte_WChpNKasCDbdxzi18ZwYta8VH0s5iKB-S8No21r05Vgjv4w6pLRS7f7mUYqWrpUwoZ48q0G2nFyJB9Yti4VN7Q52LbcgWbvdvfCHbsS3yNXUHs0ueGHPGW721RLHkUj4eCcBFzoKkb97Z4uDq1g_x9GVsB-kPDNwH-GD6ADC86qpyR9oKupI6vwxwgHg4Yly6dNHHisa1quYwxI36aAZhaOz-m_Hbs07VMjyPujz2MtBvyngSwmbavJkJfh86N4npUvWtvaARyPbvpeIjF7awCFmuWk30qzWkbfi021Ip3-PG3pYh3xt3STb8ui3bQwx3oKp6hjXwnEWX0o9OVakOTmKbk1AoiwJLd1_x-JtxYNToGO7t2P57A6G08Ay9zdvxvxprdnHQ3_jlt4IrJSj8DjrfAMVDFcin666UoiSbFRqkIK0DcykCaSRU7rGnbkPz-ewuXSv5moiy_nlRvA=w1134-h638-no",
			"",
			"途中途中で、このような景観が見られる。",
			"https://lh3.googleusercontent.com/cR5JkSJ6yXshIdBqSfEh6-g2PtGOrf8Sdp2F-YgeBipIhaQ3FFNKZjfkyqn1fSVWLPd9uT6ZSRh_XDKRca2hovcPpOAJ2Y6C1Mc5q3BwMDHZPDmdjTz7d_xxX53JZxfgL-M54WrA90ExlA0t9lrSuY4ppNumSkbnvZx1Bv-arncuuKJs5jEg_tsVBIGHZzq5vsBrkN3zKc9N1HZxMdUbmNhZeWQsYgi9L_A4mZdSQLqdFNgUdp5PGv5NAGIsZlJMT2yHolLAOrEzNDMiSQ8pOhw7FOUU6F-eq8DEJHcOR3YI9HktvoAXdpTgcr_hcreET5JCMtddqQ8UEdnW-8hCi6f8mmSJFKjDkzbIfJeoq0zF21gFoRDUEYzBBRdvyLTJJlG3ziP_b8bKbdOdUfLV36oB7vxGA1xdMIM59xxcyBDySxUGcxBjV1IRyvp64qUVAU-11VY3paPAnKlpnZjZPf4KmaXkePzdQCP5JkiOcNoQXMEABzmYB6kgRJvCvXrG_PEG-cukot3NhNC9dXv8ylZ8QTBFKjVX2gSK51czZOrOWu_KpdAm_YnTzagNuWWhcQB9MUt08CFiIPCbG6xumrwjGnIhyi58BLKUomU7K3tkWXBlxg=w957-h638-no",
			"",
			"5367",
			"",
			"メッシーナ　Messina",
			"11月中旬という季節柄もあるし、日曜午後というのもあるだろう。人がいない。店が開いていない。噴水の水が出ていない。寂しいの一言。",
			"ドゥオーモと鐘楼　Duomo Campanile",
			"https://lh3.googleusercontent.com/why8nJjaMoRoDNxl4-wzUJwAD1NU1fqYAHqmf330Y9UjA78MydA7i6N_09JN4L-uUxgPSyYIN6Q_kxZxbLGnqjDCwuXjcYlEStJaRtqaLv7uNj1aEhXTlBAVNRo06_9P_gBZspp3hCtaEJqB2Cd80XHMi-j6Lp8wbxFe4IO4hQ7xm5u67pK5Y2DOIWhXuw4wjFJFq3XTiGpT206g43NwEOQVdLLs3pF7ZGVI8hXRF9PkKMwbh_AxZfpaSBKUdqq0mChlEVN4-LxZgtNKSr4j2Tj9bcko6DgbZ81bAEpMeXtwhDgyct5t1LOvpQLSSj3mEF9mV00HoIhxhZDDMoaP4XKRP5WLMFtaT00vMRrvZVtdwLCTPmtaCHFDj1jp6NrJK7dsWdhugeoA71Ef0_e9a3Qzxk8J9HYGTd5XhoWU7Q4faDiSj6-wXaK0TEmTnoPLg4cnnbk8ZmlZKuBDNw2NfsMTQFT1QfKbWApZtMFrFiGW9wa6-6urbs2ijar-jOVvO4Nd4TE1JAhUOpDcLlQUWtblzsE2b6FAK3tMaXaWiJVGBhPoKfGaVDufIxhAaOiVhY_7MAOnjA18GJXIjMReLaJE68pRJ3nTtckoeMpJFKd56cKeXg=w479-h638-no",
			"",
			"大きなマグノリアの木。ネプチューン噴水近くの海沿いは釣り人がちらほらいて、そのおこぼれを待つ猫の姿がかわいらしいかった。娘と息子はもちろん釣り人にくぎ付け。",
			"https://lh3.googleusercontent.com/A5b0B-gz8wrrT4KOAEQhV5F_QULUS1a591dRs9Uu1Jn2hatlapCs_QFe96qTE-WY0XnwcS2sgSrzDJ0RLlPDHStElAv9fWyKPYd8jCyY8kCLYOZdZbJ7Vrl0k0Bn1SFlvCisY2I_Kh5A9sTyCd0UQpe0o1OmRvKAkXsM-V1kqqeytfeOXE4Sr1A4-RmLz4mJqFESIeg104K84DChZ9aWhncTrBOJYWH1J15j03lPBeb9-HG_IXEvFaYBAsq93K7VySN_2VyYORH90uZjV2bys1Nb8Els8WXxOdrddpqsl_qJskri3YCPR__8YTlso-C5lo0OKX7C8Bubd_KRKP3cU-U3xA8zDXYkx33ZxJUIk8C_hjeG7GWa7-vzUKMvu9wg85uLrVmURY2lB6ltQb8SCq40idGKHQd3Yq4mtmdzaao7rOslgZ79btLJg0dNxRrlX5uP3DU9a4YcLM7hVxva9_TaXo8Y7CX6RDevFy5N851LgEQG3Cyccr0eLZOeYs1R6IXhkU4x7dB1Bl-FxmOrCmMv-GNjJyV8MczANCXYIlWVgUdXwcqp1rhC2qz09te1pPtM0h1Heuq2xI5HpYxsAvSVhEOCI2dDyoO7wLWAJK78sNwpMw=w851-h638-no",
			"",
			"ミラッツオ　Milazzo",
			"メッシーナよりも華やいでいる。港前にはカフェやレストランが立ち並ぶ。",
			"港と反対側の海。浜が砂ではなく小石なので、本当に透き通っていて綺麗な海。",
			"5445",
			"",
			"ヴルカーノ島　Vulcano",
			"ミラッツオから船で45分～1時間(船の種類による)。世界自然遺産のエオリエ諸島。目的は登山と温泉。地球の歩き方に登山の事が書いてなかったため、登山？？という感じではあったが。",
			"",
			"★船",
			"行きの船。所要約45分。速いが外に出れない。",
			"https://lh3.googleusercontent.com/jj2Dse3SDZQ8K0jF2EuT3IeabyOBEjF11XUDwN-jiYulW6kI0FKCQBxjtEGhfa2Edxj0ZVqXAHKxgla4u-65PpbqGxLP1W6xFkLC6h05p-yNXtjkapfWOeGDruoWRelakSo8Kfy7et1u8zSRLYUPJxuOwfkBdcxUUZTKQXuPdwnrfLz3i6QhH8zZrKp8szyVOxWRdCnb_crzvAKGopfCyfSRcxX6WjUbTjlUCilyqD2tbPQ3Do3MdL9Vk2v-gZN7bj3eAfuKUK2T4EOc5lQVA_1SEpUFbVA8Jq3Kj-LtIur_pKZmV25JIUPSZaIjaW9pyTbdiJ18jiFMjeYtiK92CBVIDoYa4nBcT934pe7Uzlvp21kyOoPjqLKBt7j7_swISJgsroIg9t2r5SvE2_5auK59KcEpxOf9M2dGDDNTyAuUZhSxJSA_ACSIMDeCXRJJkHcTkD9OaofUUWJMIZ8211i4FbbBuWkV-kHMhklFULYNx7-fgFzll18kfpsq7UDCf0vwSDmCknmeKUTDLMFhYI0-yPbqiSs4Vchv0JW9A33IXqkAbKzsPqMDGZ9rd6I00qFoi1IxBoWdhPUS73YM72nfBc1T-gzaNUGOYrei1hGx8x1x6A=w1137-h638-no",
			"",
			"帰りの船。大型船。所要約1時間。本数少な目、外に出れる。",
			"https://lh3.googleusercontent.com/raPrZuFQYKyU0CFnJI0ZXYXRR4sLCajxbej7oh1Eat5UWVGz7RjuBeJrFFuLu2PxT3WBPgOjsdkR2K6DNaVfE-XVgw1np7vuQIcclz1-C7XNPZr4kvZAjkdVndTRUuGHGQai-HZUA_NZAYydffXMKKgc2qAGH8p4oONQsjPHK0laZ6lM-7mI_7IsPMPZgPjh7VROWqEU4mNWX-CyrA3cW_7O5oY5RsaLanr7E1J3jx6Vzks6jWaBnK5sPqZcR5y-h71rsMi8Ezr3nHRTNzTiObXUA_mjxYRI5wlKnEXltc6IRYVUaJSjQ5RvQFtX4iZOpCAAGoDZf8-ZKaWnMUaFdMMa4_icQnujxECFiU-zOoUrak-fFAFWqrmpN60ltE8oytN8y6YUSz4wvd2jm9sBUnUBYO7RXYxAK07oBw-VhdU0ylKVkl8T1nePCSJX7tJ0YVz6ocL1zeeKrXrbxXfc-EcmTSDtqxkp5BLBCEdRJt39TZQmN2HhAs-cbvSgJIngrqrcv7bSPA3epuyr60MMIv3vOECehxP5OhCuR8hrVi_EPzebTPeuAJ_PB5DsjKB_laUun0odO3pcPjH273WYEZSIFhBj1paEOBRhn7DGNJGfv90hMA=w1137-h638-no",
			"",
			"大型船はこんな感じで景色も楽しめる。",
			"https://lh3.googleusercontent.com/ZpzvUu7ipoVbGY599xGJXBQGxifGVirsqny45jSaVvBN8abNcxDp05sdlkeXxI0priNtDWxGnd55lvTVx93AJ6lWxay-LaiM3SOQErJL-ejLnWDrrDZoSpcQB4yIy-WdLQf5pp6eHbM0urBi_u1EO-poTSnP__VBU_8rJhxF4CoxhSCxB1BPLDj_-cLXBBrRNq_4We2Q5UfMypf0IIU0K5kpcss0rV0eoERIS_NK8YHvGgF8KaFKtmMBxIFvPGdN0OG3-hifP-TtjmeAdY9yamcxaaC0o585Zyouv5fROKfY2aewG62KDH9Yz_GI2nDQatxA6p4SmBIGZXByY3-Vv3PHuH_VPs4lpjKtVPBhA32qyMSQ7zgYp6vWGpY3iF2ct4zIidUK9mTEC9RIUL3OG45JTyDLtrAOL87D5jjD0iNdZBlMtZspG-ROpyhZVvpSozLfX6z0ZbZsNxLh-v8UL9HSPaaLIq3es5E3uLNybg4RjSOAgwDHYbJEPOis8J17_esrsyM175NjoHixPRMsY2QTFmOQqvQFRDZY-zHZOZvwoLoXjYECEm0s6iNIx_vw8vrjypMsQ3iRJ0XshHCaCZQODG1b3Gg9qsFTM0cqO-CqZ7Se0g=w1318-h281-no",
			"",
			"★登山",
			"港から登山口まではベビーカーを使用。入り口にベビーカーを置く。途中の商店で水、ミニトマト、バナナを購入。この日の最高気温は2１度。晴天。",
			"登りはじめ",
			"1718",
			"",
			"途中",
			"https://lh3.googleusercontent.com/g1b4BscwEoaL6MAyQsBhSy1xvzaTtWZvg9ACPphZjQidGzOliPu7mp6DOSYQbOm6H_8eCAAoOShVOe58VT_fqh6Iotww8DUlnpcpI42kf-KStflhsMxmttk9sr0VHt2hhZQF5H6eZ7qGgfLEq9sbwNIK8AxokOisemo-arSKsne_ORx0rmkVR_J3zfRgaAR1d56hNdJdEjBbjm6so0Tk2dBCX-eHG-Zt6Qb8epeKjQFyPq4UQq_iYht65MvrtUKtlVFzyzOR3_M4151dtJ-pZPypVrHlJjpJguNiWPmGH93Ln6URRUlFjGJIpexSuZCmL-zst7QQf8G2g1eoPq7d-9QQ1LjCjBMbPQDNA8wZnJTFP_mlDKFLeJb1XFb4XX0peIfF5-Oac0btZ4q5wPYGYXMTvXDTmblplhhhoLh7GEJDDET-p-LEGJD76W3hbA-6mv3BpwvH-eQWLi9UcCMCKvGABAx2lg1jeAHcNXPl2t9vNGyzmp1G1-tDTPMlYhQaIrRwJU9lND1jeOJn08NJzpjXnotuLMouzdYNChzkZufVpZtzjSda-GLJ0hEzIYXiJFQsdh5jCatOBptYflJMwWqpNl7fS3Bk14YQPmC_rxK7ANudxQ=w1135-h638-no",
			"",
			"粘土質への変わり目",
			"https://lh3.googleusercontent.com/XEZuDSPu5h7wf-iM6-l7JI0NKfN11A7MZH07U7c72ZX5flIzyfa3-CN7S2B9hYaPhW8BU2Plv_HcS17cVfAlll9HlaiJYbyF7WXqpi7X2F8cztcYRNCDp7fcCn51eTAzglldeONVjxrBV5Sd11S3ziSzspT2xXvcUbqNkAYsVZlE-i5hRT2ZAbHxdVVPwT4sY4QTFAnmY1rGsXNXGgaYgCNauxVUczAk-W8l4g3snd4Six6KDnyD-f8UBGEg02fIRSgsK7yFNY-K1adR0FHUsYb1KNeUUM-JQcXjGHS8tkXhlFyYx7ljIytPbPPOM7v07Ex0nL5WrRp8qw6ug8rcoHNfFSAshoedMaU9b-dMV1Sbad1KATb8DKtaCKLLCfknrt1GdEOfK3D-IYg7lKF7C_Q70uxZjdXfnCUoaPGEZPhNLsKKRZapEaZrXh8kWWccVDAgaCzCTU1S8t__LSMmegSNrAasC2HQe5Lcqz-M6MzJDMT5Y0GZgInpMWg1vIaUA69ozpXbWnZXeuV047hYXXQZPUFdBLo-mOb2z3iANgPmCMCqZWzHp_7lnZNqAU7dRdMzW-_isQ45liWC4-auV-DLekzKYDwzVcrbmPZihRSQWLbsgQ=w1366-h481-no",
			"",
			"粘土質の道。歩きやすい。",
			"https://lh3.googleusercontent.com/2Rkn71XRcEgf9pZvZtMmOPqL0r4cXTPsDw-ew4Y5gYotye0Sy5nqIVmhtSfnyrzQKF9a_-NHchnlA8aHTqBAOCYm-a2WgoX0j783HQdmfN7IiYqgzosTqei6crARd9hxjNWXAh4Rg_l9QWjj6_XE6YMXhcbbJFTf4Y_KRoXmtc0W5Rqb_5qYvSVcniiLcYJ8ct_aN9kVYoEzYLSXeTiX88necnS9icWNsGtqU8GEq4zEOiq7LbeyhedsHgXGL0mFjJ2NY0RXnVnGn1_jgffWn38mVIqo33TmErquIbjEhL_dSIRNBAanmgVadWFF9fxdxaiesK8p54X39vjTVk_0YsQ5iqrX87vw4fpUxVLpGZc47ZCE60ao6ETtzydnf9d80CL5jh6qHWgxgsWHFBl3zU5Ti_6hn51s6enhlmOR1iaUIai86t6B6SuFJSgtoQIlpXOSK7o9Pak-mu_aOoQG8jPL_2vNeN_IBGPj-JwKc30ShlTPn7qeVMMlbj8CzdvxvLJiuxwYmQmaVIBN5NsxEwaXQansYBPIXNiHG5brmDd58U9c7WGcnt0NYzT-KNnq8ifWqZEOUnzCNv9Uu9inyt3YKewEZPB0qbgghmi0yPrnHjOPAQ=w1366-h576-no",
			"",
			"山頂までもうすぐ。やや歩きにくい。とくに下りは滑る。",
			"https://lh3.googleusercontent.com/45nRe2CFtbzn6qZwPQyJGyTUnmhKHB8AoAzp81HNweaf6iBaL-MBz3N-rD2CbDYcoCy4QUEBRLi2e-oDPdzCK6dy_wImMP_KegT_8JBJmNsAG399puS0i_x89-VuELjVQ8MHOgjPHlVOvyFOPUK0MdrZWdDnsF_-8X3I8qnyAB5GtbKPBZX7aJ6jlavsnoFsDmSoPxQtId-EacL3opk-tLMMrX_hzE_82ouF5dqQwBHhMXccE0CLhnfAbwyss-m2TVNMugR5R0JVVdCApor57LPYRfx3Nb-PgR3D0sMDUOJ9KxAZACdQ9eNTzOZ2qk907u34NNc7y6O6JGz6H_Bk_xHKVN_GIOZkCdTD-Ux-7n1n2cSmY3xp2_efr3QP1faW7pO16G8FCEk3nIKm3g06YIkHOoXf9ga-GVJ7ACEIA6OAz0CNEdVg0Zxxnfw7XIGzzfOen3dg3BDOKTn21K66BjCJMnuhVLHworiBG9bAjSeGPz6PcUOjD7ISudjg8SEqM7CrYEEDVEOXd_3GCs6eC25zINfLEK1RKxNpHZqbmx5Rx3hAtymgJO3wAU6uLETgf1vaMSTVs6pYju1t55lYYpZcdfEIsj_7FrxzW_eUjtxDIRYNdg=w1135-h638-no",
			"",
			"山頂！",
			"https://lh3.googleusercontent.com/vfOP1j5Q_OYhRaiMKEDzxgSn-wOHYZC968p5BRzNZBrfTy6mHScCNt2AphImDDMdu8MWZmTbkqFRRkKM6E8C6Z1KItz0y0sF4TV7_f5RVP7eiZ-Fc0RQ8_7hCrsAfUUg-Be7QaoeQ-mS0LhoSYVqTCx7F2PK5NWBdE_2OtUvHqp7MsybmzuZlGSyGEyBj0rrmRjAmNibBo8dLvFNfbKj5QezJvC6VpTg_ILe1fiPEfGuURYoPQOzAgf50LYBazuWM2PGmNxcaI9KUmpRTzdvW_xIY1N6kZa28B7i3g51vjLL0WQ9S3CyL5hx4AtnSJIuhx7iYkpQp1LzdfIkV1G44vjutXBfn9BNJ4KsHPGHwhiySAFFfsKvIqqec-Q_wBTjdL0GWcuJiKrq-JFQaIJ0JxCOA-CUOhROVs3mRiAz2u11-8SiWpUrPQB4Oc_cI5nJNbVY5VwMPzigoS7VGtOsHId8GEUPkWlCxyGHYp8XfCfcF3PX-35YICv_sJHfx5_SwNML2G2BPrRCeHtBX_A8oohUoJSXkXUHCn6XLrW1p1YXdxBGBQ-oGsJrnMMTaZPESEJGcMfudjU_4yEdKMN4pFxgpOXfEAHKZ9kvtTnMQ0_ErrTVxg=w1366-h227-no",
			"",
			"絶景で抱き合う",
			"https://lh3.googleusercontent.com/oU0-U9ot6yCiUTpvwwqbgvJ9anWFjLgOUymGcBiPWN6wzZdz73hWnhA0KZuu9rLTwtTwOu6CTLNEoNRM4cv3t_DOHSVJZGLO2rmlMVw_cbf-wTVncS1xy52WJkKAPGEd_VUOyC2i-LtBHKx1nooCLRRhdQ8N26rTiq73_N0HlU3iziaiv3DNnU78gKYAaglEfFCaRpLig4OzRT7M99BsitZBHDo2w6K-iUnZYNcln8Jg5pMinjBdKii-Ubis9wD6QRIhCU01q3tucdAqxoZ_nOP_RZ0-v-vwqjcT30c0aXFS5-_0e2RwlF0tcVh5Z0SW_nkYzwTaVCVWWPLIdl1QturA8xDPJSqmKrCdceBDfsjslfY-KSYKnafJgW3PW3EOO61g6dn7ZBoBpJB-kg4kiHhWe3fs0aEVoxf6zG50nETqUmO6-eu5ZW19d5fPMNJ5LGiXOAhfS9H3OTno8fY_UOanUeuefbyfRFfePoygM8t344HFrfB-so0SZhIYNfWBY-P9L_k1jjn8t9kXoNAanoF4pBJGaR8uLNBKcir6p8DUUKEiMMU1Xp8Owa1kt5uSkx8DlZZ6j1TvaBWMiA0ggqES9CC5_iJ9FFBI1OxsJLBi1foNqw=w1137-h638-no",
			"",
			"お弁当タイム。誰もおらず、絶景独り占め",
			"https://lh3.googleusercontent.com/6z7j3ikgTElyENZ3r5t8DVyWfGl-R95QU1Re7xIvNXnyNZ6sL_EpYPkrn4wkJubGdWKN6xJlTLZ1zUczAHVFxFfjionrKIAa62fiMG1L6UapazgzQ2dDNIznhXhLgcu4yTmjPCNBgee9SNjRJl0MwqM3f8wIeefbPzszQxvcVd8LsSRiT84qMj8UZAM4P_XUXYPEXcUClrI-cgm8CFQx6y8VaGgxxpnR8mhROLtruPb_cRq5_qu-_gOgQzAa6Ly9AWmDeORZOxH4nKTUngXsJ08i6FSg7q-xLUYgv2zZqnX7VWnhavaMP5QUX1wPLOx8UbbqwgMfUo5PmspH4xPbGoth9N5u2vDFl8ZEWG3T7yacuelJ6QVOa0Qqn_7Mj5iBooVcPEb9hkdFcEoXIHlzuo06q6EXMsJhD1-nSUZbJ8LLWV3uJyxLeJw5X9_FjUQ1o9MraU48OY67N5LbzLCZ023t1sJAyc13xL3NNNsTsKgaUn6py8ocHWW17Mlj4j3vYpKmjM-2d7OWDf7lqG8M8gR_72c59Ypyp3vrUTDGihhtreM7Ud3tSga3BSP5UOU2JnHW7FGvwRtnNF4QtNaOPXH3_4xODuucno40h_0n-uYD-_uCvw=w1135-h638-no",
			"",
			"登山口から頂上まで1時間20分程かかった。3歳になったばかりの息子も疲れたとしゃがみこんだりもあったが、頑張れた。息子の成長に感動。",
			"",
			"★泥温泉",
			"港から10分弱。時期外れで閉まっていたが、温泉につかっているイタリア人がいたので子ども達も横から混ざって入浴。",
			"https://lh3.googleusercontent.com/A2utEGyUN4CZ_Fq6-bs8zjbqmYrq58WNME1INd5aB-ZNjX_F13wOc0SK6_OwAOXp6H5elh44oezig7lxZc6hmXL_k7kSpsgcIUAcOIuQm_Nw2rsHoy_9Ea0_iw4phdZWVXgUizgikwZPUFGe3L6kr8K21AczZaqnAEFCBjIf8fchtmhugXEXJFVP_n9t6VBOiRo2whPoDScIVXfEeyNcvACI-HpLjhYqtWT0uB9kCmelwuYViVXNMYP2cFBrxx2z-m6eh1It771lQ-kjG1owKeo63oFaQbgjQV3FX90yUrnKdGeWkw8ZI-dJeuFIK3bowlxiuCueidd1vTj5f40kcWkBaP7oGJzt_fiFjZjVlnn3jfDm9I_gTedVF0g8Fynz35Y6PEYXlRl7a1Fc1L1Bs1yILjKs0vdxBtcsarGN_mTO9wwxUJIbgn6mmK7cVjjkSJG6P1i2LAzMiz3LHdD7Nyac97uksdQQCWCmavbXJxxaQX1ldfdDHqxSGofLBm1pE5aV2_4D_fmOCCj6S7HkiPTOq7pJgNZM6R039vc6S9q7r0Sp2RHdk_oxbGdz14JUOgQkiHE6V9FyUBk6KZvuDmudn4AE4AUdGZgYsXgJAQqXIRZwLA=w851-h638-no",
			"",
			"こんな感じで下に泥がたまている。ポコポコと泡が出ているところはやや温かい。",
			"https://lh3.googleusercontent.com/2CBxVfxAYF8_RQAGZqaC6XAIN8o8cvbbSKon1mRT2v-uyrQrvsqPOSSHpqlSung8Momg9ogAsRVd5aEudu6dL1FpGavxDWXwmETSxqlhBrt6Y0KcLL5Sf4GzUEfrkyVdRc70IXjKd1xp3cPkc-aDt9047l51DpKX6FfuaYWb5QyHuq2cq0HC7I9aoPrrZKy3c5ApsWedXTptCb59TW9rTJEzVLPUKnnTL-RlO0piG15oNUjG8Tyq4rMyl0RizEELeugUlv-nGHMnHP5N5a6bft9OJHgLmPWCE9kEkPFxWPA7o0qpnVd6likWyraMNEpwZsciAFwV3VTiI_rcQnrpz2-MjPI7LrYx-WgNxNThW0cEUZWYGXQ8oeKz3oOSt9PfsFHTZWtb6_GRJTGiq-1-6x_4eNAzNQt2aT_L-TOMx1vYVnTCfn2xfmB7uNtIixBn_Vm-8upiTGthsXvALPCJgng8Ife1_VETABU_Thun7Vq0Ov8Fk1VYi8Htb5QUtYmhmyMdn-tC4G-7VN_ZI6HS2m-tcLruQ7r2e5FF63ZcMQd6fs9IdTbHovloNEqJcN76NMaVyrcy2RsiE73NCncjYb0UP0d25mlWuW8pt-jkcuTpPXA7gw=w1133-h638-no",
			"",
			"深さはこの程度。温泉というにはぬるすぎて私達は入る気にならず。子どもは腕浮き輪をつけて泳いでいた。帰り、硫黄臭ぷんぷんの二人。結構取れないこの匂い。",
			"https://lh3.googleusercontent.com/C_EudFlVVaAqNL5EAJtM10japgRJoyxOKFZBSvEH7H8n6rS8KlR36mkKiGlxMSx6gDHEWO0ZuN1iJN6rYRzwvklacwyAAwWG_vIAKWfkdVg6mU3-h58pTMLMQaoXfWsJIT_7zXovpXm6c1-YgqVKgY9J7lmMzq6C_8OnHkioY41tDH04aECwA-lDjya61MFphbOVmYpdf5pPVXiCtdLqT-xY7RGoYTPYCmOULGJA7LMSa3l9nohFTot7IQFunYCth4UOAF4LCRPFdUBDtvO-YVvKd05zO6CcX7Yx_0tv4VFfTrLzxcdJT4CVIRyWtqd68S9a53uw18z8ykF1bFVXKdXO7Aerdwh7P2A8A-uikqlcM0WsYPJwPVr9PKhErqD6HgdTky4RX5hGLNESETM14k4SYL0bJ6EAEH5--kZ2YJH41_zBJFBi8HQHZUkbcswjqOAKxe_Hr7kZgE7yxtJyDF_UXfU-zdqm6Vl13dy2Co9vCV_qakwpqoQ7oQeJL7KKh0J7faksYZTlhMdInJINuaY0dqQGlwV5uJSMoIx43lta5MxT9nh1paDkymBV-V5DU6g4iJB69f63ISKfPGSGOp6qNiTO6W8cPbItHjZ_lq06x_rndg=w1134-h638-no",
			"",
			"島で見たおじいちゃんと孫。愛らしい光景。",
			"https://lh3.googleusercontent.com/P9BcrwwZIc9NJFPcGoD_0XJN0g_36xM5UgKFb07soP1KROry98dAgJtW3ft1Zvfjnzn12yltZp7vkvqjdfz1IRG5A6rflLMIcMKlHuyWgCkeAUcWZVhq0qiQXmrISh4-N16waPBcfMt85EYtyH2kZtSjSmLksIh4Azx0VmUzOlvlh3Qq8cd-z5KJ3X2mLmooWsqWUjTCxooA1XWiJ2P-opmi5jyG_RAWas5Tk8JS-ho6_dXt3LAzUixWkcLTwV3tNitUc0oP4pPGrkiVukVI__kouzfRaqJrCUlRmmKFIqJZw5konelQ2VgGhRcKFzdadP8VaIR8EQZCSO-9RJEjQeapI0EgiqKPRBzKOsjOm38r3avbuXOulT92ohWCXEzdG6AN1_WL49CKWMCVVg3ff4LL2ieDsYblhui3wU7hBkuQiu0B8boXLJgE8pPAG6q-0-rJ4uVI4gIuErYoToKhUN_njC0B70LuDdaGUYfvEH2uq3tSKAaDiDL8V66MzDQ406H977Slu_JWpvsDygr6DPkuVasPnID4WEfuOw39gtsuDv3lXiuQNxdtp6mJLA7CufMq5MmVBKAX6GGJB9erl0jZ6EY0tS4amJ6-jb9VkH41I0ubqQ=w957-h638-no",
			"",
			"チェファル　Cefalu",
			"迫力ある岩山と海に挟まれた街。そして存在感のある教会。",
			"https://lh3.googleusercontent.com/I7VCmWtw9UEyxKeNwRaxyZY9HDOlnQlRgL70LCQjJdF5kUygTPo2Fyi9PNs5Y115SfGHuuBw1acFgRJ2QsGerPQAp8IlVXPZIHijcZlnsL7vZewh843Cyafqo2C7M5g0UDgzpRIxyboh-Z4f7V6WnTuUP9cOj6Mi57MNu-mQ9e3d8F2sqw2MCTW6LqaL5FNKHe1Hnhjyj-RqwCYqN4aRne4PCwCsxAqMimWEzRsx03tW5_QUbsCJ6f_wYo2HOi1RGHgVV__tngMdw-F8n3XneYs0tXGeW8__AUSkV26Bu7Q2cWZq-FgC6JWfWSNtks5U_IQ258nQJwmOmyaP01v1GG5uDd3UX97JTJ7P6Nz2DpWWQz0C7544z-PpEWz8lzodrVbOGQ29eL5Eu9Jv2UDtWzYxTKSUtW85NYayJxQU7JCCz_lXuRlRWI1PJAOKDDFHRvQiPJrY9qRyZsN2YYkt6nWt3nmJq_hGu7Z0FsGwFsEMZ2RBtu01uEo_8u3tHYQ67BCDKZ6XPlhxZ0IARkb4mQmeHzTH5mflTLHBpGZTB95zc2yyBIWV5c__R3o5CMzlWCf6-O5NzYzEnfZQEIjIOZ0mQ-89Hn-ZzT3OuKWxjmTbYWEBww=w1135-h638-no",
			"",
			"路地から見える岩山",
			"https://lh3.googleusercontent.com/9EUU2Ag6gov65EHmuHE6qEi990Rim88dtC-eRRZK1b2c4AslarMoSWk5zDJT54yTFrUKo3LnfTmr7lScJ-Gigiyftr2LSXN47YId3r4h6dNAl6FYOwUl29LtraEt-8ItygMUQjx42xICkR7M_JDrNZ5RRhW6CLRIjrtL1vpiuRyIINjN-IQk_TWn8ZzzMcNo9OK4MkRaPhC-QFzBHnZxaRfoWuvFQUiHhjODcpcbi3xMO5wPhfSh--Beg0kyuh_rdq1XZk7GRIvGqFYsd4omHgeXnV2_UMXdJhzfbR4ANc9jueYiols4uBOAjadIQrOYhIgtNmAhDWPjgXxZWNF6_pfw--GYxB-nkk04XKHGro476JILjgt6pkJrQberOJ7DtOOlV-sWsu0djN6L4KKGuK5_rdJHT6yU38mk8fmkKnZVMRpJkYBRcU_6xdtq7E0FpYpdG5PwDjAQ9t9trcCJYlHAHOy97GxM6x-S7hWObodxKkNDrLoqse5GTAinu1fCN542qF0CrUq3vS3nonKpDaN0J9R7q3bOsiCJs7B3f8yg8bwJxKrhWwxeoOVZigRmaNI45SMRJ0A4jLRStIilM5EYwM3bsODOqxHkr1gPvldrM3jf3g=w359-h638-no",
			"",
			"イタリアでよく見かける光景。おしゃべりするおじさんグループ。ファッション同じ、ポーズ同じの二人。",
			"https://lh3.googleusercontent.com/MqK7hASPdh40UY08gQendcMvulvR9Oy5NQ6g1Jj63dgolGvw9koMcIVOGQUmUp-EfBruxQLQRggW_jkiix5XQAZQJx9WHZOFzHlwHIRt6Jy5bZMLjd_9SuPohNRY8Bdywd3_aGNB8q-_9AKA99Kkz5x27h4M1HZF7clFeC92Ja1MlOn8upJ4yjWkrEgYyPViinmrpOLt4B-Roh4MnEivSvlayx5FTHcR2raTk9YW1P_U-Ou9OugJdG0ztE_tyjSyOJvZs06qCCxCN0NtAnXn3O4bULZyuTS184q-f9D5S_kuTL3SHFEcsIDwnDCrC0MsVVw6w4ub-ftiqGzHz-zTcDILdO95Ian68UqaV_IlwmFotfDJT7B2Q7uZ61W_BSJ-PDu03b0_U5mIQEN_9XVe8xO1LEy8dmrJQdVKy2egQeyylrB-T_0CpZFCcRYQ2SmBX9V7zU3oeSfsMlr1yOCTab0h3q2xXKKTYChQJrgbz77WqvAzLI4z3A_h90fIrIYF5LX5SjHF6e7Lwi-D1qBJqxdv5TnbTSYgGOMCmOqK3cuodR94oWdXg3ubVAYvyY21560wBWIkPNQ-UejncE3jzjenAk7mPoIcpeyeSKSF6ERlecHa0w=w1132-h638-no",
			"",
			"やっぱりここでも海水浴。太陽を浴びるイタリア人のおじさま、こどもの姿も。",
			"https://lh3.googleusercontent.com/Kjm2nae9KFHOdOk0pv65uPAPPYtq9RDzyD6xZHGUh3j5BjqhYNbr5NNs5ZhIp_hg96yV8W_Iokv7V3FNSND_vR9DoXjlYRHd3vrQsSNe17DGivzpSH4eTPArceHZ04rcTkGgSqRHPHH3_3NWrXFoPnCaeJEOxNqmDKX1vfFOyWZlFC2XuEnbslkkf_RxsBxSpF3qo6KoIRSv-W3VpAKlKEHUIPF1wQ-CUhi5c3M6tBYy531ioRDGQ1iHx8KxeCZb9Hu78ZcbQnSXBXPuHwScp4pCi3X7Fv0ZhUrFlZs4bHv7Mr5atVaSHtPI2JjUOvZJJiuYPZZdu4qcfeqnfWERvZnDsZNA4JE3wKJP7WqGwTuqp9mthgvZrvskWUlIZz8euJHQHOwlUUj7o_deQSV6C_hCxGWjkw_TKLXhXhraYv12ArCR14CjgaRs6dk-L1F6MuWT33D2VHNUFfYGM_W5Vv-1kXI1om5ViYfqqW_FlUTHbTHYmBR9kYd47wFmD0o1hNFaRii9gjrZPOBg-D2MR_PCGNOUKeOgiEroJ2o5yquCY3qsw8Qs6vOq-eh0Z-_8PQi2KSC0EsAvGsbWP3oVHRLT-LzmNxbJoHiILWNV1WME8_OvGg=w1366-h522-no",
			"",
			"砂遊び",
			"https://lh3.googleusercontent.com/LJnquorhvzaDx526nZFFdydwKRALc9l8_HzNtaQY_O0Doyomr8oErMGVVkFr_-Mhvjf4kkKt9G6mi7vzrFLR2pt8BzBiaEAy7zfE5XBLWsvmNCZI4lNsOM3laJ4NGcM0VFzYPCzXLWJ_3_XrL5W-EJozu1gkYMF76er8qPt6r5rx5JMoUUIWuYrOSxKgHPxsHsGWTZDBQzzb0Nd8V3vJzR0SQ9R2U0E6hXBb3n_Vqs66f6SZCOH7Ac-ns5n3ffolLmbiTqoIyddOHa4xdLP3B3rUjC0mlgsV4qeja0r-XLRSt-GtyHHl6qlJPJEbgy46_cUQoTeI4vHGe7xHE6EUDu-oQXK7FlKXP6DYPE3mghgfzIipWtFeGE0_QACQCJpuTEcvFtpdrfE63kTHmKkELP89Va6mIugLRPCdD6qQxckaPuQxJWEi_OB40QfCp3vAeXAwnAxXNiN2MVaBbrNgoDeT1w_s1kABjO-VoorJQDp2e6Up4QmsqXLejg59rq_9NAe6tJO3w-hfjyKO-Ggv4r-WwyWax2JhVFo0y-90tp3Mg9zU79gsBJz47LmCbcKpZmQifOyZaUAb6TSByiLFlFSIHkW20Y66NZZg94DoTD2O_J8RRg=w851-h638-no",
			"",
			"トラーパニ　Trapani",
			"★塩田",
			"トラーパニからマルサーラへ向かう途中で見た塩田。道路際盛ってあり、塩を味わってみる。",
			"https://lh3.googleusercontent.com/4Tz0QliPANprB28--epXUo7K5HVu3sgOzmB4hgUNfQwvGdy-8bpVLaNW6D03x0AAnpMUqF9HIsvgKmH7kVglc6I0z2oxQ9547zz4PyEI_2rjF0CwE2VaqkIvvFZfChzIteZmgRjMXbKL8T672m9CeCdOWL9br0hXq_nnRi5c-xKErbQylyXV9_aaOQXEgOoEpZh38Vvc06nWGvYqoJgHDR7x7famS2aSbtboy7kh-xmbC-iF_3X_d8J6vVmGyzoWkQrvusn6ojOTEs37aHXzxlxwuusDwtFt6GedUUiagX_Tba6feLiBSkHWGZd9W53FNZx4Uw0mH8G5xqBPXJAEteW67zG_QOE7HkFwOLz54c-Z-ulzV5oDIhKLovcznWNwC9DV12LJEKfmmbLe6IodrBKLUFSzhRbXjszPRTWc926vSWW99v6ZYoOwKvOYjFi1C0B09s_JVMN158-0d4B-T3GqbEFOzPe92W7V-9w-xNhM1jjjmmpKLcfAFWpH3kXnChbsKsJSJk0aMIisL24coojpJqEWs5xFE80gv1mExfbgXXqkJC1AYT5vAeEsH8TqiAcVvWH9f7gOBJXFadJQu3LYcsd0FFQh34pgOMoCpDMTCoU8ow=w1135-h638-no",
			"",
			"風車も横にあり、風情がある",
			"https://lh3.googleusercontent.com/X0BbADOa2VMXoyoipY5HML2MBmU85IkYFBwfSJdo5RdOqBFhEk2tJnbR-x3gWJIWSU7nTllYbJ73xoN4U8soB0KLsCBvc4-b-SLsZFGz3v8OMtBGp-hnqnVxeJhVGzZsZw9P6dgWEFGaMP86bOOkERkziaQjrgKWSqVQmVGB1wwgFGlwD0vBc-DJjssHb0vkgBp4pFA65jivYwBWQXcwyHAZZg0qAo-oeCc1ONUP-QVW4cSnoncZXtPbZ_SLazjt5n_GGJYeYGRhbd3aLerJ1tB11e2KhwNcuLMkprFzTdtbKxTcNP5h1-5TTBYxideS2xkjovDtet78CTEQevhX8_9l5z6W1h8SqZ8n2xs09dUC3JO7qtZDe5MxynCYbXus1mHmOC9zZkDItUcYlaHoLGhIcQPb3cFBiulflINVFi89gs3g6NRSEDGq9O56hL1_JgCLFR4q7oxZTtVT2-khg3v4i8u0erD5S6jIDsOW5lSVU0VorxacxYbC5LQxALR8j-YOGtTH79m2EZJYDrVxEM_o_F5HOHaHoxbIJ4-4ajnhw03JhRw5dCmBO8YZYaUWY7EIhW-QFY7RAnxm0IX7S7Najwqv_p8_vXYy5_YRaSFIEaDtcA=w957-h638-no",
			"",
			"その他の塩田",
			"https://lh3.googleusercontent.com/Bhf_4aIM5Ug2n6heTD9z05IqDkGnA2By167rwVHli4fsgix9OIUTGrJKYxw4F48W5TZDLosAsCH09ZYkYwJZ8mKVNTlaOqUVPPda-oADN8kWVivfaZsWQmHCaZ7Wf7qm-41BFuAjgoFekDAkcEITPoy0uFhQiBaJt0hzWmaTUwUNO1_PI4N8GkOc2dXT2HXBqrygcea-LyNGLX03RqKnD5Lj_j3IddShRz_ZAxwNivajHrzt9FP-wIHreqRogtIw9M4Lkf_lzFf3MF1fJmpJ73DKc2Ook7D81tOe6s09rDJFQ49Mo3og56QCeo_3fIDvkAG9-tA5Ghm1kOwKX74-sOkWORPGTnhNWBRKXtVjuY6WzWS00sGQ3VsAiRyCpxijyqolFFoRFQfk2xksAu9zgtvXH4BACJpyqe-9qWV21Oy7jfIRecta0NHE8Ikb_zr_92uTkKXnqtN5LfJzd61WDSKEDjgdzYb4C3yhJZF2T4pfHcTOdFJb8ZFX7bqeGXiB6qy1L4B8x6cE26Y7prvn7_pKXm5A7lIj26TMfKBdIVuu0yYp4FTONS43_5T4ZOcv92sQYfhdx5QLZ-RZ6erxfzNZ8dXXXkEE4sktDAfKpfIluTn6gA=w1135-h638-no",
			"",
			"★旧市街",
			"夜はロマンティックな雰囲気",
			"https://lh3.googleusercontent.com/pyJXIwGj5obfXstv-dfBlP-0j2-MAwqbGumC3tamB7y0TVavkSVKW5lVV9BLpoSO-j78gutrL-keQe4-GnIx1jO7dViueytGHrN45YQNq1dgBUoq9yyeARhf9qxJ0LH4sjabowppgXQm96AP-LOgTC2JL3MXfWtzAvu6-WLu68ct3wujDDiLBQPF4gLnbuJ61kN2UCTsCeHUSgWcZ8OhnFoVYqKIfDktsiCIEoGUFaXr7Mn4IPVnD3YSvkFhImDJXptswZQTzCDc3OSE0TqWb9rhFmZ7sPeFMhpuRPDj7ZD5bS2aZs6XCoccJidsST7rGkm6B0IUssQf1bqFybYBu7_ML42Lo0tiTIStPeKysXFtBUmGFBk48IqrniSIh2TU5UWl9-B439pOptnasQj8RVgYfupE3HMBwsZfYyHWBcO0XRbAjQXwCzppNdeX0cdJPifCbQvWUqUjh2enchrWNjXZC3GuNkaF4Jl8OMVCqh3SB8o02POfgEvw8jodVlb6YL2voqU3xA30so0kpU7Qt5xNBSIYJxWY5O4yJTMbL-n5gMgp1CX33M91RBuALKC_uH8W5vwulHZ4i9XiFcLYNzvs0uoA_h3nyKuAdAl0keIxcX9w8A=w851-h638-no",
			"",
			"サン・ヴィート ・ロ・カーポ　San Vito Lo Capo",
			"周りにホテルや商店等がなく、背景の山とともに自然の美しいビーチ。シチリアでお勧めのビーチはと問われれば、ここ。こども達はもちろん大はしゃぎ。少し行けば、ホテルや駐車場設備が整った街がある。",
			"2390",
			"3019",
			"",
			"エリチェ　Erice",
			"訪れた日は台風かと思うような強風。路地がたくさんあり、美しい街並だがこの強風でこどもがぐずりすぐ撤収。晴れていたら絶景を楽しめそうな場所。",
			"https://lh3.googleusercontent.com/WPE8q_8DIOAEfOrdn3dxBJ6rVziJ44nAYQDeZrxw_Sn9_bCaXK_4Z9A58bUoztYp7Ezs6eSbpJBM_2-mWIsQo6QO9YfhTkWjvvZsTMCB-I6B5jonGsjQYuD5onVMQCQj9T0kcQ9Z-o9_t-Exx7Jl596qbVVpkbyg6vA0DjVXRdqzonmHT0gTjRWCrnEKf-5g8c4CPPHyDYsDJiqppSJVQN_xODDy0C2_YJmmau1PHiQK-tCI_Toj4QEWF8aKK37CwSZMf9IVmhYWwkGn_0k-nEUWCWrC620q6SbQ33NMqNNcwgQVwc7gYNVZlTDJELobzrwsWOjuDlZW-iglL3E8kEp-XamCU-rn49W594k1r8HrEz9PL7ABeO88lZl6kht9Fo-arNHTyrUgE09djdoAQR7yO32-hz6x8fzb2cLKqqD62lepdwHWlNpB-v-Nh1E_Of4bvJlLujN_TGlzNAqGIncCgJIfiTF2ko7JbtEGdParQnwyZP57Owibgb1Yo8egOvCi4SU8_TwbJLJj4zqh_KXWHCOn4D0PuClxHeFhgFNOiB1M8a0riQyZnPmxBr3bN4qHk16NtMcLHd9nhF6VWnvVJwKgv312g4via-GXc0ILVcdIvg=w957-h638-no",
			"",
			"https://lh3.googleusercontent.com/q6A2pqc1w0KVhpzk-WJPKFWWMex9nXOe5Mm5vtQBsRHcdC7CUqlb1ooTzsX2_zDDqs4WZHrnEvrPYtp1p-YtaBB3mwodpnafzfHR0TzCzBn00RNVoTWYZ6FsZBZ8d0LcGEHC6ugqPBZd36uLkaKXbCiTxQrLHiKtalZJ35-vOLUHUDyLBqjgiojv0FXG95AFG4h4f6_6MLI0bIEpLmwSfbsiFhrdcSPz1YAr9BOf3vtt4t28vPoQvtUgffGoOi_a7z3SbERORwxd1CXcrZwoHeA9bT0-eGYD1r-uvNPcS1kxmBPg59EJkYfgqc2RJ-7D6LJus06C0LYNruzjbmKaeae0zk-4UAwxUc5tN25yj1lwHo4UTtjSRHgBsN4nwqo064SfCUrHm_5N0P8ngMbC0LupCYa8cd5Cv6gRZfGkpzkoN1DXD-jUeYxJ023ID8rsZdeDyyQjYxggNSayeDZeCk3QfFgRqmog13Re4gjBV8op8_4-YsIRmlPqLL6In2WPWAyrVjnO2S2LG1xoC4_P2meHOE10XmKXtgOpbC3QUt8btc7Mkc9FHyiWEsdbz7owWR3ms4fPfbqIMW3TXPBTWT_j96e9LUnyWjNbqREeCBuHeWsYUQ=w426-h638-no",
			"",
			"アグリジェント　Agrigento",
			"無事にたどり着けるか?!アグリジェント。アグリジェント周辺で前日に大雨が降り、被害が出ていることを知らないまま出発。シャッカでいきなりアグリジェント方向は通行止めと警官に言われる。イタリアらしくどこを通れば行けるとも教えてくれない。パレルモ方面からなら行けるかもだけ。どこが通行止めかわからないサバイバルな状態で進んだ。",
			"",
			"前日の雨で水に浸かったオリーブの木",
			"https://lh3.googleusercontent.com/_cxrh3OvVy1N2oyq1oZ2Rgq0gQoIevN63V7sQSMXzJLOcq9H_RqJr1xSgvYzmwp6DIWzOypnFPIDkkLyL1PmOKlb-lOlZyUzrhg8uEa9oq2fOZxwWuz8TRwGD8lNQ4BdMOputHXaHat0cC8m0DuSG4RZ0Y3w13H5NdnneLxo20bB4BKbtggoiAH92Y2hA2CGSSsthso3S7_ptDL7YqJR9gsJwxAu6SGWnpLpgxkEm-_zcY7gTqYMlOsWj4LnaNEwuWa9xOGHsDAVT7y31KHj4Cn6BUU2iCwzS21ZJ69vwNJ8mU794VaZGvoN-LgcIlAkepYX34SkoBkaXkOuaNkHozMnCwSAVfQv4OWStz9eIFWod-mgCjAyFMzye2VcBK8ioM7EiURt1DaA6HjJSfENhe_9AYdwst_wYHRUzjRf2N2UiyNviffpwlT6pOzKI27oW5SNAvqy8kGBr6l7McHwOpIcMGkimzDRWExocObieGzIAcNaCPrH6BNpS--5wg4_uvgSPa_gnioM-ecDkiI3c8-HHg75kNBjYgJpR9z7KMdou_clNonJW2jLexjil3rIcSMy8N2SrMSH4uRhBCe0U8z1tgIZ7-jtEWaFSL9rbS_4bQtB6Q=w1134-h638-no",
			"",
			"途中から入った高速道路(ふさぎ忘れた？)、至る所このような状態。",
			"3352",
			"",
			"途中から高速道路に入れたけど、結局橋の前で通行止め。車を止めて待つこと30分。通過が認められた。長い人はここで10時間待ちだった。橋の崩落を恐れての通行止めだったらしい。橋の上の土砂が片付き、一台一台橋を渡り切って次の車と慎重な体制であった。",
			"https://lh3.googleusercontent.com/ucBn-s8_2Xrozm6pfrmXf10M77l50Tyq1sfTFbiOlR3s3CLy6IQnTarp-iJrWcK5LE4ejqVvBB0fnd5rRhH1DRu7KvefAX6YK79jTtvYLwjGkqwtNx_fHQopem9weCOi8_QnqWRAxgTDy-WryG3_XZJYzQoNd6htfDTZlTJPvwZgmQjlFcD5kfuKpaM0R7JAmm98puKcOXhtYSd1TTdY1Sx-eL2-dUnvqoJEubuJzTbxyiIPmf70v_7Wj9UxHRXwS-Bl7zg38kgSpxgmr-z8yhYpVlbQkVDloPKo_vu5oDcI6EPYKMLMBXtTbrrx9nBis8MDZU5N8XJaQ7nQuIa6UX_BLFrr9rXbSwW3eRtysq0iTnnSUH_LvinWeYfdh54Bk1RNL0wx_MbCelFtiq5-liUbtqX8dX2Lr4cuin6gCweMsn8panhif2If-uz02n8qcmfp0JEQ0lxN3CqydOPeYiVo6CvLElD4HDR6Y4qsTJY-4YKRhtkbqV-mhlDjyxAl4zQZ9wWDM15TUdbBWwRvvdzjVb3eIEBj-ZbsWvs2GkaFA58dX_J7d4aqrewFhgYOEgROD3O7Z2Z-qVEgOtL_qajre2ev8is2PrPmyvipisVU3xAUzw=w1137-h638-no",
			"",
			"その後は道路の途中途中に土砂があるものの、アグリジェントに近づく頃は何もなかったかのような綺麗さだった。一部集中豪雨だったらしい。本当にこんな道通れるの？というオリーブ畑の間も通った。携帯にシチリアの地図を携帯に入れておいてよかったと心から思った旅路。",
			"",
			"★神殿の谷　Valle dei tempi",
			"ギリシア神殿が立ち並ぶ。駐車場は2か所にある。坂道なので上に停めて下りながら見て歩くことに。上とはジュノーネ・ラチニア(ヘラ)神殿の方。帰りは夫に車を取りにいってもらい、下の駐車場で待つ。こども達は正直つまらなそうにしていた。ベビーカーは使用。日影があまりなく暑かった思い出。",
			"https://lh3.googleusercontent.com/e0QPkK7nk8KZhs5_1sts_chl3PTEgfc2HTrGH0BLwJ7LkKFSCxSLVH2QERWmWKcCItcWdkN9d4Furuj3iKZVbLiEYKikRxGEZCjpfJfPKBuPzu27DzvrHKjXprn9JbPACvnPHzIhS870fmO0iO_6bXQj5lOigTYA_0x5m93XoxW7Ur7W2Dxuue-aqYGF3VUIaQOjDyU_KqzEYnwBVZDDIus_qQG7N3wrIumDP1VEXgDSs6coE6QJpUrIWVUjZzr9C6FJ2DFD5L4l-fenoW8fHAkioAAnKCgaoYkylpjKZa_TtEM0pnKx3dTWFvBQz7nwysWQun_LviDI5BHs16Y6-LEZl9SddBxXdwTa5jjnrq4uI-11LN7tBDR9qbRSK-0cvTYR3MuzjQsfjdY0_LpncjtG8bKismnDzx2B6CAUmLTVBKmsfFnRTVj7tprvIzElKZ6NdWMBZzCNCkHbUJ3Lv72SGXL3lXjlGoRLE62jnNW1hWImP4-xehi06A1SI-wE8gYj6FCA8dsqBeKp_9iMvL717hhuHCu77d4TpOf9Dn66v2KabPH9TZ3JTkBfWKTcZdHrt7Javubh_I6ye6TaUavOMAAfNDaVUJO-H0hrpWuIreZ-0g=w1060-h638-no",
			"",
			"虫を見つけ、しばし観察",
			"https://lh3.googleusercontent.com/1shdPpAm8rU7syI-NwYQCKkTKviI89syBor1ipyDC6r256R4AH4YghVF5lg5pqNW-hEswiSu4ta3wgxoEdek7Bu7T6S0U-i_s_GH0mJ7IsgtXRCgp5_7QCgxU01Gs5W3GVkHuBC17RPan-BQjeuxM1KU_iqID_RQurl8e3JmxpEI07Bn8YiKt0Qn6c6ZW-Hanoqysogv5cNuk-4einkqhCbbyIpI8nVrsB7KFAGUyRABhejuWzeR3fKCePPK5OM-Edad0yPsJQRJR3BknrfqLEW1hMj87GsWiUqssYbQweyt7DsFLufMcxtkDksMWE8YYsQzeVa47zxf9Yfi_P3bO3JqR1fNZ_whQfE5Hlk2_VzqSN2hHfnT74X5C5gGdF7FLHPxr-fqwu3s1o7Qry6KaI_1qKZ3BPosAqFn8fpo5XLla91-dfgVaRB4-nesu6ZzY3yhK327gz8X7kYeaGL__uj1vv4732BYeY7r-miOYEmRnD2lE9VR4ehoOSQlivrkeA5a146RxT8vC-7xfY5mZqHXJL_wIv54LqZ68-oPEljVyXLZEJeLpENy3id9CaGG4iY05yiv6cShAoWaI62Kx_dMVVk0MgcutJ0xxq2DSRBZGTTUmw=w1059-h638-no",
			"",
			"見つけるのに苦労した人像柱Telamone",
			"https://lh3.googleusercontent.com/EUrmoH7WIO79kFOpErbzRUFYBM_UzdkTsbbz3HmNyfC2K59LFkTYwggt9uGqEhDEJZkG8IyILErS2J-fFijri1SU1cjCqlGCvXE1nsZiP4FVZPwXR5GV1MqzrAch5wITbS8c2J2qycgFaWefTDHnd_LPK11s7f3mhJ4cI50ziSR_d1MHYMx3DNTJJJwxZLXE4IVaoMe0jyb-tJCrXRmj8UEmaViIoxfQt1o2Jm8Sf4w2rNg9F4KfVN3BeFGnDbQqxbq3pjRgeJcgiV7wPV1Q4t5BqVvfpbchVEztMzHmkdXPxuzloE5YJ-3U4Gp-vR8HgSDgdxSLuflPqMyYoNDEDO9RsTz840m_4PoTjiAzibLES6bfD_GpHOpOmX4GFCwXv4ITDNb1jrttpxpXDZP8gqvENPBxes0wm60yDFo0MIGPjWi_Ln9nnw2CyPdVxY2basSWtjEGQLLUFjM_G-y2UfA95Q85xn-zqfuyFyI0mGf_kKiW4S60RYa-A5rZ81LADRSknaLqvbWAdVaaH-a8A-jkKra4xCdn1klbQc75YeLE0HFQAVIHaVRYC1-n2sOfmhVcmjxvoK6JmWBUI1hS8KdMm7cAVWzkOE9aK3Zq0wniQuuF5w=w1135-h638-no",
			"",
			"エルコレ(ヘラクレス)神殿　Tempio di Ercole",
			"https://lh3.googleusercontent.com/yKlPZxNFrei7OK4F3SJY780-oDzhXnosk-uGRd25QLQGipTisoCaLM3hw4g0vqZRomGUqoENyctaWYfmbZOob4Nvj3pKpHTUq0_CYn9MhH0Pe4VgqxeFAMIJxpl2hw4gNdfmO6pvaP3hcpHz67VeWzRgzfbcL2cxOdk8mCL-vRzSafArK56ug9QSbVEjhkAii5LqoGlpxZAAb8zOpvTkfO1grElbQtAhhXP7YtL0kVv2VSedRo4L7MLrOp8n8UJIhv2vaOn3dWSQSAoeLIDP99_26vzcrk57uB4R91roIalKAuZVvmGiFnDYcArjwZR0EJBBkVM7b73SDvKxozu29AuOHqMeeafNdNqH6fF-R_YWXJYl25UpbMrHewJXaOGapN8myykUps1KzNULrUgdqRISiLNpuLr5_819zxLncdgd7BV_0vM73j97jZZ2q_LZqL4fZH_fATUT-wjJkC42aD7sSxBPq1rNgyKvHdcnf0W8gmhAn8hJ-JCtnKMdOEm4LpvzzGlWdLUWNPN1PByQEf8trlfUhOO4Euwf4Td7pYVlmUl4ERQJI7x0EBR7tAF9G1EFHroQCUzDbgikGjpPg7aBv9gO_KeHyvyHS6MBqKkzMpaDrg=w1366-h561-no",
			"",
			"スカーラ・デイ・トゥルキ　Scala dei Turchi",
			"白亜の岸壁。夫も知らず、ガイドブックにもでていなかった。偶然ネットで見つけた。駐車場から15分程ビーチを歩くとたどり着く。",
			"https://lh3.googleusercontent.com/sAm2GJng8CGnIamDR2qg0gGEU1Xcfi69nPTSKFVW7yYska5KYL0XkbPDHCd01peSp-PmMZLgxOdCTlwlw1o2LNiVN_hGP1iWCmL2k1VlJ0Gqc0AN57pS4d_MyFlZDlvj-N-LmaM-Mhm-1F6FO0x6cm_XGuW8oyB1B3upXmuDytCeBTAFTzref0e6Vqnw2vLkXL1LqOZwwO8bqSvdEx6KBwy4JYE7CNSK4xYrEc70OrMDDQewmTkcqjlY75FheKliU80rRqw2eZMLg1W13jITUcuXxRN4uaCA7BDW4paJhJkgNwZVRDjXfzNiLLUvOYBc8Hm7T6ofe0DYlJ2te0uvRapY8OFv2NhYHq8fG8R5dfgYQtBIx6Dc6VgQr4U5mDI_gPB0YHG9-5q2pM8tkXEXNhUsX0ZF7VBOIkcz9Q_qJ-rvPOhCMdwT78-m3FaUr8_Pwe2lkCW15gty9wf88ZmfzfQzqXuoT3NkWTJ3CB2uVEmEKBuebBUqL3pOhYALJiqnSc9kkaMLAP77KR9vqQ9u13rqGCIC9N6fqaMd3PQWpmI8nLAdOhxEqfGvDjF13ijWrMxtlxCOhf-zftZbTPrUT48qsTUL3weBhSntsMhLV64bqPUw3w=w957-h638-no",
			"",
			"真っ白な坂を上る",
			"https://lh3.googleusercontent.com/WlWxSDKUHMlEnsEQuqiKw9Pz4eHZv2Z42rYYRMQtCWJbmxXcFfDg0gzdvIBVtxDruSWVS7qED3uux8DUP7hNv93Og8k9q8vJKDx71_VjP7AL-R-RrKlwunuB-1zbk-UcOYAXkagvCD8fGLqktYHn6yHd6A4Cw6jdY1eYzflfDpYt0UGwrc22EROEdo5S8dBXxvwV90WWOfA84M_DBROEDa_et_g20bMgd-imTIfrCGLRN5BrVMIyz8fGr3EZA5CeDpDd315YD6SIAUnvYviSbpapOIw_ZZEL1AmzWxKoH8PZ3eZT7WQJPudADqh9IMJAbOu6fsSvH6cd_9PAZY_N7tY84ZfjLmx4WADxwhcoEfqT73Fi-Q3b0XmH6MCRbb2TS2oAmfYygBYBk2zUhl4AeQD8Jg90MxQmZS5jSdsW-5l4ctSk_vbeMTan1x2gRNQQNrt_bRG5SABM6lkFqVmyQhRfvn97YxePAmz0spKfadi69gT34O2B5X63UYuv8gibHz1hqGf8MTnXbpqR5vDwP_MEqnuswOu04VSmA6hAw-1euNeaw9A_qnJjEWZWZ52xR6NQHD8deeMvc_InPtiWODh3VZlDyL8CoOxbkQYoNVqfQw-xEA=w1136-h638-no",
			"",
			"登りきるとこのような景色。サンセットを見るため人が集まリ始める。",
			"https://lh3.googleusercontent.com/KuwGJb-4TWm0oIufnTr6iWuOGd06QCyLbED1HhcNZqkeVuN6RxfhEtjxaqSU_G1VkUsHqPBLpGRNoKSuNQhKKOLLLJ6NmiBtXmpXK_nx8N--PCO9INvHDyActP3AewpMZERbKHGf9zXxqgMKiZKgwiUpQSNP-2tA9F8CrM1ysw6C810_VlbL1VY8NRk6lJ_sv7JxDIvgAg0g8yghKiYPcof2UzlY801GKpT2Ls_dF2G587dQjbkOcNeogFk2FpuhAD29Ao-7AWFhJ4Bq7P025odru_T3zImVdVc2hN810N7YyNast9qBq_yuxrH80kvxoesxnK19RmM9HFVEJ59PhwFQ5wbTJh1LV8_5y0LMCNABe8Hs9cVIS3fc5Di9X4W1YTuL04dAlmBRzJhfcpg5pinA_Yfe8gHu6PK1cYR-3BQHeXgfuj254GEGE3epleQXourZe9jTJzXjIE6o3RAI017MZ25mAV2r1Wjmwy7fYIMepnDgAq2OGSI9PCnT9TkXa9IE_x2QlXJmK2SpHGK79Oxb3qA9dAkm45iSVRXxoEIij_K-38xmwkkkgL_wtAo5meQpOkKNmeKf3f1ll6LCExD1GRNqqPv9al3AHnVo_DxpkyzxNQ=w1366-h389-no",
			"",
			"青と白のコントラストが美しい",
			"https://lh3.googleusercontent.com/ZqGkOKtrcm-V8XHY2j7Q0PIpUcvmvV_LhXRvi3wzJ58wHozWo3_uBWrcynm65SjUmf50t6aNjMbZEeYTFIpXwIXLuqIVcGWwe9F_BZQmed6Dl_etqsy1obTtPsBpV16YPoI7yCBqc7gple1oiKfoiyBeXW8sVKx1Rg2YFHD8wqVvlm-eT3s_RXJRkqBubDqQ74067-HNygHenjrmRWILDwQp9Y-73FZoTpeIeLMpoOlBAAvOsVgSVKhr8FjPn4Mo7Ch2oDtqod6yUzG7YRUPRJIkIQyvPYmBc7CqOlMZ5-T9nLDIxKx--kEOjMCO57sriJ4Ro2ScKLngAxV99hBGVoJX8EOgmlmphVwOcaSOvzI5t8q4qGYClTkZJ9e7M5bsDx2AFPSY2j5idBgOYH6B1-7MgzAv81xHmN7AANa3QbEtSB4fSdBL4xsTsuvxBhnqhSimjZOyHyrSMlOZkx0Z53S5LLnLujWv2O25QR-f5fJzYlQ1oDGgwiY2vU3poqbG8E8uoWOMT7OeUFWdUJ8qF_JBgiaYGauWd3ocDu0i8E-eYtk19BAfbxrqjhrd01XLmUlq43FJDE-h6ha9wKpaALu0LbUpE1uXisdhIIvnql4hQN6Hpw=w459-h638-no",
			"",
			"360度",
			"https://lh3.googleusercontent.com/FkHy7QoKmnNXu74mwKARO18PZHHVcc3Bc5QLRlQZr408jVZqbjHgkMSxzMyWxYx_BZLxEcYiShkV5IaDMRMmGzfGSGDMXlbLdELaJ18qwAu7tGa42AZ4i-sdqnqKLBe2Dus7enVtmFkjikcnlIHSAqHM5HXMbi6VI455E9PsLQLUIuPsa1BMmFSi61tkM2TLeeh7gVGNv6MgiXTErESA1yiQ4HSR9sSfWl0W3hBj-B84h7OgoUa86FdJ7Qe9J0NyCSYfYHJI4EUvynbuHpHUZpQTf_yoSceSU8vT1FEE68nV6eO8XO0EAkAsxRiM7uBlCDB45jdPb78wIn1miuroDZ4Zrb6upEu_Sh2ECD-vll4dGLquSDI3MNCFNsrvogTv4SPCRzmAqwc2NiinJw-DoZjKMN4AuZZbwPvJ3t-QtDG4fgCEuIoZ-pj7q0QerLsyNSUZ10ARA2AMHF21wOV5m8A_1YItv52H2JWw9JuWh5AdtL-CkY7hbL9Ce6unwHHJcFzk73P52E9hd2RDFTFwKtYQN-WnfmQark-OmrZOzhAZfZZw0Gxg2sj-yEhdqWSUoepabsNZdlduuAXQGbsPlWUGiGVjGXvbQqg0PveSb7_0wxpNtQ=w1037-h638-no",
			"",
			"崖の上で知り合ったこどもと遊ぶ娘。言葉は通じないけれど心は通じる。波打ち際で二人とも本当に楽しそう。",
			"5471",
			"",
			"モーディカ　Modica",
			"バロック都市の街中で過ごせたらと2泊。大きな失敗。モディカの街はバロック様式の家並みと路地が網目のように広がり、美しい。車なしであればまだよかったのかもしれない。細い路地を車で通るのも、車を止める場所探しも大変であった。",
			"",
			"路地",
			"https://lh3.googleusercontent.com/Ry2TPuOuA72phjGAcb6TZGS5F7lgZ5Q8hfdBbK69fdPOZNWz38gayrSZBPipRX4FecAHoLMqVkJMievlwr8B0MeyD8mVd3T3qotut4aTkJDzu0hHfUjkKYErpSfKe-MG6mMCT_JUq1yCiq0BEWfYIwcywNe7haSbh8eNT3Ylciy59exLGqkDiQg-7boGfjq6aN6yfuAlPBA51iCgPWD14AXkmKCkIlKo6OC5FN3EKZeBiCNBs0ffXyFQMLZ2ntDkDvmk-_eQJBv6v_uouFg9PqLH8bFpVoFrs2fujw9RpDCDN7YSxeWx_sF8-0T0d86VuttLjwkIHNiAdZ8YMIiTcxXwqamMBXIk7pwq9wTa47HHEAya7T6pmBk-vF-dkRGZY4e4yqfeNfLlfBu6Qvt1JBYi6CCvLSzblKN8CV7v817V04dV4cf9eOWA2gEXlyw5V1lM99mQBQ4e_TPX7FxHPz_Ttrvsf3U0AAPxpLyajWzLvfX2eDhxzkxTQcgWcabtcjZA0ppaTOsfo0HZmSanFS9CUZH3l_gyTp6LU0JPc4d7mtC9K17ylMdsz5WX6RR3p3w0seOR7gTAyTqB5nG1oEHytsR9YHrF_J0aPtQKz5CKWzGjhw=w957-h638-no",
			"",
			"階段路地。スーツケースにも厳しい。",
			"https://lh3.googleusercontent.com/AAff3jS4Hvbmw_9Csp8O3qpT24UHCsjZWEIH8yDwJzvaYrT68vklPmPAwySve6iE_4SXrZUdMiUSdCGMejTI8fZMbqODuwelRjLbyRpOy3U73Kz6JeBHJtonvrYjB8iunmIQMeSqrf1gR8Y2IumLAl8KY6InRQIn8qtWd5WnPniMnwwzQWmqY3SRYo7bdxyHZB8Z8kGrLb-5_WsAy7_kuVKi5oPKrLTVpZPYxB2ERTcagX31teYK8TTCGuY01U30s-7r8C-dDCGICMYv8_n9CYR4xNSJkS6Yzw7iQ0hvEpfGEVV9ZF2X8mahq6zZorxftxdX4hJqK8Jq6LQGemJiNOzhxkCjDW9qUcJl-2K1XqqI8JIrw7YR6Oz9dokFmVBMAwLqDrdOiw1Dlb9MsFzGqfkRuxbQiBTRo1r4zNF-TN6gUytkiEMFcuSEKjoEY9dN2ypudRiAsOVx94ztIzO3WRvgx2ETe-tSG6mEEbo9BHA--ZIAajGOqi3jaQYgiPRmgXSl-8g2JwBVOX5H5WkJb3ZAKnBqvbRMG4Cfqq6lHoCVWOBlSNp3IAxd-D5cJJ-bpxVK05eCfsqZEFYDoLpN5ZTM42R1ugT-3hq5Mwpn08SnF9zgLw=w479-h638-no",
			"",
			"家が段々畑のように並ぶ",
			"001",
			"",
			"ノート　NOTO",
			"ノートはちょっと立ち寄っただけだが、コンパクトで子連れにちょうどよさそうな街であった。",
			"",
			"ノート近郊のビーチマップ",
			"https://lh3.googleusercontent.com/wUZfGdanh_UjH0_pFP13o1XwnHu-G07_ui1ga0X_r03uad0BOAjyIfCvNAqDGqmLQGqzFos5uDcFkQ1zXUiKcPdxhT7vWAMQHUNgIJaUcxN06k5PTRDRrVKoqiB0fsgWY9ZZRNppf7R8_k2dIckty5pH_wyHxBVJJOAfGVmio44FY7GGHO7TzFTxmkTZGOOqUVJzKPkJOe3GwVBdIrRTRi0foFGmj4fNHGjaeQGDV8uvhhSqLq4VBtSXzlZ422T6C_DaI7FEMStfYkert_n8pHdNpFeJF_7k9Pdnakf030sZSQRF97JdUsYW8IqNEpQ5c-bTCkM204UJw9i_lP4m4y-95YAbsEQyqxsfZFHXyOTbhvVFMOJiaF2EqgaiCsTMEDpzTmlVtOdcbtUAGXv7cf6n3Xgtw5zRWiUJ74uz8i5R0LIwxnLERC7nypUCapFIF7xv9arvcBrzzhvcVOReiXu0IJpnjb7Yt49smV1ql1DAhWbaaWIAGRryjbl2e9znI-XbTVfzSa36jpxgZVYi-neD18Jx0N0URf3IlL80CcuLwaZ7FOtCziO5rh6oEg3gXnpxJ5WIbqhXLBJQPTCimWUbO7LI4l874jsUndiH65c6Jn0ntA=w851-h638-no",
			"",
			"自然味あふれるビーチ",
			"https://lh3.googleusercontent.com/zjDq8Coh-7JtNseEbdpvmuEd7FRRd5VXwM1ybSeoEwNee9zmOBDcpj6c0qNYt6z8qHUKXpVX1gjanTQRT_LUlq8cz_NutAP8_jEt9zxJilJUKVUxj3zlzc4jckBidhyI-BH5cEA9864nKs_EDauB4CsxnkBuuU8qrA9WZ9AerjnyXNav9-wF1PpAOpmEqsu7_OVC61dTM7TP9obweYV-WRMWoawoM2f0_Ww21PbtzePEu5xt-3c73EocqGSv19iy3AjDXBGl5MmfmLwpuJyW4TGb5QTTEG0Fr7kjggkFt-4AFsr0iVPEMwhschW0ttkXW0y7qc2mftJfcuYakm87WcSNOdfdWNkE0FXgKAqqbwgNg7zrXBoIF1OD3SHRUhRUivRpl_bWz9pE9H_DHP-2o5XIZ3_96U2MGr2tH6QsjsUmF7Bm4Vrm1H_r2DwyRh1fTSRWveaGTZBs2c3RjVgv7nYTDsQz-N8YIKONo6UNlDKlLuyyhP5MmyZjnz6w3CV2-8PBljlUFfOniRVcwCNyWG0BqIXqKR72lsOFGUuw2f2gRbkNEKl_pWdBznPHQUx8mTO2hx1Cm_U3yigYE1-QeY8Y_P9M4GHaiQb3JZVsYz0_Ar0QRQ=w1366-h271-no",
			"",
			"波が高くなければ海に入れたが。裸で砂遊びもまた楽し",
			"https://lh3.googleusercontent.com/0SfRJxKopZ9EY_g4OLGB-6k9TSpC755ADZkMMqu-yH9kIhkiH1Wt_Tih8_2LgNu14rcWlZbfy7bl0OxIGfbFAp-_7j80EgUoaqMZMwNBWiWuH2tBrwjenaUNSNpc-6YTZhDd9N0QifcDFvce39xd0D5nDdDOKN30fQuFGwbLIRo4DclLWyq5HI9Zj-IquXvRYL48quEnd8Z3dqiRKatA4iiL3brJj9GrEKOk63cH2mR7OiSzarN4fUkUHH-mfYe3linQnsGB_NfqTkKHOd9ivrrngVWcnXC-M4_G843CFc2_KQ554mIbtxU5S8MkuDrju1i8QMYRvabgjM5CO05Tr79J_9BH1IrHXGiiIsp5DFqCJhM3ipdsES8FheAfco4fKiWQYEJnQ5B8r8t9tNCcZGSUqo0pnQGGF1t4hdXf52Yb0MfJe2YB6pmn-cIgf0t-SFDKErOOtZCcvWJUO9LOvjtzp1qPMWtrkLcH_dkx34sYmomMRs4ovyePFxQjlPfZx1WZEBvcwJ3G395rHKPtU_FwQLECFJ38dnmjPxdgI_KWqI00oIxkViOQdKjtRQzi5Lxw1hS2fUWSwuUx5lNrHcdR05sZYNeE7dDWgnq4CU0qYNZkJA=w957-h638-no",
			"",
			"シラクーサ　Siracusa",
			"魚介を食べにシラクーサ",
			"魚が食べたいという娘。確かにレストランに行けてない。お昼は移動中に簡単にすませたり、海でピクニックが主。夜はレストランが開くのが遅くこどもが待てず。",
			"",
			"La Tavernetta Da Piero",
			"魚介のスープ。ちょっと塩味が濃かったけれど美味。",
			"https://lh3.googleusercontent.com/RdTcVipo_j9Dar8-nABf0mRzviRLazD2PsJy6NcDkXsUPThKYCiJFloutWwr0J26Q1nwDqsze9rn3Z3b3M29C7kafqjPpT7sGCM1WtdygZ1d7o1WsJdo6pLrCI04lrFkOy9l3RPZy1VFtvFS0H7iuzk_nLzhDZNfSd9gVteBLT54CwfpH3MUpDdLSde8FE5Q3hK30Jo0CVVte9uzMlPsL6C_y1p7Zez81P0XJcEvISlK60JflrZK5gudV24GquAbmsmTcUIG_fG_XC-oLVyXJYei0bIo7SFKjR23UamZBRWKR17nUOHRA-nZNZB0tDtSsn2xVB_RGKOSD-BnJ-dkINT19kwl2nszFQn6hqT1ykqqoL33RfSIYOl3LtEnDPsmQ5G7RoCgX8p_HZTegBkOKUt3k--NtCx1yjrZvLRZogT47EpZ13QibBx25Z-uFdMMDuJZdkNmq8pNXi0mHEvfbg5sabgN3v4tkp-7GjIshgDvebvPa-U9T0v48tq8eT5uCd5zyYX2bS66YFwda4ccesspF94ouzpnJ7CFtt7U9rFOKCpkJP382qc_QOA66vh_c-BPlJYgrv-4V552pwVjmvXmSgNQ63DdXXCF7n3P_glocr2NEw=w1135-h638-no",
			"",
			"娘ボンゴレ、私ボッタルガ、夫リコッタとトマトのパスタ、息子とりわけ。",
			"夫のが一番おいしかった。",
			"https://lh3.googleusercontent.com/SpJoen7JmRiwBW9q6wKaA2iChHtW5gbu6Yf8KeVhrSRkA2OVRyw8SDVFX2Tm2_u8WPX3ylBqSMZYfEH_yJTkGFJ_6n4fzOU80ebhImmcoiYaYUiuCxiUrCBErX7m9dir_pROKUuXiQdIsOmuyRDBJf0PzuXmz0gINJ4IcZvO0EIirq_zo9MAUZTYl52HIo1fL7JkCWJJP-84hUW9DWSzv4s2B6_Fj7_f1A9q6jamcnfCtguQE5aM5NvYWyKrZxl9PAFOMq1XrkazCnj_tBfGhcQW8imCRI-o4NuCEoW2fzI8GGvH2QKiq-j7mZNkiq3dm_dWCsIARJBrkPN3YHsPXUZeiyP-Q5nUBvIgKka-BDDN4eLknfxyxvpxE-FoeSnKA3PDOFMNUPm7Ar07tdglj4AYQkwRWQSRIbyrdDJBuFY7rYYjRrMAlZ4nRkItJdcQX7D5H-NBTvZJJhVJpuHsLfD7J0noZMJNAOlVCT37R90Py6vaEJpwdMAxKv-h_3eGyXxjTHjVNUWy2AV75RRuwRnaDPqv-occeEhT0UVTjulQ7aTW7JOWF82KeP4LyBhhIazxNiNhFbF51q3Ig1vWwV96BYtPbeINPB2HLv7RNI68y7657w=w1338-h638-no",
			"",
			"ラグーザ　Ragusa",
			"バロック様式に見慣れ過ぎてしまった私達。イブラの町が見渡せたサンタ・マリア・デレ・スカーレ教会からの眺望を楽しみ終わった。ラグーザの町は広く、坂道多し。",
			"https://lh3.googleusercontent.com/wEJI3loJBE5UbE-TF9CIsCyryTp11B8UkdwjHHrGatvYjzqXVqwHFplW0mFjJy9JkISX90jSilA6RHNkiG80JgItBZwK9c6wRSa1aqYL3CGFrtdhws2pGnMABDFqyEmimGa4YnPDDM3BX3QWkcDTZK0bsquSgGsBRcOZ6x-y30N93JBs85BpSFsT-U0OAaGH8dBW_fYz_tYuuqKkvXLi-kVSU82lPlvfYoisS70Z_pLn2bCUt6tXl6mvvxkazB-zILdmxE8I-fUChtpxTBAqQyvzvOOPnHZfEBDPitrNhunW-pXfbCNiRU2jblRtyQEpEeN7-vBsecaJsW_ODlQZvdHWn9mNLKPrBUbjnrGDu58-1Kjg7_212G5KqIGXBlyKxzgfaVJx8IFu4_h6QuHWb0C-hKgJn7Je-jgujtrz2sdHqEvkGHDz8kdxbvIQiAfJ3Q_mThUoAjSg0WYpd5ZOeuAGAVzP1axvmj00IeRjxh-yh1wbM1zTdOKfJYf30jw3ozBwW-sKGJfpX06l1lNpI_Bjr3tI-gKn81eRuMaQKxd4YRr-Uo1jhul2k12bybDKAozTlztOOQ4v-glGTOVfSbLVCghI-xdzIiIzI3_m_vsJ3gum9A=w1276-h638-no",
			"",
			"https://lh3.googleusercontent.com/9gv5LsYJP_44rd7KwBiH8oR0SmRUUwTFFwTGHCaaEKReBqZkT6b0gchLV85oQtuyUEeNtP6fZ9k1hXpJKb4H45Nx5OdZG2yWDroTpyh-K0nxhD4UqlgyjENglAIw3jv45e5VIxZRfQEoDquCgFA3aSd_qBvVhwWtMqiI4VdVospgwmg9RkhL3zAKdz7irCEPcMuMkFVTLcNrL2R79k_WJxbWUrTX8L8Gls2iHkbFD8k5uC6ynrgvpz7Wek86wIiemxE2IkxT1_eCGXLVJcKgDj6smPFfnJkhlAP2XHL8dHiM8tNrVzlcfr_lx61yGQNk2HQoWD3y6mLVANR-3Eh94EUJqrpCFehXrgqVBewspONZb51RQe80KF9lrZDkYQ_P3u2UuZhhTdYeqSEAJ8qSY3VR_oX-gkoXsKJUmUjSXNURjnrrXuQyrExkjEQQucgU6G6F002GXm7TGuix_I3IQhBjCso9RTwvm8kIUt1IKh8VzqD0_CClOMUMk4jHP3SoDh0NiyrDbaeC_GOroPp_L6VSA9sLuUDqZkayPE50cDX9FqQ7DlgPmkz7GkH4lxgjA-C3U7gLOWlAgdbxP9umPgIydG2lzd497puuiyFYnmPOwysRkg=w1135-h638-no",
			"",
			"大聖堂前のBARにて。座席料あり。",
			"https://lh3.googleusercontent.com/jq1XuH-Ysh_PeC3M1gZlg2rwwlRh1Yc4aU-RNeDhvDKoQz9lEiVM2gVjbMo0Ah7Ts34VostakudIY5GG9t0ngmELi0EqHf6NeXmE9pRJkkVfKFfRGf1dPCkhGrVR6JfnnSa6HMxkhFpMSS5UwLXzuQeL37NFo8sKc14YEgwjp3VjKbma7d2z_BLFi2BxF38mdmLLSX2MgXCS7VSeONmdw9zHIoSY0Bipif7MiowuM1oD3umge71cqUil6zGGbNAxHRHH5xfHMfTu8vtpIG1UsGvFMo2TMEizjjdFQxt51hSEr2iueIZcnJc9rj3nJzyvDazSgRkdpJ6_XPSixGpIUj7X7magIeffrGot_onzktrbnm0xwdzfo1ooWmZq5npYdje5_8YmPqClEaCqA7w1tYX-AxWBwW9guYGAQXsCY1UyWiGlpasI_ZatsU_xNZj6d-AE6svLNmDCfE_55CQnpZXdnHnz3NGwy-BVXkiCTaIFLkdocYZPDTKZfvC386GB5Y8RxHhOvtL0SfBcSmqOClJiyEagVW5dPifPhopf93WwX0_yCPx1XieSjFs-FnOGaqekRnisR0K9ZNG5Xn7C6IPSGN6fSZdZWOqvqQyh9Ft7COVVww=w1136-h638-no",
			"",
			"カルタジローネ　Caltagirone",
			"向かう途中の道路から。丘の上にある町",
			"https://lh3.googleusercontent.com/uOUxyhT1KFp6YhK5R7c-mT1regwwvrK1oyncEn-bb_dCG9SbmwMSrLQwuHwJ4zpoDiclTmTlBySQ0lorEMBfNBCLWF7RUk9uqNHfDdH2gfb7eU0b2vKVfOO1nM8_cwsmRM8hodpIBztuyJWXazHKQ3SlAZx29uJwoGx6iiDv3SZLJ5mQYn0cx1JKDY-wAi3Vmqh7e-1APz4dgTnDsxsVYTDJ3UXUrsyhOVr94cLoAGlaSTfwXlyu9BCfk4zVGURWsvvAJtKSlppXGexm4k4d7-JzgMBqAk_v0pEAj8mS21rQe43W0USk_GHH2Uq4Tqpx7VX3uuSTXKgLCs0162pA7KgrYrSF4hV_DjVZq7Ml-0B1mEJaY4VbVdlp0O_9AZ6ZIzHtBzZi60AZEhi7XFJi4E6IaulaQYpwKY-nsK6Q1sm7LvZ6YpAANsHajXKuS2WYVZQOy4nRCKPRPCGhaBDxuh344_bLgDz4xJfRPk-auDMniWuDDf7OkqPPkl_l8GQGCzhojozfRfI3my_iSVXxVYFQo4EjGlH8AK7jlInY2uQEqrnF5REa_9uyWEy-aQYcR5MycRmk3GW-oPbf8yVYsnhb4YJycLqo34PlrxSxxtPDbFZLGw=w1135-h638-no",
			"",
			"スカーラ　Scala",
			"下から見ると",
			"https://lh3.googleusercontent.com/1qu3Esi7RVstGS-X8DECSrFrB-LDn0dsJYXgVUEfvDvQT8RFGEh1ExMqpWE4LujSELOe2XpBNNpSBDoQO2BQaVaEBlCUFt5ebeHOixmJAejOYRQrEJ7J9Tb1VAnRgrkd2pfQrh2yFIVe4ApHruXWxsjGEJBNqbsgnoEoeXa3EQNmZAFKmzOrnxMXr_OhNHwIW6fqsjALPxovVjuHKYbYU9swg1TvGtQvUBPbDAaXeU6ZygB1n60CMl3Fd-1ifI5gsZuMVZiWYYT2zDQsWULy6EWKXImgpAOl4O4sbywlqxldeaGJxwDrROVW_DqxD8AsIxEhSZ19F5KuwkPc_jdDkQvjbtFKEy8fpfEIbZutT-wozgcWOkVqVanS-9WUoTzL4l9xmSwcOQP-HrH_vU7Vf9of6Q92Klaw8SLb0Pxj6WRFupAMh5sV2nZphlba1py4kAXnAvzo2Zsmz4XYQtpSdg9u6gqEOMRZRzbrfJjePGFJREXaMZy6r-JrhpKa9aYa8mshpaLkDy3gZgqHAw10TMuX-l_Lx3UbNM_LxlQipH3cTgqrnYJRk-5GYn5u65dzOePfftipw3pQupSV3j-hqqCKXPH6qgN6rtFCfnxGR5ShmqxuWg=w851-h638-no",
			"",
			"上から見ると",
			"https://lh3.googleusercontent.com/KdU124q2S1-aFBPUsiLxFZWZ8e41i-Qiqb5k4qI8IYZQuy-onv4GFQpsB3cQjAaqobq1mzgGeh-OMfaalDBKFgYW2r1PpXwglwO9H61ZJckjo1QljF0xQS6npxNYbsNaCjcM6eIjrTzJkvFym0mNSSLi6IX7ZY5Uca2OPhuMcnDfdyz8ajj_oi8livXZ9ttWOVxyXgoVXhjTsfKOF6CtcaZaisO-xOA-CsuQZmcvPfJk1b67Vw1thzljoqBmjzf6DLr7KEdtLwtyvlkU46n9Zf0QQ-2vYHxnpWrL9A-xH_j_YNF1wgwN9NvkExZ6u7bfbv9tXcyk0Yp8hP9y6ckfythCGcIFa8XoxX6CkNIBGgzUB8hDhhdxoNC63O1oCBqjp8D1jqbOdbWn9f0UNFOaOaHyRe-DuQpWiuJ9WxuHst5ddXjHoK4fIaIdHFPW8b-4fHV0n5Os_eVuzOlBxUT8l_2Em_tCCQ8QP8z5PXk_lAycXDc65H2m97YJn0Isb6Gw-1pVhAZpUctx6hU1fjkR4MuUdgmhF9dHQSgwr01azHbNVJqBw_ec_bBaMTT1wt0MZTarYf7t7t0OPZx-jkkarmMwde0j_7dBkzdJYb46BVh78-WZKw=w957-h638-no",
			"",
			"誰もいないけど内緒話。階段一段一段が違う模様",
			"https://lh3.googleusercontent.com/Dp19UClPAJlNeaT8jH2lR7veGSK_mwoKwaLoEVBJu8oAyvwF5k-xRirmncsza4QUrWUpp8_OAg3_vNbVCBndh7BN_qaBwlnqOQAhRVK4etzdsbiy1nTtGW1qT5LsZHQRdzOmLbvxcNR1OS_KSx6oWGKuSqYo45shyKoGI_GKUyCb0U0c0hD1JFP12OWaQzQKiwRA_-6Vz9UNHnrvvNPJOsl1ChAinfX5EL8XiqIA7qUkMKfwFhA6f-t8f_Th9Igb6yiGJVgvifJDW3yk0lPvLZHYUyU0jaIYYSp-ZWVvlH9swg7FICZ7iPbYerekTpOSz_-Kf9Q_eEbU6z1MUXJTzVYkw4ZgiuLScAw5vhTmjh8FtX_WroGw4IZ8P9sxVR6sM93apJt4iuMDp2OED-KRS34EkQeCX2pjGeKXNHu6CoH3uzQpcmz7n4wYJjXtUrTRdNhp-KqBRlrFHxx8KG-4fK7amWaAY4heD5rCcIQGR_9qJS1MUPXwgWPWX4zYlrp7Ts0u7qhk_C9Mkr5A39iOp3MK4QCxFyrXNKEGwve-VTCl4LNjaBIOPxBhOo9bfxQxjCCEhX7TmeoU11EaDO2otpSVv0IdC5OTDFPvWC5VYOUgrs0ncg=w957-h638-no",
			"",
			"プレゼピオ",
			"日本語で言うとキリストの降誕。この時期、イタリアではキリスト降誕の情景を再現したものが飾られる。",
			"スカーラ近くで見た一風変わったプレゼピオ",
			"https://lh3.googleusercontent.com/qLGafdT-oTgFjR_LXmwuAw76Tow-iRDxZD-UWiuLz2-KNeq4nYca-ZnkE3BLIarQ2I7s9tQak6rwrNK2r9BLp-KCNJLC-KHSzkAM1n5m-YjSkpud9_oa_vnG6AUvNLn9u1InfCLRn-1w0eka6gV0FUOC35jQa3B86OP7UwA4WJwWImCmnaKudgUAyG_SmsKseKDMs6rp4UdPXz9ViTCVcNjQowELzZEf_BzT10tVVmRTf5hCHxa06DdWFT_qiLluwK71iTeUZWoVmzPRIOvyfw2ygLw7FwnIgwXA02PLYicAxfRXpZtSlmzNXXy_mXfFeQzOTmS3BEsybyOPM89koYnSvLucG7j80YFXu635eOfcoHjYz7FmNx5nWsuCe8DDrqb78k2y_5ZRNYLIKlwPifF-BGYV69KZPHLWmMAgTjCc1eMv2dlPsCIwVIQ7_-a8Ch67a_pi9qIkyipMTIiQ1P7UvZ9m4vg2Of8yhVhu9yjjJ3PpYPpRL3Wx6zhwBQCALowa9pBtdTqPZAR2_bx-PUMIzfvG2WUvO7Lh5-Z3LYuJDrnAG8HG7MEPlafm3q4oq0psAiNOq08w-Nl_UronsS6Ldq-04bmZcRB57lhjJCbOMt6KPA=w851-h638-no",
			"",
			"https://lh3.googleusercontent.com/6GXrA131tkQtyU8VQ9GJWh_N2zLzhR-eTVWsRNM4On-nG3-9WHROA7rCQPxAuNDj_QBZbeX7ke61PGmkbegVpiTMW08HIO_Srixfx1f5sSdspbZi_wQfYIPGsFWRdnCd8TeN0zMj03oUfdF_eTcuj6yrMA0WCxzbT7cfI-gey5Vlp3OAIm-Le40Y1qhpX5rS9Wfy_nfNJP5emYBjY2a03pySZM8E08kgdykui4z0SC91YHIK4UfzL42dHvYypOZUoEwTarNZJiMq3BHiRZcKgSOoBVUZNSpqwhS4DvisoT1N9JWOfJ4KruVwpArJNik443NLs_kQf7-fjsHMb6KFYTwsZGcWHW1piY62RpNKOBGoZ2YjLeBj5lVVhXMAHtCaXelNDQTTYRjc7SrEwdZi62aRBZXqvjYaj3YsTCKA9t4_tWPg9lmTHD84Yt844uyaon7IrK6WZNI36cS4Ct1m6oQZixPhtVeJrcLg4mz8Embp7eM6zSr7TBAm3m7CmHYUNoX_QbRo0aCG3o_atBG_upHr7L8XAMU8WJkNrY1Sdk6ZkdQNi0mDZ46KqxVOH6YW9ZSpk3KKITxOZrMMqBKiKSLTdyOPPlAo29Pb_sKyN6yJZeDaxQ=w851-h638-no",
			"",
			"カターニア　Catania",
			"旅の終わりもカターニア。カターニア空港近くのビーチで。飛行機が間近に見える。シーズンオフで誰もおらず。水はそう冷たくない。",
			"https://lh3.googleusercontent.com/uLzrVnRbfJ4csLxWC8xNHPvzWWjecE7fTnW9QgQ6hXMK3K4bJ1UQvp1VEcStt9jEU801pxYJ4IZUUsY6W44cNgxZYjOutHiAXQzcHD2d22dUYDen5jWVGXABtYjou4HfqheWS2iBi4Z1UEwdSEd3EkPmm0_144cJTU10yhl37UtKz0K9cxmWmmyi6KJjd6942ip8PfC7PrWQGUx4N9GfNUJlnAXcflaBJLeGP0xCpSpSpCzZHEmHqhx0Ia1cUrjXrBduUD4wVVXUIXjCZDvvEnMPThyc6bhUKzhpr8s9RoeB1O-8rfMH2EHyb3ZjdPzliypjsk65nq2icymD6AkQ2IlHqa8V3BDZgQmCStv6Mb42uWonjzZHfJuZQRCNKhlkyzeWZK_RG6w4nNHge949BkoV3jU7KbyXnKIFHZkjS3OOxYqIo7aQwDqb473w88xkkX3I7YKVMEbMXj3gK-DEJN_y80jHjaITc578RJc0KpiRJPPg8kbCi4NcCBWUd37XLE4U6kPB3Y9mhBGgu91H14ahIq20FeHIAnQZnjY7DbyUNQmUAeMKBl5anWgoMlgGwzyXAsirJICO8QIW-hkrB45zMYsolk_kxxUvpWWHN1-T5IVy6w=w851-h638-no",
			"",
			"最後の最後にやってしまった。いきなり打ち寄せた波にパニック。ビーチサンダルで飛行機搭乗。",
			"https://lh3.googleusercontent.com/FKF_MCbQKg38pU6BZNK4xkwZGUxY5AfTTX5ijA3g0iRaRkpSQepCqgPXqrMMcb8Rq_mwWWMGfJQExGDaBs6Sc9rDbtAWmwvfs6Qveqnc8R96xiVgbOAFlyZSpLCjABnTvA7tu0a-JrWZOMsy12wop1DgidTCxTwOmpVuGlAy7fqqQXLdBDtJNobpCoIKH98ldwxEWiIwhX3Ct8Wwi139fNjli2DigSA5hvXit2HnwuhBEMf6WDgM9ZBycSeOtIXDbgZaoZwYBCwsM7BzNuS-p1TewptcyCpelocHtWHGYBgEiZCaACLF7cGD44bTL4N5u49Y819rOTo6TAu2QymlogupZwfLtgpZFxxpObi2fsZ8EXhqRrmR4GjrpooK58srSP--Kd7ltBNOtwGX4Z7ju7W1fFn7X73bHSv-vVg6eW8H88VGtBIW-fcgjWcXg5qrHNhUBHDX5bzTM2UNwPUnJrgwq7dI-v-43vwi0qwf6mqR75oAcF4thDvfnTaqFLwfz08n16OyL-L5Yj2X6yXojRFI9qUYHXbW94wPssAzMbW5Da7iBGAefeDzzfPMP_Z2nunP6Cy_YSIMIIpWiCUNZmBzgxHm_jGkmNd3MmrXjBX0rPp1-Q=w851-h638-no",
			"",
			"その他",
			"変わった形のパスタ",
			"https://lh3.googleusercontent.com/3Rp1Gp69KuTWjUakhiY6xecBm4lyXmoCCN2GqprXO2UHTSir1PmwerQ5R1b6buQxynANsTbMrXE1oqAO2aA2Bvo4_9Y6OmYM7fSGdRaZII-WvO0mRUrcpAlgdU7I8ey2-O4VnZv4C20KwKVAFK4Vds8cEeeLxkrc_whIYw9rbal79qxwXWdDUNOCnpgAz1r1KErHSr2qaRAPxgv7WTcaO3W9uHrFQKbFPTInkOBG6rjqXLZ7cVrXJw6FONWdQZVYBZfzXp3qWc22cIlKVU5ytk-k2KOwTzA2lPxoFwLepeOnxrmTy9DNkwirp1uS-J3k6YbEZgLxPjQaLuJL4fzcTtPGuk6ZH-eJy9yPk1EZrAeNgHlcLevLw-bA9h7ivUZuZQ182FOdxtRKI20O7hgQ3jgMdB7WBkwhyZPhahVTf6B0PRAHQUCjO_SmxTMo-pjiLfUmtOR7KR6uB7vPVP_h4jYTYAtw7oN-k2zXJZxuBBG9uEk8wvrSSxGrSt9DFoqF-TLMctLtnu2BPEapQ8pfknYsdbX1CYj3UNt2xUaPDCSmq512cEhSCYJRloTTcyhyLooWRxv3IQP0R3jWEZ0PNAyQ3eV8HFgluDLyCGzTFMLp4UcARQ=w1137-h638-no",
			"",
			"シチリア名物イワシのパスタソース。味は。。。子どもと私は微妙",
			"https://lh3.googleusercontent.com/XYupW6iUWSL1KlC64QKYSiwDFgZ_uLe-dP2MjdrJ40B1f_L0vlBs0RAkvWwKs-Ckv9L82UwYrCCyxqlFkFP7qKTsUZmJ3ZiYgc--5ZuWpAH4eNappsNlHBcDr3etD045jayWO_qbesTWcRw0cGdbseMbPb-m-cDI8nuGYaN1bQTRYieWFz3o8TJcqZXwsgFC6i66Q7_dD7nbtq8LGZLJgYLAZ_jJhsRHUwJxHhDcdn0oij4RCoS2oWOxkd1czsR6ZD8ZgGeG2peu68eAxnymYEXGCoD_mWR2N5DETtjCP104S2O0cDGcKRMAgjvFgdMKxUNHCnWsUJ8Fd195GAgECV5yyEnr2pOkll8yEk6j2nzQ0_14VHrE1ugGOBd4J06CvfrDn6vtubG6hCYhtIZtWSBIQ8dh2f7ws8CK7mZdfKJxOeC0-3fjlNGIyMhSG7_ZwaKTjIb-2izsSFod7WX3vmG-xmJ8KQP549sMkwbgg3BaK66j9q4EZ4NSJzWKU4Rr7ID_DLXlLUqtNRZevW8E_5jttXIyePN3BlPVmqO6_bjN1IMrBGcGZj5Og7apWV48QqdHvOt2qBfbaQ18SHqp6N3AqA3CtT6fafHnovLISxYy4GXjYw=w1135-h638-no",
			"",
			"サボテンの実　Fico d'india ",
			"https://lh3.googleusercontent.com/bcs_z-HbwT76IY9dUMIc5qjCiFgujofQaxPJaUM3BufxzH50H7bi6986XcTn09a4ZNOesnB5y2GIq_VdvEGj1TAPKb36lXlPr3lorl7O8CkidCe-zvyrZnDLfe10I2G8xW1S_q_A0B1IJYyp5E3j4peTL1DB8pmXg5WkVn4-c8eChEKmerFZEkWqC0PSL5ttJ8NbKAUeZmFxqEFPW30v9SXXGM5R9bXZm1Nhit_iQGMqN0OoGEgk-XPTrP4MmrPsTHvRjlAax1xs5SJmDHSIVJGZLUo7INp09R5vws54CvINVSIuxh2l4k5HW48ypbfvuPNjg_TvY_T-oLlh3W8qzk0zWCzbF1R1LHOKhrsgVxk75JPhJRGEIH5-_PejO3hX0ndkMbUVhtcBHs-FdFElEPG3oc5YMtIncJLsIJuo0C9SJuvLbGGCtbwawAjxD8XynkxqtPjVdVz7EyrM_Ed3taUBhDOPAHu-D65LpkfevW0sV4wtSZTXPo0xrxbd5er7YmFySDewsej1677Q6oyo7loHq6Z3Iwi6ETzXaVj85RnlfZuHP_HwqBmZ-LdWqpXLhs0XO8kMuiviIi-zIWElkCTQvBT3mfVlPhBeZ9VJ1zAfHWgcpw=w1133-h638-no",
			"",
			"寝苦しい朝",
			"https://lh3.googleusercontent.com/8jYUWJxS7ZQepWTKAEo5QM_6MhN5vsBXMVfer9bLbFKD2YWnbF0vcGMd6JFo-5bd-avix-fJTwHdrZ_9VZipBsvvpfQ5Lh9i_z62X3LPsvIkfuUY0rgcN95I34dmDI-95RxR1-qlHoljMt-BmpC80IwAu2YfbVTW5R8DfK6K47orPXGA9X4Yo4KgSf11f-39OK_AvB60dWuLgggZOPLf98OmG_zsExjjg6QtEGXtOMQsBCjiqpH4TYn4AK8Zs8Dk5XRoTvigOmQhPQbpGTEGpY0tH1iHVromV2eeS074Sd1l6HgswEoPC2G4gimtLHx6UgBW4Ewp1KcwjQGeG38k4skoTaVo_t1gGAplvy5VBnP8OqGmxQv4sU7OEhdrR8Ads9jtNonc7sS2UNrpmK1W8TLSav1ecEQcTZFsbb-y671dlWjdxwzKo-ALkQxmBD3TAl3iMZ5yQTA_POzA5zSGQcglMKpvUllsbDYgK-CHsfUJXMqJldRynE_6ZouSJlPQd3ZLAUP9-nSaLkbp0-SfuF4xOp602cAe7wjQ52qYcZH05I87ut1oqPXsPQUNiOh06JG9wLF4AwRZLlvrSEhL7cQ6tpNFKkO-X4B2jw1mh-aPNRKpPw=w1135-h638-no",
			"",
			"旅のインフォ",
			"旅の時期：",
			"11月中旬から末にかけての旅であったが、海に入ることも考えるなら9月末か10月初めがよかったかもしれない。11日間で天気が悪かったのは2日間ぐらい。ただし、１日中悪いということはなかった。この時期は店が開いていないところが多かった。16:30頃暗くなりはじめ、17:30には真っ暗。",
			"",
			"宿：",
			"夏の半額程度で宿泊できるところも多い。airbnbとbooking.comで予約しアパート滞在。",
			"",
			"食事：",
			"行こうと思った店が閉まっている事も多かった。",
			"",
			"レンタカー：",
			"カターニア空港からレンタル。契約書にカターニアで車が盗まれた場合、全額支払う義務があると書かれてあった。カターニア以外は保険対象。注意が必要だ。装備されていたナビは古いかったのか、非常に使いにくかった。豪雨と事故により2度携帯を見ながら迂回ルートを探し進んだ。",
			"イタリア人の運転は荒い。一方通行も多いし、方向指示器を使わない人も多い。歩行者も確認せず道を渡るので注意が必要だ。",
			"",
			"子連れで：",
			"うるさくしたらどうしようと考えず旅ができるのが、イタリアの魅力。",
		];
