extend ./main.jade
block content
	-
		var content = [
			"ドイツ【ワッデン海、ブレーマーハーフェン】",
			"ワッデン海、ブレーマーハーフェン",
			"Germany (Wadden Sea, Bremerhaven)",
			"２０１６年７月　娘５歳　息子２歳",
			"滞在４日間",
			"",
			"https://2.bp.blogspot.com/yjKIn_VtshkluwP8Jaws5knv5KInprlEDgdBI-6_OJutGcHHWxrps5FvqAB0NPj7r9stDM4FmdAM_an9uhlWHBq3NIXIIbrsw_RHEB278F5x9lc_LlfqU9tu9FX-w6M3YvHyxqhnCO7QUZr4D1ygsHwkf-dMvEzCP413_h4aqjui6udCNTze145CrFQfKIaUhGPLDl2eOyWttf9xFS_vMo8OzGeFe2lnUIf3XTwP0krGEqHIaTdUgEv1SC90w8KzjbSf782BR2TWVdhFleITbGYHrEFq_9CurTh6oF6XR8B7Gxq1Fz7qfXHyDV_am7_4ntEPc25a5dLnkTpqdWR4Cz3TReKTjW3t-z86gyD6QGBzisYvp3HhzTUOaVW3UNHIRCjQtDHR_u1Ryi-AYBUKE4CxWTfbJAYk70Ht8u3MfDfsihkF4OAe8NjOA1Zm_Gl1yUK0HIo_-iKN2cMfZexejU-dLrd-aBjPEBZFLCJe8xuKTz4ZRjTIv1_En0ZeAdl88N9FEswrMaQjuPYMIHiCZwzYNRjQJ0OWKUTnn-BOfkLtnKJRm4co8fRllL4ZjFNCduVvm8kdvgcIstLiRPimtu29xYZ4CxOhFJL0JTAjIFWPtVCItQ=w2028-h1352-no",
			"",
			"ドイツの絶景が見たい！という理由で選んだ場所。そしてワッデン海は本当に絶景だった。潮の満ち引きのダイナミックさに感動。こども達も貝をとったり、カニを見つけたり大はしゃぎ。遠浅なので小さい子ど","もと一緒にでも安心で、海の水が温かく気持ちがよい。最寄りのブレーマーハーフェンは体験型博物館が充実した整備された港町。",
			"",
			"<!--more-->",
			"",
			"一泊目。干し草の上で寝る体験をするために泊まったかなり内陸の宿。airbnで見つけた。ふかふかで暖かく草のよい匂いがするが、こどもの寝返りが激しく草も飛んできて快適とはいかず。",
			"",
			"https://lh3.googleusercontent.com/qrJ0hnXGr3bC4LtJpeZqzr7ucOXJWIPKkmmqovdbddRe7GjkPP4RTLCQQMpd21PweWTzzcuFHon5TQ=w993-h662-no",
			"",
			"https://lh3.googleusercontent.com/F-w6ugRUdBW6fL6t46KaJWcsN3MZ8rNKt9LxQEuTz7XTFFRiEBokX7PYCXxaNPkWihSzPrQcABsG8A=w883-h662-no",
			"",
			"広い敷地内に子どもたちが遊べるようにたくさん工夫が凝らされていた。オーナーの犬とも仲良しに。",
			"",
			"https://lh3.googleusercontent.com/gCyqMCCWKAz52uBrOnEltXgycGEoIOaWDn9V6Q2arSme82s1vjxIoRPnP8DqvlU7GMICMV1QibD7iQ=w993-h662-no",
			"",
			"https://lh3.googleusercontent.com/QpgvJUIGWzR67yomgQi01qc2IoJUwng7hbCpEla5ayMYl2ZXqgAuEuArVHk3ZlFXJ41Q23XMxgRTQQ=w993-h662-no",
			"",
			"https://lh3.googleusercontent.com/_g0yUn9ogcQGmyIg9cWJpAk_FJgsNCZnqM_SByNAn6PeXvYrYpwWemKcdcFcAk6RNYXIGqoyD29zpg=w883-h662-no",
			"",
			"https://lh3.googleusercontent.com/zbWrWVJ3zEbE0ZtlAJJ7qKfbjtooGbr1J0Piuo9Of9CiOjfzhO0eYrlal59rR1Q9j2PbQC04zGTDEg=w993-h662-no",
			"",
			"クックスハーフェン Cuxhaven",
			"ビジターセンター Wattenmeer Besucherzentrum 近くの海岸。有料。北部なので暑くはないが、日差しはやはり強い。食べ物、飲料水はあらかじめ大きい町のスーパーで買っておいた方がよい。ケバブを途中で買おうと思ったら、午前中だったからか準備中のところが多かった。駐車は皆がとめているところにしたが、駐車禁止だったようで罰金の紙あり。",
			"",
			"ビーチ入口の掲示板。満潮・干潮等記載あり。",
			"",
			"https://lh3.googleusercontent.com/e-dYY_i-IafKT12j76tuqQJalZI7-kRlg0MDqkOICwu4nNPATvL5Llf06okqh-e5ua2JpKEpXCCGZg=w1177-h662-no",
			"",
			"１時間ほど馬車にのると島に着くそう。",
			"",
			"https://lh3.googleusercontent.com/wI5vWCKCS-YBcBrkymOrjUhE3CydAfvpyelrUfI9VFv7t0IaGaYahi1Pms9hwtAlWO3ZtOx9Db6Q-w=w993-h662-no",
			"",
			"この方は乗馬。後ろに見えるテントのような日よけを持ってきている人が多い。",
			"",
			"https://lh3.googleusercontent.com/LrgEy2XsNRbyXaCmfVmj72YYSChXk8U6N5zX8SgeRvYtdLRuZLB6v7Codw3I2c18t7BHGbSfxgY7lg=w993-h662-no",
			"",
			"干潮時",
			"",
			"https://lh3.googleusercontent.com/YlLY_NmtuMN3vI7SLezBZi5ZesAIbgYEPXDwf3gcKz_952JvRcCIht8M0lJ32xL5A0ReGwuIBCe0Fw=w1177-h662-k-no",
			"",
			"https://lh3.googleusercontent.com/VSbTgKz42DUjnztY1UWQCQ5UycS75aiVUFAczulq4NlsC7kvLMGZl7_nh_ou2La8OvTrgZm8TUnTdg=w993-h662-no",
			"",
			"https://lh3.googleusercontent.com/LZoXdOgY7uSg1OmfaJvN9--N2cHSt5I7aKEz5RwUYdZB2PgdIwvHClJP90-v1LsMdmHJ6vNQBvf35A=w1083-h662-no",
			"",
			"",
			"見つけた蟹。",
			"",
			"https://lh3.googleusercontent.com/Eluo9M_r1Zz_QyWVg0ElvioSSQKHB1gYJrdaJNFukBY3FkLLTgPeJje8INPdHfUi_l1e9YVtw1ILvQ=w993-h662-no",
			"",
			"満潮時",
			"",
			"https://lh3.googleusercontent.com/zwS2Btb2kMLDyB8906JVydigqUxW88en9JuNfnerRZguy1GeFCf7GyyvHuP-53Kf_JahperobIFb-w=w1177-h662-k-no",
			"",
			"囲いは干潮時にお子さんのお父さんが制作",
			"",
			"https://lh3.googleusercontent.com/3kiguPkXji6VOIDqODYsW2n5h00qORbJZt4Z_bTB3wuUmDoYZ6MRhxSRwu0iCIicvWaoC438FYZLvA=w883-h662-no",
			"",
			"泥だらけの貝を満潮時にきれいに。",
			"",
			"https://lh3.googleusercontent.com/iiA6-_24Tj7HK_nXOUXCyBWumkp2YLUqoNGnr-ueNKf2QtrOoJWNWR7J6sGjCl3yvr-fdqj3IidWQQ=w995-h662-no",
			"",
			"再び海水の引き始め。右側の男の子のようにスコップがあると大がかりなものが作れる。",
			"",
			"https://lh3.googleusercontent.com/0vRRzWiWNmooIuUUVHEqoyfjp0Pb7a0qa5ht7jgH7_9cRoaDhrOLpV6cwXkwZimZatUP0zMniFm9Qg=w993-h662-no",
			"",
			"夕日が見れそうな場所へ移動。ブレーマーハーフェンの港も遠くに見える場所。",
			"",
			"https://lh3.googleusercontent.com/IzRFPmxtzeSyxI9RofP4-pvIhqsD_Rtl6kVFhzaCTslkwb6_PgcR9UPCX3cXt-PdQ_CDlEfC673J9g=w883-h662-no",
			"",
			"横に子ども用の小さな遊園地も。",
			"",
			"https://lh3.googleusercontent.com/fI2j1_TmowNOwqNLuhz7mgE5hn_rVxstWhslIUYeWO0_KEpr3uVRyl0p48xAKOgdP7WQFaFocuxuEg=w993-h662-no",
			"",
			"干潟を散歩している人の姿も。結構ぬかるんでいて滑っている人多し。",
			"",
			"https://lh3.googleusercontent.com/W-6cHaGXzdTJyDkbOeB1BpB1PUlop51GHLUR-uM547kqWDCKM-xP-JhebxCT-N15BZeYzQTIBricdg=w1177-h662-k-no",
			"",
			"これだけでも絶景。",
			"",
			"https://lh3.googleusercontent.com/g--P5hesTWGVOFMObv9AYa4OHbqXlBZ4zX8DkG4iApZfxqPPiRqvodN9O0Ale2aFYhfRbabXBXD8NQ=w992-h662-no",
			"",
			"夕日。素晴らしい景色でした。",
			"",
			"https://lh3.googleusercontent.com/jTleFNjpFz2cQ1UVZZcGGQUnh7OyyjwmB72hBd6n0-yseeg7B2BiA90eBHX1MdF3R2UiNElVu-iWAg=w1177-h662-no",
			"",
			"丘の上をのぼるとまた絶景。左側が干潟。",
			"",
			"https://lh3.googleusercontent.com/2mDTMzaV9nn9lJoeEqS3GHN2rRWTAJLeC7PeVRYPl1Eevu0Mh69pyRShV553QOfHTgq1_39FOMDXFW2eMaMgdtUgCNeiey8Xfw9wdfXUE2nHbRr0XRxIPE2YbYI5hl8ksuQ5E-qnW7gjrOMbYxw5sK3BI1Cbme3Mm2c-5VHsVsW7QCSkhYgLStkwIR4sBfmeNcbzylNkMtKAf7Y1DI3aAG6EsGD7LsMUxJFZ3a_ct5rquNseUpQ35dsmvZViuISoS7MnF3oz4RWnDFI-92V6_vy31KvPwao8d3fPCERXbDZFdXG7yy-A6cjzNtX6qwGP-khbzNflkmcrIRK9VSICW7D-ie1zKRfAvNbljA0_htkLQvedXpuM3QXolIz-_mXw0CiYbNZ-VrhY7ZM2yWXg-buLtD1tcaq9aHqSmWT-drUVo1zxoSmYt50HngBk2hE_nfRxFh1h7kovo8BdyqVVpUWbWXUnvqMzhj7RH5sc1gQQPaLukwvnHIz6R2p79luYOVD2atVKXq3_KFsw_vyxKvhXap8lgAWjbjOY5RpdUMVJCMhgkeLCrVJ_yDYEz582GaI3u27bm4qL53P3bB4lSkvsSyYnW3V7pcLfMv7zTcXiWbA0Tg=w2098-h1398-no",
			"",
			"ブレーマーハーフェン Bremerhaven",
			"港町だけあって、魚料理がおいしい。",
			"港で見つけたローカルなレストラン。安くて美味しかった。ドイツ語オンリーっぽい店だったので、表のメニューを書き写し頼んだ。",
			"",
			"https://lh3.googleusercontent.com/6p0t88odRvaZd9ewE8FFlBZ1Z-e8BkKype6f4FN_6ZmHw3LdOekYHK7zq-RgXjHQv0UthM5gyBkmnA=w883-h662-no",
			"",
			"https://lh3.googleusercontent.com/-AZte7z37SW40okD69zRgjsFJL9fE3Zxr-YHkssAD_O3Cy6ELS8PrVCh6V8UMoMJcZtBFLEdfUXYrw=w993-h662-no",
			"",
			"https://lh3.googleusercontent.com/Wlg9pqGfb5WoYtSoq5FjB72hYIxnt4qdmsW9w08Mx9ZLVYFUrCLN56DOgp3pxv97ylCjAg1Qzr11_A=w993-h662-no",
			"",
			"Klimahaus Bremerhaven 8° Ost",
			"世界の気候を体験できる博物館",
			"館内は広い。２歳児と５歳児なら海の動物園の方が満足度は高かったなと思う。小学校中学年以上におすすめ。館内を全部しっかり見ると結構時間がかかる。写真は極々一部。",
			"",
			"右奥のドーム型の建物",
			"",
			"https://lh3.googleusercontent.com/1JlTfgZcQNuGDqh-gBZWPaEJ9J6HDt0jQ0_2xDkwRZ586f_Ok3f1dc8uwwr92Miql0Zcp3tuvF6qUw=w883-h662-no",
			"",
			"入口からすぐ",
			"",
			"https://lh3.googleusercontent.com/4KGHgDQ1YrF4pm2cIRwm4_X41d4c2TApYmtcePrjMPlyRUgTikjhIKyAkqvKyZIhXfgOwX0hlLNZ5g=w497-h662-no",
			"",
			"氷の壁",
			"",
			"https://lh3.googleusercontent.com/vLilz7V93P9vOyLX_YXPLQU39TGyPLBWFqA3szTY8hwLtnML1rshfFbiKi9mRqtBoswJPpyFjE-upg=w883-h662-no",
			"",
			"氷の壁",
			"",
			"https://lh3.googleusercontent.com/LTc8esorlJy4JHGgAGXYND4wMGtwnv8uHVd9rm6yrZUNPocjg7Q_jvZAPrFAANTiYrSjkK4fwxuR_A=w1177-h662-k-no",
			"",
			"南極。薄着なので寒い。",
			"",
			"https://lh3.googleusercontent.com/047UIHgybyQQP4hjLfGmiC8wzjQzmp3haxySGkIRKEnnWvHbkaie3FzhtJG9TOavFSf4OWo_fiamHw=w883-h662-no",
			"",
			"アフリカ。アートのように美しい部屋だったが、暑過ぎて長くいれず。",
			"",
			"https://lh3.googleusercontent.com/h6Wv6WI91OwFTbv-rgk7st9yH2EUR9W35oZY8WARpSS1tKNF8iqqIOH1gWwC24g4r_d2bHy5fiTL9A=w993-h662-no",
			"",
			"満点の星空",
			"",
			"https://lh3.googleusercontent.com/tNZEhWyQKEbM2IQX3hg9tBVXMO5F9WvzbXzqyKXfqAKIhlTa_-sqkeJPAhYAIKa-JdBy3rl55rdsAg=w993-h662-no",
			"",
			"海。",
			"",
			"https://lh3.googleusercontent.com/zuaRQMq7C9McMUy5w4fyF5zpCk1UcD1rmk8txfTpgwrEU5PSBadBAoPp2Y53gBjph89ik6_UT0ELrA=w993-h662-no",
			"",
			"干潟",
			"",
			"https://lh3.googleusercontent.com/xZbX5XYXg0EhmhBNm2y3e5ig4W7T8T8BTLHBRBKK5B-gpOL0Z9O7qXr-biTYeIh0OsWwllhciPhDTw=w883-h662-no",
			"",
			"お天気お姉さん、お兄さん。ブースの横に機械があり、チケットを使って順番をとってできます。混んでなければ何回でも。天気も雷雨中継だったり、いろいろ選べて面白い。",
			"",
			"https://lh3.googleusercontent.com/EwxmGaSJExdqMOLLb4W6GrvUJyCMvsvc1ej5P-XyI0fEA0S4oPrqDeG-pISOv8L3Vq6uDx3-bwEkcQ=w994-h662-no",
			"",
			"https://lh3.googleusercontent.com/Kln_T4pRR6Qkzdzx1BuPzxvTP7AelPIArPBXen_5ndjHVr_AtoMsJpg7Z0Vpsc_C7U4NnHX0PTfMvQ=w993-h662-no",
			"",
			"テラス。疲れて休憩。",
			"",
			"https://lh3.googleusercontent.com/AEDakisFUCgyNzKWl4HVsB3GPjivwMIU27h8RaTWOk5bz4POg53hHo881m1uuC-ccBvgK4W8PgPxmg=w993-h662-no",
			"",
			"ブレーマーハーフェンで泊まった宿",
			"なかなか手ごろで場所がよいところが見つからず、唯一見つかった宿。",
			"ダブルベットに夫と私と息子。娘は持っていたブランケットやピクニックマットを駆使し即席ベット。外にテラスがあり、朝食はそこで。",
			"",
			"https://lh3.googleusercontent.com/UYsE8wcDMoKJnt9YZG3oTqOqxJzVZuR8rIRQr59XrXoRz23CYWOSKKnzWXcZC2nrzMdZh6bMFp1emA=w883-h662-no",
			"",
			"マグデブルグ　Magdeburg",
			"ベルリンへ帰る途中で立ち寄った町。ブレーメンに立ち寄る予定であったが、第２次世界大戦時の爆弾が見つかったとのことであらゆるところが閉鎖されて入れず。",
			"",
			"https://lh3.googleusercontent.com/atDjw9eMI315fO-24MwfnZCslBBhyBhQS00PGzwk3SePgNHPuXeXlxucIoi8LZGi3k5mKkcs7QxwjQ=w883-h662-no",
			"",
			"マグデブルグ大聖堂　Magdeburg Cathedral",
			"教会前の噴水ではしゃぎまわるこども。",
			"",
			"https://lh3.googleusercontent.com/1MqQkVTYA1-VWbu-evDgbgjf6jPagkGf1bqviSM1oTfoAuzCSrRtUtA_XoNFZNRE9xLpsEO7bc-gig=w883-h662-no",
			"",
			"https://lh3.googleusercontent.com/L_HEBuyrfR1e2kEjY6JOL0LwjPQtMoT7Zsf9eS-lFdKi910U3slakN-C-i5GT2idQWbBvi2n0bGx3A=w993-h662-no",
			"",
			"Die Grune Zitadelle von Magdeburg",
			"",
			"教会近くにあるFriedensreich Hundertwasser による建築。",
			"",
			"https://lh3.googleusercontent.com/uziCMBwLCoQ4BMPMsDP1dNtEspnTPghSEzhL-7jXzpFsjkJ_FbFStn8eeXXbRFRfqZVAZ3z_3YHn_w=w883-h662-no",
			"",
			"閉園時間で見れなかったけど、一日居れそうな公園。",
			"",
			"https://lh3.googleusercontent.com/QLW7NKP-GuR2Kl1DNnmRe_zxGzB9U0WkSWs_0ljh4WQ4-OxnLUMqt2PdFTQhkiW6Wb-6cKsaPR29jw=w883-h662-no",
		];
