extend ./main.jade
block content
	-
		var content = [
			"アイスランド(一周)、ドイツ(ベルリン、ハンブルグ、リューベック)",
			"Iceland (round), Germany (Berlin, Hamburg, Luebeck)",
			"",
			"https://4.bp.blogspot.com/9XRNdfAtTVa9DRTcLuKPMaC9w_j6D7bnnEeuzv4yJszm8YB4Ki8znfB_FH3j2IfyK_cER7x05CJdfgu04PzrfzS354D-d6jR_Ga1CVJHn2nxSVuM1uFwKd30CP65DXuX9wbkqafE4jUBYtfHBNrbyUQ8SvlpSIRCZTHhNLjyju1DSGSmBqWB3oCu9bfSqWNuJkGY07GDAl3zLuVqxGpFfq-Bt8b-g53l2J2q7YJM5ABW0JKWqxEoScinX2b2a2iWlP8x6mItW5TlFQOV3wfwsxFEfUxXAxS-2RLeLykJDp3CUKhcKIC__UgGci7s--Pys0yiwF-JHcshIApoOcLbvzNxAD_2Bv5eHa5jnumadn8Bq6tDYUMFzUvoRmNUuy3TeuuR6nrZCRu7oLXpbE3dFl6BcR1ytZFPZjUeoPCdXpX-RNT6xDCGGP2U4O4_U6nUTtB4ZTuRMN5cvFfS9HYlHMwgSWT9Ls2ZJsgNKu0Q06AR7_61iGSb69gO5G_UBsyq_YPdxtnI43FrmGXr5Ku_VrkzYhZyZzsyVtu1VLksi4JhTyMCddZar4sSLTTAFJe1skfHYs7d2aqmrniynvNlVnPMzGnf0zYTjxptHosQEADIc50g=w1600-h898-no",
			"<!--more-->",
			"<h2>旅の始まり1号線</h2>",
			"",
			"地元もレンタカー会社SADCARSよりパジェロをレンタル。他と比べ低価格だったが、空港ピックアップは３０分以上待たされた。",
			"走りやすい国道1号線",
			"5269",
			"",
			"https://lh3.googleusercontent.com/hg6vaiPJO3iQxLdC7HdhtmBYluKmPAHl9UDgC8XE3QgbkFvMr5RqRvl4o5VhqhDKL-Z7Ji6-MX6BNph5S-MeynsTkaheSDxugA1Bkehxjn62rz2_amWGktX2T7toK0qnORoJLgu9m0y8POMRGorpPWV0Sxg-owIDHsWxCuCI2IAVJwHkPe2P4DdjuMIlvecSYI4o4gTSti0Xo0DOAkNmkT3LAuMvlEo3LIBU7kqp9BaJPzknLBR1KhSdvVqqpB7QPVDXhiGOq4fthf_QuOASFWdYxRYzw8wWyA92SBZZdxBnSb6bj3W9gQfZ3Jcg1K70llyYBBDrdCbs_eZVnx2Dg6UfRhN7TIaPP6FZvmiJGf_aJDSq7JviHcmkDsVDHG-i1i9U4ZSu7d0UHcKSMcfsujZz4vVOhBgX-SPpgduOxjzXv67TY-iXmEfbii-xGWXJQBdU6rHPgggBXFQQ5D0yYt1yucI6pNjcLhTLURfMsniHhx_pR2sjIS4ofku8mD6Ne7pquni0saQLDWJpChNfffb90QK6wX3S3OEdMCgpLK3IBtAqtsop7My3ApuVtOFGdhxBXopCk_UIKDhfN_0s5vKyuJLlzRzBUD4ej1EWBOA-lNP-=w1600-h1200-no",
			"",
			"ゴールデンサークルの定番",
			"①シンクヴェトリル国立公園、②ゲイシール、③グルトフォス",
			"ビジターセンターもあり、歩道も整備されており行きやすい。",
			"",
			"<h3>①シンクヴェトリル国立公園  Þingvellir National Park</h3> ",
			"地球の割れ目「ギャウ」が見られる場所。登り坂があるけれど、ベビーカーでも大丈夫であった。一部遊歩道あり。",
			"https://lh3.googleusercontent.com/5cOYOqbUSAJxHcPes5OJ62F_am_ByeMv9vDkuCl2NWFRSTfBGHmlu3ezX_JNX9n3bWxBpxmihX2kRexrz0DWe6_dQgPGIive9dP7yGi9IDgg7tbqY30voF1rDFHzSJfoxr5UpFvNjfZuSOUGz6tJqcN_gWD8TTbNgxZQl6ny9SxrCJSKEIdjtWAZYFkzmtUOXAMkHI5A5dY-2ZDQHW10bohLE5dYcbW6kQOBNa2UOXh7eU4PEJhAcR3V-IQ_vaGE22P1-24AOPSZehzApweavklmA_BWaL7Kyy_p7ehOht8XHwKurqGYyPPfG0byKbqiNx5tGbgEVsJ95nBw9tOahiB6I3hhqvh1fzIAehawJki06jdyzYqygNwH4zjMmzOiRAlSJIVK1IjLePlUiGEE2Qt-h1LhWwalV1SsAuVkCc40arITCF_nGF5iGIhET7JVDbDVGrYUPg9pbtNpWWKzyTISzmnSPa1HKZ7LPzeFPTI6cu6nZEObXfQPMEEl2JfiDdkRYSik4PQUE7yLwlCZn-VqE1YIn7fWl5JF6V8VuWvMUzD16ku4IhhHTwoLdL-KezwWfCnwdXo6w9Z5B5eKlzHS3JUzHDvTzy1VyBGvspc3o1iD=w1600-h1200-no",
			"",
			"https://lh3.googleusercontent.com/g1TGDsM1gadexvsDJMhUGQ6yLZGUizXCzVZ4VPlfLKqNFW_ricXfBhl3MKJhdfmYRlC3l1Ex865Cc9VgxQYo9GGjrgR9X-TOL3tPYc2Bb0PIISFNlBrnm-PWpezNtUbH1FRVglWtgCOl2YVGNoO0CYngXDfrq3GCFaeO27VKOr_BtKdFwkFJCZELnC-qZf4aZkSFE-A5KpCzGJe_hodIrt5YPvj9Q_XAMNECKBrGXt1fIGeXshmOBkDzJdEPpS2Ww5CSkC0JS0MmjfVkZm0SYyc0mBRCXnkuWsPkJhUeWSK2JK3MMSRGob2o3hST8TPVz-6q5ZXkyV2rwyCkLGrdAFtx3jJ1h1LZ_I_HFKbsKHAHrFOF0sKEBBZlYjX29SqGeKn45YqAKWWHEo1Q_d5Eu0T55AOWpYrSrmEB0tQpyJvWBrRsYC7PmtQmkm-DWZWO3ZMKB_u8xHhNmRu39u5qdtcOXf3u7MBi11gATvEGbvgaTWYSDAzAawVCekrEDVhLW7WU_eh7R1SOX-6KM6A05WpadIUWktnKyNCOK3x48EHolKCRVemV_7SAegx2zm4nELRezV6zyHYiJIPcyMY89yuAC1vA7BXZ4iXmXv4KOxuziA6I=w1600-h1200-no",
			"",
			"https://lh3.googleusercontent.com/IIvgo9zCSbApiOizd7zetNFrDasdr7sWRUwpjPJJZEfOw1LBiC4u22w09pjCm49bEqYFtoBXZW9AfM4Ey6ZQRe6nvJ8Cs3p6TQMFLAinX_ndBTZHtp4hhtnrPRTzCGjjyFXTNWZOVeRm8id2z2P43aySAmhyAnY7MdGTez9BgaYVBdBEfjTTB9wierLXfl2FrGRieT50MSy82HPLXQWvs5LCunK8GdTYM7EvdjmAIGaZn_3E8jn6YbpFD5SUTvc3g0_B-ogibqOVncRUnYHULlG-izTDgTe-E5C3oz3cCsFviZCzsLdWm4qCMa2kBO0amZM70KxgEu2Trp-L60RsUxT-mMppHykFaWRG7Hkn-T2eQGNBrYPDTfS5vmXBrasyaRAHheUMVa-IGLyNUNBkUrLUx5AMHu2fCepxFdj9vAVGjTLfeX7YbFhyZQxollzQ6nMauDEslPHcLNs8iRIGlz4peIH5TDDII0Syjjs_Pc2tgWmEPQsVuWKIkJdmJwlyEDw7LR4SAkyhmib9e6Bz6LxJOXZ91rTRKxnbZ02vNSCHMuVXyw-67CjSEnYEIOzt3SnxVd-mGrRBwZSt1GeUgSGBqHh_hsYf8d7mgEwC3ITiAPNG=w1600-h1200-no",
			"",
			"https://lh3.googleusercontent.com/lPHDT0EJD7EPeSAZ7Ta5LV6m4dDvVWKrNlYAYMpwX9ggeJnBr3f0jcOcFWMy8FCc7GhkrT_KnOFZpRNxTwbGoOqTsERwOgkxNuTMYRUNGwAECiGNLQgBiAb0FTfvUCoTBXH4BJh_RU6tF0SHwJetL5uH0XYHdk03uCzxx200Y_HvX4TboosgGSPSOk1cRIW2aDriB8ddiWqzyalOcbcXegGB8AnGQiWMkYe_V-3_6yN-9Qw9UXifMktpKVW9TIu3CJhpwlH3yCqKoCOEIvUqrWkSDwseqWkX3dbOMFQDYn7Z2n6gnhLDE5rSuyoBUficFq_lHl9RCl57_DDpdmj2ANDS-K0oX7Ct3aiO_krtiEy-uzCz67Dt2hVWSmk1-vZyYwfAfNp1aHkxWKDkM_D_wdzWYDPwVlIIEK6b581kxX51Lv3pAyhO53mpntqbcVZIYxlOa_yzdaRARyR7oyFKdZGirEKD02mD2JYk_X03zXAlFV1Qq112gxs4yI_aEkij-T1IcNfgy5KzUEPYg-HmRkGmQK7BTSv77xalns0frCcVq9upgq06068eK3ppa30OGpb0mI93HT2M_tpsJuNCeu_kZrBP8OlsVF4nOKXgG0NVc13c=w1600-h1200-no",
			"",
			"https://lh3.googleusercontent.com/ez_c4CwsZ-OhUhkvc5SuVI_56JaxyzJ1A4Jw8e0fBaUV_Uikh9MI7BA1TSpinBvwg1CpHWM4-qmxyKmld1ATa8i55EvGb0eXyyPmosf-fRIlTW2YO03A6zJyWkhZzHUfB_lu_q-yjYoKofEAqQEAhbA_3oDYvPs7EW_DAiL87c0olwajCj7VwFCA_FgAoaU4Sc4-5ozA9erjpe2UQtEEHbGOPke8TPa17dzbZOLa3wpdwDYRNCpida3lmGgiFjrrBmzD01cn7rJsabsIeAGBeiJ4dZzDBSr9jCc5zUHdJeJTeZomFrT6TYHZAjNRmUZT_-WD01dn6xS1qF9ccoHhn84TQ3eg5MdQPVdjZ_xoBrLZ2h9J-sO5WgzgPYUvZOpSGlKOWAMLmG1n2mWtpPAgyQ4fMeG_IkYIpk3nGKhRf-dUluhOuNiza4lXCvRabSeEzSPk5Vn4JCR2OsxPARUyYdiALkXESMvcUFETLnpyvv1CUhhHnFMJaJkDHehXdLZf4_tJbirBT8VMtqwyE7iDbehquMvh5xpftbu4-kwQOEOwwyMYyszq49i7SPigjuQDrjv43S86ajM2jBAMtRQsuHWLdxN99WNh2aQN2MZtorbrz-Rw=w1600-h1200-no",
			"",
			"本当に割れている。写真左手に見えるのは売店",
			"P8296143",
			"",
			"売店裏手も遊歩道になっている。こちらにも駐車場があり、娘と私はここで待ち夫のみ戻って車で迎えにきてもらう。",
			"P8296144",
			"P8296150",
			"P8296151",
			"",
			"F550号線",
			"シンクヴェトリル国立公園からフロインフォッサル滝へ向かう途中の道",
			"砂利道で思うようにスピードを出せず時間がかかった。天候に恵まれたからこそ楽しめる絶景。",
			"https://lh3.googleusercontent.com/5kVPz8UqKLifcI1tRWU72v4vyEd-m6TWs0mX7_HEReuKFr0pm4rgifgl6IiaKjbkAEfPSSyYjtRHNHoTOBzx0gThABBV3M9hzR-vMd0Wmn-mZxG7gmXune4UAdRAuYGVzFXLpdevUW6Kp_HHF6ckjegwbCsG6f05RHHT4ADa1LdJiFAlOOFntEFQFaUhBAsjBWTIjhWRffLszteT4QEeNu9YkIvcxLVtXDUNGMI2z3qNEOHMEvG_N5tnojaOwSbTAHNKBTXSW22Pi_gcjAH_h2ZZJp8yWzbvYnf4rDDm4CpvwWi-VT7vPW2xpRzqNzAPVsQIOYCQr4kpp7wUN5XdQ4mo4Vbk-vRqQ10P1papdBtPD9GS8hYnc40jeCKFS8Oz5W9Vj0DcoiCpCvY7y39S9RJ1IxedjlPx_ndygNXamSJ0-it3zooelRhGpM2x7Ist7gyNsBQsQxzTl5ls7bYlusreeiC-IYmaN7Mj7n2QpMj0D0ww88UiHrJnBNnOByBSecZ28j8ppfeOTNIbTYodFc2wnveHyHCnGhec9U_EOxTG6HPQjRzLOqZdCxx0qkWA8I1BuY98Qu4vZHau5SgM7L8m3IPLvE1ZAjoIW-0VXINIF1IN=w1600-h1200-no",
			"",
			"https://lh3.googleusercontent.com/spVSHbuNSFKDTG06KIfuHJvJF-FLDpxzBbSit2lPvjwf0Il2Gw-O9mAKwbLf7TJzfn9bbIaGOpNKgQPAT13uFwMbbNCRNAEDu-HQ4R-z7UHcyh7xbo5WZTSj1NN0MOod3_iJJOvRRXXYALZeqIep8lKFiNkorxUwQCIrEfdwbw-o-KDPBOTyKPlhM5207HLivbgp4S7J1aMi4cmtEgBO3CllF66xMpYw9w0sS3EypRp3lc88bDSSk7dGQZjMx4uejTaZCJl2GlYsyKPcL8Vg4LVhvPu53YTn5sy_caGgt1jcKhaKiw7ANfxI3BNm9huS686B_1jQ33fR15uyax5cSixUuP-EcZ22ds4ETSoY1eMrKUhfXjKLQe36DaM2-JHoZLJboB1_pFnW5-i1aPVLplAYd64jqnBXcp2l9TND0LGhmu_VpYlkxanak4hvyNjsJFVRdXX2mmSHA-Gzg2r2fw_HBE0T0vsezSrWX5HdtMYBnyLdTcStom-VomDZlk3HFCQXNVHdak65hoo3PcghIKg0UHZQed1ShmScLvWR7BpS6WDucZFy9MsGKWVGDxp1ZRRa2y96mngfOX_wQ_LwmHaJkkp_rm9YbU1YdgoGlXJV2gie=w1600-h1200-no",
			"",
			"https://lh3.googleusercontent.com/spVSHbuNSFKDTG06KIfuHJvJF-FLDpxzBbSit2lPvjwf0Il2Gw-O9mAKwbLf7TJzfn9bbIaGOpNKgQPAT13uFwMbbNCRNAEDu-HQ4R-z7UHcyh7xbo5WZTSj1NN0MOod3_iJJOvRRXXYALZeqIep8lKFiNkorxUwQCIrEfdwbw-o-KDPBOTyKPlhM5207HLivbgp4S7J1aMi4cmtEgBO3CllF66xMpYw9w0sS3EypRp3lc88bDSSk7dGQZjMx4uejTaZCJl2GlYsyKPcL8Vg4LVhvPu53YTn5sy_caGgt1jcKhaKiw7ANfxI3BNm9huS686B_1jQ33fR15uyax5cSixUuP-EcZ22ds4ETSoY1eMrKUhfXjKLQe36DaM2-JHoZLJboB1_pFnW5-i1aPVLplAYd64jqnBXcp2l9TND0LGhmu_VpYlkxanak4hvyNjsJFVRdXX2mmSHA-Gzg2r2fw_HBE0T0vsezSrWX5HdtMYBnyLdTcStom-VomDZlk3HFCQXNVHdak65hoo3PcghIKg0UHZQed1ShmScLvWR7BpS6WDucZFy9MsGKWVGDxp1ZRRa2y96mngfOX_wQ_LwmHaJkkp_rm9YbU1YdgoGlXJV2gie=w1600-h1200-no",
			"",
			"https://lh3.googleusercontent.com/9-f5jtbGC4cG8wC1Z3GgQnZpNT4VwqZGdQ4W0umRyblE4AOUcG3YU6Jkpk6mifLvAC9COEPH4IQOv6fm_JTpoJ0q0kZ3lxi1V1H4PUWazjxMYxUXKvef8wnAf2aGXFs4MJfSE_B2XLXErzKpIEdD0_jLtkYN6YapRzZ88PbQvGHeUnE3q-SdM2fBm6C7smPfxihh8he3kqDjXi4getjIfHFlTQ_HnUlmNjST5tOY6HdCVA7ds2wmIa0yJfJHFoMtaRSgTm5xYLeq7Hg_oUdJ8zQNJ3vGI72AIi2PTziHjBbn3R8hENnz9CpmhTXbNzA19WnZ48aJpVb29sDhbv26m7a6HnvTGgcfJX2oXyNsTLoezeqjiFM2GhSJQAw3fMteaHkg9eRJ-vSIjVMjUHRPX4D6-onfLy939gEtnq-aWhDDGjFMwsNvuAqWOtwnR_hMKP66p4vOA4QKekx-Q9UK57neyCgH_80BtE-IIYDgnGsYy8UVSs7M7ltj0RdZWWJ7CHIEs_rOVWb0W6SJAFYrZJ7KWR_QHY3Z5BItGDbvbhVKnc2dyEwPXzFLfgwRyLcWjE1hW6i9QpmGXTn5RFMHKxHvcYFKEQiKtAEvX2LiDLjZx-Xx=w1600-h1200-no",
			"",
			"P8296158",
			"",
			"5298",
			"",
			"https://lh3.googleusercontent.com/xFW5nmj5_ky6-aj5zTF_ZBsDesNwcpSgE79YVgEos9yCN5x9ZDPFl0BZj7Q6Q0oJKL2FSwA6BLPOImkJkpY0KTKzQvSu3TMl9zLNacyRB6C2_oIeNQOOWEpxNmDn4d_AdZ0mjHFURN5upGdlUlmoHCEVTg2t4a8fNnVSZlAK2F9ZAAIMXHhEaZqQi3A7aBI0tAk7vkjn_obYuSXimxPUtV05Jnx0lv6o0Biy9Me62_1fWx0bAZd383jlzDVu12Qwtpho4M1850SNUC8MYcZa6ATjZeUv8IU1fiVmiiq_a7n2PYlZvgZ2BlSNaic-HyMPaOLs0ygAV9BOtxY0S6T3mRvxY4uC8Iozq0gubar8v54UCc2EYQJkzW8NpstvwmPWOmaH-rYOyiZ3A0t89UP3ylcUzryqHs15V3gDFcU_0EAUqYDv7g5rmYjb5hVZCyUBV-pnsbYd2nxSoBhlhGlWpuTszWHFNjUzmsCocjfdqBdY6DptYc2suwoRAmMZFl7SNpc9vbChEDQHVMVJ0EKjMtx05BbPQCkJSDmr4UaV-qmwJ7b1VBAOcJYNl5-PxPMNjqd1f0LEYhubIAYUHvLLeLukyPon4CcCcghGaRgj2UMPWEl4=w1600-h1200-no",
			"",
			"途中の標識",
			"5297 ",
			"https://lh3.googleusercontent.com/AOBloXddlcaZWpsab-KMLwFR9j1icN9nrHTPmQDB9bVTP-ipnB_4PiE83J0EBT9yPQPW3zu5356twxezHJ8xYzJgD9jf6fJxPeG67g5eK2wFUejrSCpd4LSCQxqTkhlA9o1X12gLZO3f8fIb0UDtYwGXOVvYgg9kGHSYh50vhrFobXw9TpZI9SXmrHewWhRyv2a178TzuYuM8khJKz9DhDVnvz9MmKPyyEIfKt1w0deFYpnvlrCHY5Yyb4Fud4shzDlbvsQEDVaIt-ZUgZHE_LZWEzgHAOKeltSrQzMdfMCMEJC69m3mnRkYgPvD2g8qJ2zWyerozMpIgUcPaMaJDwJP5weWrQVUMUfuxCtKjEFHbnTPodsPWLZ0wV1-7WltX_L6GvtKMzh8Z-9j58fHN60w2kFSeld_zdjqKH95kkCPMTljQ3JOs-iv-WSJWMb3Yy-EP1HkHezhX-zchJzgX9JGOLbycfeNHUwfHuiSpkegFbwPZnvNBPNZDNTyi4SfU-bOMNwMYvfbI5Iiebvuo140xfy8mIgCzF2aUv4SJeJDh__TF3qj5o2Kxh7KDA_wX5nBcdJegZt1YizF5BMay8n_0nXxbKGEbDp2WmcKQJJA8TQV=w1600-h1200-no",
			"",
			"フロインフォッサル  Hraunfossar",
			"規模は小さい。遊歩道あり。一周するなら後で1号線から来た方が時間のロスが少なかったと後悔。この道も素敵ではあったが。",
			"https://lh3.googleusercontent.com/kBYqsWJj08cKBWJcQ2DV6TN_ycfFwYxdaNyxmOypeblm6B2DnsqAY5UUXp9-sSqFMZ-fsintzSWe-h8xd5Bjva7QqOvrrcLp5aSWWAvQCtreY9P26mN3Aaq3hgbbJla9K4omWQDVo89nCyU0_vOjwElBqv2sXYB5TIDv1JaNLrBJpfd_60Od_SZXW5X3veFQIJ49FDqg6H0uChF5bjILFZ1ULz4TH67QvjUvTc4MDR3JNZFowjCsc6kYw4wsHikxbQSSe00U6Ke-z3Ke4TNddgdjdSMyrlrDvpHiQfzd-P78XRcVCInG1Cr04PQWx0voy_4yTqmZviWZqLh4s4asF_egWYC63J1YKbrZiwAkVcs4MzLfa-Y-_LER79dE3_Tb3TqsYVbnz3gGmAXqfF02_AxALr8D0BNO5clRSN2kR8VzYf4zvfEzd7RejRQrTM_6pZ6yO_JPJmtsG3QEFvriFouKGtlQNXKW_o3ffCjUqUjfwXWQ0PSEF0XkM0KTPbuSWnfUGAQ4ohXJ26C-MssF-gGW9qE8KRInSRmoNt2Wwvk-ghw4BvVuRnvg_eryv51elBuabpzbifftHzxrUqVwYskixukwa2POT8D7txWxVFBKxiuJ=w1600-h1200-no",
			"",
			"P8296173",
			"",
			"②ゲイシール　Geysir",
			"駐車場から間欠泉がみられる場所まで割と近い。",
			"最初はびっくり。写真を上手に撮るのが意外と難しい。",
			"5326",
			"",
			"少し離れた方がいい写真になりました",
			"https://lh3.googleusercontent.com/Pv00007dhDwdhkfCYn9p1TCU30m0FW_ZiOnW06nUuyy8dHOUSVNLq4PmR_MV7kGJHLC5shtq61IXh8-wu0JJJOM9lASv3Wyzs9Q4zxUkFOJpFuT2G16Rqq4ZMIo7nLEIH_YJZb3H8QmR2TjaGjrDyBYm9xeULmbob0LgeUGUWEVh9UeKPMFAZMGR6umwNCtPYZO_ZqckfJ1pc6QpP5B1NtOqm5D9bAGlc78sS9C7bkaCeOeMVCB7AZ_W-ayX8l69fFKwd2nTCebQu0U4ILvKvrPUbJXvZLDLrwo0dVvnkJlkQ28Pl1WwG4BFRAtt0HHdJZIlkZnetFeM3Aud583r3f2rSHxOrurhBJVukRHw6S2beqYZTYgNl-fJgKzsRJCuvLO1IADeX1Styip5WEQ9iz2VkpTcYbs4kZvIbPPdtlP3Vo8DeGY47DWazyAPYdY99FeLITtiiw4NukEnfEolQ1futAAFCZCilFVAygdMJ0QazJ5miqJjQnDE2_2BNi6lkkHRz5rjNOG8O2rvlWhcRJu47Cq3ptvZLinLp1G9SNWXX1S1nJTgT1VEZcmDMpqc3a53-VfeNPq5ucQieJz7OtrdqEe7QuDecrbbkqaUp6TZR-JQ=w1600-h900-no",
			"",
			"遊歩道もあり歩きやすいが、娘はひたすら長靴で水の中を",
			"P8306185",
			"",
			"売店",
			"横にレストランも併設されており利用しやすい。",
			"P8306192",
			"",
			"https://lh3.googleusercontent.com/igSsQ9prOTAQHV7wDGflT1w3e3HK4HwDMqmBZ81F2st1xMxPMT-CnnUQ9D_xZvY2inZkBH-sp-N1gJV6L2ZeUmgGyPq_qqD7BkZp_wwxeFOe2fxQ6SQnmp7CPs_kCtSilX6i6crgsIGEpW16D4EUU3iCD75o-d1YzK0oKHHxZ9PYrIIdjcEin6VWxVYvIzAb-E_7M6baf7PLMCv3viqblFLGD1LKn_xH2aQftptGVjS5zdg_Q7CFBritinEtJQzG5qFnlRZ_LScYfnQTD-99miljPQtuQvG4O7xMbrDeZEhqFKup6IQ1rWrCjJZoK_myouj-f0SB0V7DOZrDRNJj8RMpGo23kZV51ZxJ2Lzu6VFMrKcTKd3aw0DbO5Ia3ODQq5CvAhB4aBYnCmNE6xJxTKnZX4vFCsd_H94m02gD5hSQPZ6IQUUB7vzACOXdC7PvMfxwc9TY0-XiYREGEr8t5E33RL_FnXUBjTxG6A8TIvVYQJ3Yho6yJ34_y-WuWCjgbMz2jn9WHlRmgj6iRn7cqjgYZ55pIuIh4HhtqARsT0zQi7c2KuX-uXSDVaMmqV3edpnoEDOj2jVZWWtP3LSyn-O_hgLSHVgYfQNHW3KJRum2dQ6F=w1600-h900-no",
			"",
			"③グトルフォス　Gullfoss",
			"思ったほど遠く感じなかった。途中から砂利道だけれど、整備されており歩きやすい。",
			"P8306199",
			"5335",
			"5338",
			"",
			"滝の近く。岩場で段差あり、足元に注意が必要。爆音で大迫力。",
			"https://lh3.googleusercontent.com/KTjDHJ9uObA-ZU6DSRUKtB0SGq3kj0XAh8fr_3OwMODScwzUAuv8eWgubqwDrDNZMW3pvFpWiu5FA0KGD9WVpnqCzw5LSjdjmEJaNmjUNRNYhRQtM3Foejnhh-bTVabFFhshd6mQ1nZKtdA_CgP3JtzcQsDz_YASx_Xd6ETt5K4XIJzuelhmnsb5CRqbKhzXlsF3aoJGHdn6w2wv8fzGEpPp9YMU3eXCvxSrNDsvhhQt3gmYfVx30xlM8x8Fz-YauEG1-0LAlGXUat_IqB9QcMxrCq9TpJHd5WFiPwjfYTWuaoZvRJ8PJ6Q82H6yvxb71wmeV1_hKwXHtYeCiabzh3dWyDmp4dsHstG70tZ5MAHPGkUBN8GxHBpom_dOfkRyXOO687TeZsKeVD2rHQXJkeTu-h6UfPdRHocfj2Yp7P2P7jqIE8yCXYuwE3V7AGH3PJeCKRtxvfsd_VNrYm5IPDCzeGEr74mDSREuawj8rjznWNiQyIzHYyBXUfm2tYZ_0IxKWRnlCtBEpFewA1-2oz62XQ7A0NylWYn5R6Tpb3TYOWAXjY-Ov5uRJsG6Dyq3Fh1W_dxl5tL7DouPwkcu4YVf5hPVTsAZ7oo9fZZFSFKI69Qh=w1600-h900-no",
			"",
			"ヒャゥルパルフォス　Hjálparfoss",
			"Ｒ３２号線にある。地味だが美しい滝",
			"https://lh3.googleusercontent.com/KUJ4AmiuUDgejK_Jp_YPOtSDZbBFMeBtlvCVEa0D6dMWQCz-dqlGuRhNlBQBCwnGktpxvvzdS39x2HqpfZD6PsPehDA56UwRO-V0qZfyjfmM1o96Q1OlGWCbgBaDUzaWHBvv8uFsTJfPChiREt4H7oxdrOiUDgq_B8t38vJS2BzXNfxhMZukO85rBsiRMKTNoz6jBccybcwLpftFlHcTncATZQeJe9W5q8zi3W5cpe9xVWg5UoPiu0pMKJJ14vAABOihNYxtiiI49_WugKzoXt4Lx7itTtKa5v3hUSwcXL82GrqXzc5asZ2vH0h4CFSAEnWc80U54xIZYZya4HmrhQuWnt-_MhCIDG9I09RNqRNfbX5_dphLLthpTr-33ouHD8xXm7pc1t9SNdyql3uPhkMpLfMjex8aawZzkw39iPHZ7CsTIbsDp643s2TnrcGO9LrNT2NyPOLsGHYoZp2bqps6cBnNlP77Naz8Gtar_b21qq8B4feOXRvCjdUpvufAMnII7Guhf7FWiTAmpo4VFo9GIg8WfoqfV6ysWMvA0-RfaQxhVW57NskGxLXeMDcXZnPsxQ9g0Mc-uZf2TZNAesetd11IAYbxqDjUvdS20-yNLlZe=w1600-h899-no",
			"",
			"P8306215",
			"",
			"P8306219",
			"",
			"滝を見ながら夕食",
			"https://lh3.googleusercontent.com/Lcui_q49XFoFiLrr9ihskDV5pfYgCIzNvvG5cEGSZ6OsjTCykvJUJ9MjCsSM-RiXHeZYyumyh04WR9VbzpNR1YHBbctdA6h2yhVjawMa2Anwoi9qPx-_jZkAEoESmPb4Zcl5uv17BpsL5TYIlYyYuTLY_Fhc1BHb12AS2NW5wbo3tAxEEkArJo2SlUU0Q-2AeTBnYA1fviJ4nFvjO7ws6a5gu04kwqmojI3LiPErrAl45Snb-unTeJwFQGOGwb6dRlKpBewETQBr1kQBR5cvkT6zJRaJ5MjxPltesUh_-cFH4tiebDxla6fl_sAslmWNXaNAiCY3Fm5h6KQquOEMYo_p0UOv-7yy0859WGJLbRI3O83mbwQQQZk95qx8FP_ZIdIUj2fZFTS41IrsdU5x4sp-LfB21yWoDL0jvDX3h_W1Y2_fhVCP_10QjYRvxS7FrP7n9mrIdlfaivjak9KMe0RHEVan9G50OT6QV6dXtgFldQlmdymAVaG-UKCIXwkqaVwH_VtTe6uCk-91Vw84OjXfyn5vMeNa2yv0JQBBdVcksWzu-yPCXqPpQX0S06ZITHRfoUGVw0isXxY-UEb75Y0CQSqJbBrqFlRQJD0woZu-7amc=w1600-h901-no",
			"",
			"暗くなる前に寝床作り",
			"https://lh3.googleusercontent.com/YXno3URw1SyXkbC1FUMTLSu3uYJJL638CR1tPDWYVmoIsh8HBKw15SzhmAShErOQhvESEF8XZ9QUmPro6_E4KXvVmfCPlefpIgRdqMQHNQSj13yVwXnAxgPcnyzIOfYFHXmjreyfZCcS_DzCZzPiSysKxo3P_R6BJGDG3BSSe_7wTUD4qsH4qkhhz02YXgm5Pd5geKeGIB1FFPQl59O5H3Iz501RlaBvoMh7aCNJgtQgSDoS1t5Y8s0yjkC3U5BtAMCIz_3LI0W5kVvYxaJj0rzupZ-t1MfOkGJkLmwCwBMKHmduWxhl2WfX7nA3tUF60b2dcUlfGNBxVGf1jr3ngydfNmr8aWoBsIL8RRUQdMHapkFt0uvlzdbRb4h76MD11ZOZW622i0yRN3hR3hjAQvnrTNzGRqPVh8Xf7-VWLRVqEPWlRwcUb-YJApnpKj-b8-wAlGOUA1mB_HB_HgeCPZw5Nlg-9E9ntWJsRVExSjPPoz9DBeI14d2UZ0RFe3zjXTQjZN421BklrL1DlzkmmoAxGswg8lzS6wVTOLRZBvc6zNy94Wy5LtbcRe4aW1gbmZTblcCJ8t1x4BXp7QICE-toQpu06TxAltNB2lYFb-9eZbxM=w1600-h899-no",
			"",
			"ハウィフォス　Haifoss",
			"一般車不可。少し奥まった場所にあるのでたどりつくまで時間がかかる。とても神秘的な印象を受けた滝。",
			"ハウィフォスの滝へ向かう道。羊の姿も",
			"https://lh3.googleusercontent.com/f7dGROfU_3dl9n3IL9BO2k-vyxLPP8OZn0U0KqnSRLT7PNv7kjQJvYbIMrmXCXxvND-H9B4P1EkmJIxZlUttsIKj7EkItJyNHg89RVc38ekm6oGyVXjaYl4cRBcBiIr2ZKIEatFb9DTcyMqjnFzqfUNeBwEcu6pGoZttDtUDOHLF1EXEe8uhSGltb51pSOV3EaetdikzuxY7LFr83AmrJ2vuSh2PZOsIz8TNbwvov4ZlLBBRXESD-7JYKp2SPUdIlkp6pTtlLsjj2bHFM0LS0lLtJVl_Q9D4poUWEnhWazbbgDvvk7iLig6YR7ynwPlDw-rhsYSSEezGXG3o4Rtp2BOYsl01fVRBdVAkmrebY3CYJh0mbLA0ZPYLwu9Zg_ULcoV5y40a2XKiKRB6Z59ASZrPSdtmuj4lKn-UJO1Tm659BHPmwh9VvB8Fa7_c7fMddzcSjoNR1us41XLovl5ZtVyFYwWMBiQdeuO2UnYmGIUDTXCJaSz72pMwrntFPFWyN_aC7P9TSDPQWmvBvSEZpnPIp2YJoBjZuPoPMo923vjhp76PkrhIdnT0Cz3eOoyirU4x-4C54yf_9NBkexiyd5WMFDTFXHOy1NuCXTtp8qKGoDcq=w1600-h900-no",
			"",
			"5365",
			"",
			"柵なし、断崖絶壁、人おらず。天候不良で長居できず残念であった。個人的に一番神秘的な滝であった。",
			"5367",
			"5368",
			"5369",
			"",
			"セリャランスフォス　Seljalandsfoss ",
			"滝の裏側が歩ける滝",
			"5377 ",
			"P8316242",
			"5390",
			"",
			"スコゥガフォス　Skógafoss",
			"まず水たまりで遊ぶ",
			"P8316243",
			"",
			"迫力満点。近づくと水しぶきがすごく、レインパンツが大活躍。晴れていると虹がかかるそうだがあいにくの天気で残念。",
			"5395",
			"",
			"ファグリフォス　Fagrifoss",
			"一般車不可の道。今となってみれば、なぜこの滝へ向かったか不明。2度橋のない川を車で渡った。ファグリフォスへ向かう道は自然と向き合う道。滝も素晴らしいがそこへ行くまでの過程が冒険。",
			"",
			"案内図",
			"5401",
			"",
			"途中の道",
			"5407",
			"",
			"静けさがさらに美しさを引き立たせる",
			"P9016247",
			"",
			"柵なし、断崖絶壁",
			"5406",
			"",
			"駐車場へ向かう道。広がる大地",
			"P9016253",
			"",
			"駐車場",
			"P9016253",
			"",
			"★ビデオ",
			"",
			"ヨークルスアゥルロゥン氷河湖 Jökulsárlón",
			"絶景大国アイスランドの中でもかなりの絶景。アザラシも見れた。",
			"",
			"https://lh3.googleusercontent.com/vD4tRfc6e1V1rlKsNShfXKsI3udys_Urb-WCxQlkeB2gDLEBRnZp4WNGnv1AQb6Cr-7VaPGOS52XWFFT5GrTikmoW2tsZvc73ZhFQmgKV42zHfff832fuvMpM33e1s6cDeMo6S0sHEqgFgPznGTl_2lQC3UhYeKl99blKolMuL5FuG2h6iaNdiiWYDduPfYDvNforEUebnRkV28QnWvgPQ2CgMqbEt1n5aNJcGr-ZHXJPIc4UfBtGMrrqPNqbeYkrDJAzGn_D1vqIiDfhqivl5a-am-5e4H_xEfYNmvxpo131XkusIZdtg4BropMvdlpRzv-w1mbOPxjotpnbhaBXew361oOZn3NX-l9yTSwTPj_3zvsURmBj8Zg5f6cA2cJRhtUpqj5r7tksKAarX9JKJFj4fx1dUurLtGMPuYhREHV4FeXUC-LI-qqcPPUrn15KO4eTURpnUj-p_sOoAXTY0O6YXl9-MfVQTih0vrBJAVCrYcV8EbayB-Q1ns4gftOgqxvxH5W7TYpEEQe9zZVaUohE6T5w7cuZIl0J01L_k91liB4a2e3uN8X3LsfFF2cISu0i8TuTBJL4ZRCsQQGtlTuVzWXZ5AI4eMmzDlpmZZCahrc=w477-h268-no",
			"",
			"https://lh3.googleusercontent.com/K9Di4jqusr-dMX6d8xzPtNgqsCV61LaA8oz4u0IxYiN31nUH8YdXZNfN3BNt2ziA6PuS5TaMu7w58kfZekA58Fgj4jdOrnpGeyOFL2Ez16MX_dVMTFPetrty-Ng4MqsvdJZErLmXSFlpXaTiijmJoY-ac-6Se4t7DftNApS9wTNGdMuCjDVETJ2NkCcsBlbw0vrO8n0z16JP_UyWAyH3qelBPYJD5rNoL-boTQjlWUZ9V_CImI3Xjy8aBqTlNy1AR3M6QQb6zDMUW5xxQvggMFwGq1564Qne90jf0HCdBRCejAXED0Z-nx0hxMUGstPV6uKhdH2L4t048vxQDaPLWThdS1bAtYnb3C0taiSnu6p1xXtAPkjCnXlUQFu-YcrRn-1B21e9hfwtbGcQrPZbrTCgq4ia_WPzK03ERUXGhW0-8e6G9O6lV437rtI18G_f0d3PHQR7xTRJmR1LpuTfoPjWto3ksBNKJPelDghybtujo3V2sjpVjUd6UnuPmjgooSbdtUhR1VRs7SmvC6yv7Lcjkmswt5znC5H4R0-K29IOKr8y4uqWyKSaCPHnSJyNe9cvEjFWVkot03N3p03Zk6fq1Z53cyolst9SqtOFBeIXa7KN=w1136-h638-no",
			"",
			"5440",
			"",
			"https://lh3.googleusercontent.com/3M5-jUqY0cKhvaT_qgPIYBjSTNIv9BtSqyikyRSUuqYd25ADtl2woxnFcp76HKkwGWLOc_outIFqbMsp6lmjMXNB-hdWctHvVZ_MrQW-8aAtii-848pSH8hZ1A8Q4n4VSnhmJthT48zWjq1HI5eNwu6qaRjoEUcqBs3DW9NU3PHNufLzTQ-x-7JC3X2VsAdsXq8wWOWuqHd4R8RH61DJu2qjADnc-jiHT1MLz8ENPAs1GomShKPxnDFggHm_XQJpimkqCOD2zAGn95Co0VB3S4lMwPJ-EtQfEe-q006IAetRDIT8ROcirHjCRT8-68SjMN7KUCPju_onz5DyDRdmxkSZUNbyUlDVPUxpFSOriCf3ghDko9XOQ9UACGmTqP5Y2f58X13K0GgrfeT00Ph60dfbyxZ_4Q2jfXvNSbGeyQFeQqSZtBhZAHS-BrMVtDKyNhzJWPQDtfVkMFjsfgzJjGTZuIC6l8BRHJ5lJ3lC9yTWbTm9NLGWSpYnniekAdmzxYSqz9NnQHIwzfvEituikxiM9YxHI3QL6biuQ94HMQ7jds_ERdwerRwNIP_nehXOzbMQT5VL9KrXeo3EwZClMRuTpR3oI2k_ZTTLoDPBw2yt2B1k=w1136-h638-no",
			"",
			"https://lh3.googleusercontent.com/cpsXhIZoWvlDn_iVtbWRFBv_Wintogf4kRcKHIrQzDtr0G5ggCIBX3e0Abmgckqbfir0HkM_vUcPPfCeCfy-P-qmRqDbXRjGXvtp13Sfpta3JXmZclp6Ftxz_A249Yv6kmbxfISvMIwvmXd-HwFcQMT6dCcysAJLMwS-iidUIQjKSce6qASTEDZFfgCFsDTfLyRTQ5Ar2S2bOG2Lsg6H2okqG--bZKGr6hcSMh6r6-cVlpvXAMRjw2H8pGmmiXbPjEVMtRgTjziQNEe1j2010VzNlYFNNck-XgSs6IR-jQlwmDVOUc_-WxIDL7mXbH7g9BE8s2A7SSoTW8WdsRTKXOYDHe3Adw2CQJa3VZ1rBycUpKfCgP9f1Tz7ggfdZJZHWmi3GfnM3QCJQq-a8DteoZHW9IeY48FG_WFQ7OFENDyl6ENRiD1XT4kojopu-bgMxIi7ZdVcLN7K0yYyFxTovaegu4JxliSVLww2iKjXYTVjb3rSNFLvwzSOUv4FNjuDuIGcy7ByoXkCK8g_her1FjwieaMRAl1Cp0AtjZT6rMvFIwXB8VN3FtL3VmDxTHdeC7XKo9SgM93YGN2V2n8ws9H58Z35hbkjMGm6_OuF44LtJmSV=w851-h638-no",
			"",
			"皆、いろんな角度から写真を撮っています",
			"https://lh3.googleusercontent.com/ZYiOfQrie0e5vhJZgg8o8NxgvC5P-nIqP5LkpT00Ey9F6i2ISZVisTlq5ABfePt3BkQF4Hjzi-vA88mhBbNGQX2PxqrLu1dnmac1qZsEvZv5-qx4bBtLwD9YcQBkGdlm0xZtRcG7vn7tv7AlMopOjP3uko1Hcs4_WsTQ46Ame-6lbXV6ArNWplJDjFIHT8DtOP7G1GnJdTdefdokDtmY4rCXtbbFXK2dB6E5s1Yj8u7h1yRZP8IJlsIgv1v6KlPsNCyiXy1KgcmVp3O0HNzgQ9NCtJveZLpVaRdqguq7UVA0l8eau9fnO27eNyTy5V3q_8_ZKh0qezyh3O-INVKGOULZBQGZZ6atphTj2pAUGuNqSYbFJqhmwHkZCJTvWbTmMBSORFICtTFr5OoxtWCB-g4MWMxy12K_RDUp3_5n4ybUPq_OXKFkzq901y8yqc1ckssaIVsZXYR6Koxaa3UzmHWqo-EjQCdATOjFV44WCV6Mc3-WqG3fg5S-gmhRupawOUboIuVMaCK1r3e0xUbl_85lVG7sZiPAKY4XiTEqp2LSqVrTt0PqfGvTmbITE2Dy92OY8sPc-7zlOuzZcZHk2FJgthtSfoC6gRS9b-Ipw-BNaBSQ=w1135-h638-no",
			"",
			"https://lh3.googleusercontent.com/_xYNEpybN4lL8B9UHb7w84SzXGdILG7TMbIqqv3UuX9Pzt2DprZdaYBCL8NQ_Oy5LhokApFWa86gvuk68GyEdG99czXPa2XpX21-i14Zg1w56mQYAY-z6fXEWSj6U9m4F1F1hlq0c-TRjVs17s5qS7UoJUYRihTGu3F6BQ2aFcTtESwi7YAqIxfiobWEXmZGX3v1RHOkWlpIUNeduqSODg3XF5mkVR5lNhpTkqXPruM8sXVhf4X27ZBygIJ8JFP27sF-1eOaCTabonpF-XQ8jdqI4B8Hh50I_uPa0oi9jDxdr-wRd8zhCRchjS-1npUXwFDWpB8J9z3jWbRQLEAhuiaamThJc_M1mPO9cbu-4wiMD4kHVoG3WHRSUnnaEuyw4jaP9Ulpea4E31sPTdqtvWEOb0nITC-YWoFIOkGBOzm-7JZqX29IJH0691ccD_9pAGCUsuqMYiFYEp784r1TJ7-I3PXSUU3A_yLxPS33TUPZ5lOQ0X6fTjLDZLxgAk5NW18lkfv0JeUNgk1yvN07uzvA4gdhibiKLhLLhKZOSjbRCn0hcRvPohC6JvrA8IfsDZlqKJRYEGhPUY4WsiUXjmQvSkjGvvasCzWmNtR-2mEhhd3T=w1136-h638-no",
			"",
			"やっぱり水たまり",
			"https://lh3.googleusercontent.com/ddn8A2pXCKzZPLdlbwqcuzjkBhV4G0vSUkfc4Kn_HtY6JxbXDhiOmy_27iBiCDVlythNxL6lRCbGUS1QwiYIbx2oe0ilBkSme0t007QhqfNVRn3DL2IlO_M7RmNNTlsTaCbRvYaFO5ezO2mQFjJaMteYGAy5u68s01a6h5o8fFLzRkYfhE75xzS1iGr7lLPNRXfrUwX8OHeSCxfsjm5N3KoGOEF3vPUFHoutTjGsA6R1HNAAS605uFiuAPXfgUEH8cFlg_LkjkdZh5VnML6Dj6KOs894uB498a-Ph8VN4rl4utmHp8M_6HnELtP-WV-By3pnTFj84hqVjajhVyP4JWhW_JFmgg6PGKzUTSI1C5nmf4PvJEOOyg0CzxbyJcGf7lpBtUS9JwTQy-GjFRVagN89wNQOgA2FJhB58B4pV0RPXCxtJd91rMphCWW5oGO3IozSlHndwz0DfwlM9VECzkfchegnnAqXYF_R-ACrIHJYKXVBapStq_5ieYSr6GtN4Fx90Hr14zgETrp5gp_7ZTlF9QmLZkSl_g9CfYZoXrYj9JAn8b969sDXgS3yWi6gkDGroKpyeARSIAtino0ZxflHqCNcwooySBE6skD-oly8SDtU=w1136-h638-no",
			"",
			"車中泊。寒かった。風の音、氷河の崩れる音が怖かった。",
			"5445",
			"",
			"★ビデオ",
			"",
			"ヨークルスアゥルロゥン氷河湖 Jökulsárlón～デューピヴォーグル Djúpivogur",
			"1号線を進む。フィヨルドに沿って道があるため時間の割に進まない。美しい景色が広がる。",
			"5452",
			"5454",
			"",
			"白鳥がいる湖で休憩",
			"P9026279",
			"",
			"★ビデオ",
			"",
			"山ではなく海岸の羊",
			"5468",
			"",
			"このような景色が続く",
			"5469",
			"5471",
			"",
			"デューピヴォーグル Djúpivogur",
			"ずっと町らしい町がないなかあらわれた小さな町。スーパーがあるとき、食料は多めに買い込むべきだと学んだ。",
			"P9026280",
			"",
			"Langabud museum cafe ベビーチェアやぬりえもおいてあり、居心地も大変よい。",
			"魚介のスープは絶品",
			"5476 ",
			"",
			"その後1号線を北上すると現れたピラミッド山　Bulandstindur",
			"5478",
			"",
			"養殖風景",
			"5480",
			"",
			"939号線",
			"近道。道は多少凸凹。が、こちらも絶景が広がる。",
			"5483",
			"5490",
			"",
			"★ビデオ",
			"",
			"エイイルススタジル　Egilsstaðir",
			"空港もある大きな町。スーパーでお買い物。奥は冷蔵コーナー。寒くていれません。",
			"5493",
			"",
			"風が強く、後部座席で皆で食事するためベビーチェアを外に",
			"5494",
			"5495",
			"",
			"デティフォス　Dettifoss",
			"滝までの道",
			"5506",
			"",
			"遠巻きに",
			"9026282",
			"",
			"圧巻。幅が広く飲み込まれそうな迫力で近くに寄れない",
			"",
			"5510",
			"",
			"★ビデオ",
			"",
			"",
			"デティフォスから続くセルフォスへの道。景色のよい道が続く",
			"",
			"5524",
			"9026284",
			"9026286",
			"",
			"セルフォス Selfoss",
			"迫力はないけれど非常に美しい滝",
			"",
			"5525",
			"",
			"ミーヴァートン～ゴーザフォスの間",
			"ミーヴァートンをゆっくり見たかったけれど、風雨が強く時間がたってもやまずで断念。",
			"途中で見つけたアート",
			"",
			"5552",
			"5551",
			"",
			"いいえ、本物",
			"5546",
			"5544",
			"",
			"ゴーザフォス　Goðafoss",
			"神々の滝。1号線からも駐車場からも近い滝",
			"人が立っているところは岩場で少し登りにくいが皆そこで見ていたので私も。雨ですべるため娘は夫と車内。",
			"5558",
			"",
			"登った岩から見た滝。滝を見過ぎて段々すごさを感じなくなってきた。",
			"5559",
			"",
			"アークレイリ　Akureiri",
			"アークレイリは大きい町だった。雨がひどく街歩きの気分にならず買い物と博物館のみ訪れた。",
			"アークレイリ博物館　Akureiri Museum",
			"5562",
			"5563",
			"5564",
			"",
			"711号線",
			"野生のアザラシをみるため向かう。地図にアザラシの写真あり。見れるのかなと半信半疑であったが向かってみる。",
			"5589",
			"",
			"海岸沿いの711号線",
			"5592",
			"",
			"フリッツァコー　HVÍTSERKUR",
			"フィヨルドの頂上が残ったものだそう",
			"5591",
			"5590",
			"",
			"ILLUGASTAÐIR　 illugastaðir",
			"どこかなどこかなと探しているとついにアザラシのマークあり。車を止めて20分ほど歩いて着いた。",
			"入り口。小さな看板とゲートあり。",
			"",
			"5614",
			"",
			"道のり",
			"",
			"P9046296",
			"",
			"到着",
			"",
			"P9046308",
			"",
			"小屋の中",
			"P9046305",
			"",
			"肉眼では見えず、置いてあった双眼鏡でみてみると。。。。",
			"アザラシの群れ",
			"",
			"5604",
			"5605",
			"5610",
			"",
			"そのまま南下すると羊の群れに遭遇",
			"",
			"5619",
			"",
			"降りて見学",
			"",
			"5629",
			"5630",
			"",
			"★ビデオ",
			"",
			"アゥルバイル野外民族博物館　Open-Air Folk Museum 　Arbaejarsafn",
			"伝統的家屋内も興味深かった。外にすぐでれるのでこどもとも一緒に問題なし",
			"",
			"5658",
			"5659",
			"5657",
			"",
			"レイキャビク　Reykjavík",
			"アイスランド旅も後残りわずか。オーロラ観察、ホエールウオッチング、ブルーラグーンがまだ残っている。",
			"レイキャビクを遠くからみても、教会が一目瞭然",
			"",
			"5677",
			"",
			"レイキャビク市内散歩",
			"",
			"5688",
			"5732",
			"5733",
			"5704",
			"P9066331",
			"P9066338",
			"P9066326",
			"",
			"ハットルグリムス教会 Hallgrímskirkja　",
			"一言でいうと大きい。なかなか静かにできる歳ではないので、ささっと見て終わる。",
			"",
			"5680",
			"5681",
			"",
			"ホエールウオッチング  whale watching",
			"娘は船に乗る直前に転んで大泣き、そのまま船内でお昼寝。私と夫は船酔い。くじらが見れそうになると館内放送が流れるが私は船酔いでそれどころではなく、夫は尾ひれのみ1回見れた。目覚めた後の娘は船酔いなし。",
			"乗る船。天気は良好。",
			"",
			"5708",
			"",
			"綺麗な虹も見れた",
			"",
			"5722",
			"",
			"操縦室へも入れてくれた",
			"",
			"5725",
			"",
			"船酔い",
			"",
			"5730",
			"",
			"雨具置き場で一人かくれんぼ",
			"",
			"5728",
			"",
			"★ビデオ",
			"",
			"オーロラ",
			"レイキャビックの中心地から10キロちょっと離れた宿で撮影。空に最初白い薄いカーテンが現れては消え。寒さと眠気の戦い。",
			"",
			"P9066311",
			"",
			"向こうに見えるのがレイキャビックの町の明かり。この辺も暗いから見えるのよと宿のオーナー",
			"",
			"P9066312",
			"",
			"翌日、場所を変えて。朝方に表れたオーロラ。風が強く寒くていれないため車内で撮影。",
			"",
			"P9076356",
			"P9076357",
			"",
			"ブルーラグーン　 Blue Lagoon,　Bláa lónið　",
			"世界最大の露店温泉。気持ちがよい温度で館内から外の温泉へでるところに腕うき輪の貸し出しあり。",
			"",
			"途中の道",
			"",
			"5770",
			"",
			"かなり広いでも深くはない。貸し出しの腕浮き輪をつけて",
			"",
			"5771",
			"",
			"腕浮き輪が外れやすく、ずっと抱っこもきついのでもってきた浮き輪も併用。泥はつけたが、効果感じず",
			"",
			"5775",
			"",
			"<h2>インフォメーション</h2> ",
			"",
			"<h3>宿泊</h3>",
			"私達が訪れた時期は観光シーズンの終わり。ゴールデンサークルに少し人がいたぐらいで他はどこも空いていた。寒さと雨でテント一度も使用せず。車中泊が2回。あとは車で回りながら見つけた宿に泊まった。シーズン中、予約なしは厳しそうだ。寝袋はゲストハウスでも使用した。車中泊はやはり疲れた。",
			"",
			"車中泊",
			"",
			"P8306232",
			"",
			"ゲストハウス",
			"",
			"P8306230",
			"P9016246",
			"P9036293",
			"5578",
			"P9066324",
			"",
			"<h3>食事</h3>",
			"アイスランドはレストランが高いので、スーパーで食料を調達。スーパーにサラダバーがあることが多く、冷製パスタもあり。。",
			"ゲストハウスに必ず清潔なキッチンとテーブルがあった。ベビーチェアがあるところも多し。",
			"旅行中、曜日の感覚がなくなり日曜日でスーパーが閉まっていて困ったことがあった。小さな町だと店の閉店時間も早いので、大型スーパーがあった時に食料は多めに買うべきと学んだ。",
			"地熱を生かした温室栽培のキュウリやトマトが美味しかった。",
			"",
			"スーパー",
			"",
			"5375",
			"",
			"ゲストハウスのキッチン、テーブル",
			"",
			"5532",
			"5574",
			"5691",
			"",
			"屋外にて夕食",
			"P8306230",
			"",
			"<h3>道路及び車</h3>",
			"1号線は走りやすい。が、1号線から少しずれた方がアイスランドらしさが味わえるように思う。危険回避のため2〜3台の車で行動した方が良いとレンタカー会社の人に言われた。途中道路から外れて側溝に落ちてしまった車も見かけたし、内陸で1時間車とすれ違わない事もあったので運転には注意が必要だ。",
			"車選びははどの道を行くかでかわってくる。",
			"",
			"レンタカー会社と借りたパジェロ",
			"5793",
			"",
			"<h3>子連れには？</h3>",
			"レイキャビックからゴールデンサークルを中心にまわって戻るか、時間をかけて一周がよいと個人的にはよいと思う。短い日数で１周すると車にじっと乗っていなければいけない時間も長くこどもも疲れてしまうし、時間があれば天気の回復を待つこともできる。(娘は車内でよく寝る子どもだったので、移動は特に問題はなかった)",
			"滝周辺に柵や注意書きがないところがほとんどなので、こどもを注意深く見ている必要がある。",
			"",
			'<iframe src="https://www.google.com/maps/d/u/0/embed?mid=15CP7PErBuWqA_4r5Kh5ngExjkIg" width="100%" height="480"></iframe>',
		];
