extend ./main.jade
block content
	-
		var title = "Berlin";
		var content = [
			"ベルリン　Berlin",
			"8泊の滞在。大自然からいきなりの大都会。キャンプ用品を引きづりながら宿へ到着。ドイツの掲示板サイトで見つけた日本人オーナーのアパートに滞在。8日間は観光には十分すぎるぐらいであった。緑が多く、近代的でアート満載の街。",
			"あちこちに公園があり子連れにも優しい印象。英語を話せる人多し。",
			"",
			"地下鉄車内の注意マーク。ドイツっぽくておもしろい",
			"https://lh3.googleusercontent.com/mh2hXMIlczz2aXSluiZdXGk6f_-tJf58vplOmR1bx5JjHwStcufji2Sgit2dIci-GO4M7sWdgFLNsmX2HbFQLnrPBYU_7mFh6x6TZz521-4aWOun3s74XocwtU5poxO0zZuObCARvNZpjxwvOnKfgw_XM-VWHH9z-8cF3Dle5GS9BHVt4GKiK9egKuiWAxNM2nvvN0JSnQJeUqa6JzWRyoDCNjTTO40fdzQx_PYbQH5aRlzNyMb2AKYOF-4KFVFhfgxTW9c4qg2MKefDeRMmvLhu05SBJIuqiSxSzotYBkyngSeeT9sSAaL6d_OLJFb96B4twL0Ta1G7Y-xO6bYmzlXz1u9LvQSZ-AJ7S_WtdTvi3FSga9VqmMNd-yxrrfDc0U4RmhSWF8feXyzHeSPizcxltLyoVlaMj0JM7PgW0LN_FG-uqKsTHMU3_uW3EvMEP5DfFqDpFWRrJ4EESgrvUCGt77xrJi9GzBCR-covPNnpTkEipm3_aUFRIUbt2k8Nibfi4rx7ln0-3tMaucp-h42N4_ACuCZx3Xv9DwBZxkzzL3REdMuVabVjTvD3GcGwTOFDSmEerjZonHpx566ebK4myyz_eGKQI1YazRYO4dtsnnsjesmR=w1421-h798-no",
			"",
			"いきなり食事がドイツ一色",
			"https://lh3.googleusercontent.com/UWehOCpf2sX2JzEN5dcY1pKXmBq0EBW-KIsTc0IOGuq8QeVI7xXOYwq50Lb98M-YsKcFj0HM7smEPuKhdsmAXrYQwjvyOebRYPjbIb_i_goz5rKUCGEc8YrjffccLrSI25kRQY6U7UUCALDugX-ccWPz9SaVO9-CDPIL8AA3DQdCxXWMnIlTIrHXGeYPyEoY8m-oPKr1Pac2iyGM7gr9J1OBr8h-FxQ1XBILd6N3686R4Q3fzZpNfMOIiLivmlqmpWV9VnF8-4yUrKS8CYuRLJYZhEup1g5bc7W_tdHchXtyb1xexRfIurlJtzYZsac_ezgWNbv5v-4BhtYsnoTtprogwJypKp8taVaxzeZ0KIMyQIV5CQaUOrZzxqYE4WuNmpWBn6Dlx8hXLCtS5IMYhHuFnGsI_Qw7r7Hu_MPx4rQ363UiLuykSvzpZWBp4Io0y1MNIIa4-bs4QtV-a2MCLpqoP6Oplrf4kRrgJtgDTkaAFg9RcyFN2H_xGr5N5sr_EmQNJA3SlKlCXjzxj_9QKXNpqITBZyLMJYJ-PZbR_4-NFs7xY1KcebbsY8R2pVBfWDDG0uYiM7av13YCmOaIJkTahI7m-PAGnE2xwn_KprOOk5hrBHgg=w1421-h798-no",
			"",
			"★ポツダム広場周辺　Potsdamer platz ",
			"ベルリンの壁があった当時に使われていた出入国スタンプを押してくれるらしい",
			"https://lh3.googleusercontent.com/NOLLaaMF6N3S_hJrQ0XHdcTWmD-jfCVfBZmdO8JpJaCroi7QcpF5J-dLFy12Y1ICB1EymhtNaBeT7Y_JoNy0FJ-oCuVRVliHcxMFxdgm33CgtWZQPkuras_fcURap5kgIxBSAIqY5kbVtM1flMI00VatxdUdUhWSwgUt3AkF0PeHbZj8mfpIUXJ9FjAOUkCBPNAyXQsH09-OU0eCBwuoZNvZnABvAWLANDvpwqa4JW2CWXUmZgMsOmwgrZy_ZCRhV7VTNyRpgqVhhL3MzSog35zrZvETgXMv_pz5yCu0h5W2TTqdnoT5ZYOXY_fntWOMzKvgoh_vkiB9cKmY-8d-knRrgj3CvOM6qFmF20-DpKrvWQ7KkcPebxqNsdfVe6TFJNAMJHb9MJoh78dWDcqRJ53Th13NWpp4aVapKtPrHUD_1Q449qi5TsINJpdCh5IeWrBA42fA_SCuZIc4zmmF6lKNex-65mCuVwpTTgD9A4SCfQgm1-NsrwWeCXHVxbXaKqDCGkytFZpx-THv87AG_7yF7-CCQhXG1mTj1-5Q8Jb_tajpQF0YGvAqfX_aKOAT1WcAfxb54d6REETriVSCDDPrsPGn3XwbKVRQED_BxGLqS8kJiYln=w1421-h798-no",
			"",
			"ソニーセンター。近代的な建物。大都市に来たなと見上げる",
			"https://lh3.googleusercontent.com/JncjpIF3_rmsy8OiloI0woguBsUJb-Km_gkGE7dpnxbTrYsoKbFVvDdrgqDKB6bw6IH7lc9BYAi2KyPERt_-Ahm8-iUW0BkGl3lNR7X4NPKauoD6_Q2ZQML-4P82Wn2GqEwUO9mU7KsNc5uUClgTx9BFruGmNMxu2mIa85T1RzPwMn5pR67n_fNKpZVfu7Wgv7uoR_HOsMtQq826OHdAOYfKwDlb4hL0X2lPvf4BolO6R11E4AQ8yeG1zLPJDrf4h7fqeZg-UtbZbRtJz_SweOhovr3L2JvAyRWkeuWg68It08XPk1z4MpcX3ICplAWgOKPHrxWMMRVMW8Djj8pVijb1vSQFjyCDATePr_e0nMwOptULR67_EBvqO_3RPDum1buoTBNC-mdRnHBJyYP_gcvQRa08Y4TxFk1Bs_zfXtxvC9pxCJnmEgXEx0uucH2XOHH5vCK-zltwmOTW7Alq2cr474kXOLioc3e-hq7VaO18Rj4h9aesMLy0nqFwpsHToSmGPkPnDRPQ5ZKtEyzxyJaUo0Pvu1ugZvTBYY9dvXfVTEqxA82PUrA849ebvi8no8WxheKoU9THVC_OAcn58pqaEmpz5ZNFH9fhvWy1Fi-SwFgfUrtk=w599-h798-no",
			"",
			"レゴランド横のレゴキリン。結構な大きさ",
			"https://lh3.googleusercontent.com/OlGN0hEjqUZZj2tyYnxwY8cKhYeUfwFsnUukX8qP1J4M27KXZ0W8KyWQJQ0pzHhza9LcKtSkSBzhREI_VYsX7dPSPz784DFKS1tuWwWClpId3NYMFz6jvWS1pYMKN_ycEkfKxPYxjbLFWNPhgIPKFFgIaAMr51VWVHLyycjI6eVT4k24T3fO5v-yICUTfJIciSLJV5JXlsOp1l04I73gv9pN2DSAYxbJaOkTWMtZeBLI-cveW99IQz6pkT_mvcdqwHwOb7CZIKTnWGBj7UeUTFCy2q9w-zbhMB1FRZ__QpOz9SLTLasmhgSALNdp5aGOPt4mZj5cYxLcCX-LKGa5GRya5NEgkaInqxv0bHFrlTyenXy2uV39LxOCy1QZCpS_tq_Iw6JlJOH_r_eF-Jv0HnCm3BczFAeatMd7tyxg4PenkEELEio3lRtdAaThiLcrN3Ag3vU0fpM49tbvZjc_elqwpJREvJExb3HJtZjPSJ-z90GOGn4CA7BcKQt8BzHbrW7Xv7LJB12shFobUp_at_IKBdcgvjSmHmZTekK3EeOxgbJtytVQwvtEiSf0Vuq_PvlB92iVCpx3KCzAYRUhd6Ug33OCjg0V02Ksi6i8hyywyXg-c1_H=w449-h798-no",
			"",
			"何度も見かけたバルーン売り。欲しいなぁ～。。。今日は買わないよの会話",
			"https://lh3.googleusercontent.com/v27ZbPqBLJD68vjGkb9_NGUBZ3AQHHsP2FvLDdi35wScSJx1Us-tzfHOm-tF9A138H6ljK_XzcvPYQ1qtWEyXNranQr0AVPC0yUJ5k2hOOKJF1mVfjzKQu9cUPjHeUpvp4JWpoD8bbe6vuXisJoaIcIs4fxh2HndWX4D5h4PngFZCNCYCCdvaWsOMOsR660IqXHIzfCjCSZiUEs0RtfXHqDw8o7Io7elwPQUNtW1vFBB467vL1XnLHF_Zvk-Y_aU30S_lnS6arffnIXx5HGmxTRaVCX5CGqVnvSUtKuIxwV8WKtaOp8_h-YDBcnEb4xHJEhnPkN1k2rzONMCK7tNQHa9Rw2jk91daPoQTZ61duL1uOK8l2WlbPWvhe_mC6coUu-aCV3SSo-yEBy8LB99HO7Y0fDxdS5ac7Yi4syFQmsu375LVtJBT44Qs30DKmkyTthAAtKbuK2K3y09pYZj26PNXTgFgSVJrxyAN9rb-XatTrHFlvD6MvUXmOtICzJCxBA6uYRRec18VzhycpHKQ8TIrtMiVBjSvKadCq5sl_oiGhlNXHsqHY1mgi4HkG-mx5Za-89DwwZ6l0wY9Zqx4jntKeBKLx6gAIjkKg8FjBP_ZF5Vgxdj=w449-h798-no",
			"",
			"Boulevard der stars",
			"双眼鏡を覗くとこんな風に。ドイツ人スターでわからず残念",
			"https://lh3.googleusercontent.com/CRLAXJ1IfUonRZMR3Mn5fQ7hY0LsmK0UWmsOsi2j11fl_ef_LAAUwma2oG3-b52Jtpgcdd_Ho-vHSJi-28JChAiStGVaQ0mB1TYbSSZrPhC4Bgia-WGqLrsMKe8JPLhktX5_TS0X6GMkC1hRaxRe1t8dtDp95wkfbB_3x6Aqa1dJOA4X5OgDRsyUVqT0HBcEo15NV2QnHqKQBC06xjCT9Nf0qcsgQmQajw5BpiJJXhdeqsd0qBkphhe3a1PN-7EGZtOJGP8lTx6VJ1EaBGoCBtnMv9NGmCMe81qwQX9cHnByNr0C7K9XuDYGgXDSSYzCzppEYdquuNwc3pN2_HmjoUSBujazNxPVm6E6M1KLpjp5HmOiO7YXOH8nsMDcAyafePoUvlEN2d7x-i8zWh3iJ28_SuAc4lXRtHoGcqvDqojx9j4pDH5ANGDZVqGkiBXrHuMxczsK0buGzi06CgNoURaoaI0ckUlcgnmegQBZaOGwUE0TyVR56O_rJrdog6oJAvkgfTl8iwTvAiZpI0_CtlVy8rYDqMgf3S3-FRnKKZLEvl-UMGYhBMZxxc2YP-Ce5JSxFm2KW_V5iQEaCbaUKzZRFHxsZ3GJ1gxT6KU0zc23NwVkFrgf=w1421-h798-no",
			"",
			"★ユダヤ人碑　ホロコースト",
			"ヨーロッパにおけるユダヤ人犠牲者の追悼。広い。",
			"5818",
			"",
			"こどもはかくれんぼの場所と勘違いするだろう。遠くに走って行かれると見失うので注意",
			"https://lh3.googleusercontent.com/v402wppoy944qQLus7K6dauJq30Gtgrtz7Ajid4tY9G_ZW6pgk1YqKXISTrjt6uZ2rMU-su0K9QEyaYMAp-LmT61AJKZqoec32nVo67xGrPf0AJb7GjH6fd6BZ-1YD5hYUrwcJ8pBxpFTSft9q6r2vkY6c6vSUOD661iEWYO30DtPXGOP2hm3zkSRFbSlQSKltvvbxrtmXXo1KE5XoGVTbNyiD1cZqqHvaeSZJSK3JcMYdTnhNwfUGoUQq-I5VKTEB8nONhTTyQwxnfgO74X28A9FlhAJWwvJAxel2M5pzhAnMv0pLBE-52ZK3KZs1SA2RH9RR3qQ7MPvmd_GRntYQmL-oqwHMqp2L3ylRIIN80_8wtqUfEOhRLizdndEiurGGbWm6fE0DU52oZKrhHhoHWRRNsgH6XYk0U5O7kdAmzlz8gHKVIBpIDMALx0xbwyqze1omdFnaGWedlx_6Sc3xor4NYdMhtqrZ7lPEZ0x3zZXzSdXm9XKR2HUvQ6Kr28wpevXSM0hwWExyDuJ5xhDzwjfw-IO_uZ7r40HthdEReHnWWfnGZpbB4dK2vJspPUOXXOCFcbnDLtjiuTkp5OaXz2ehv6SaFVcOAqvc_0RrhB5im0qJgD=w449-h798-no",
			"",
			"★ブランデンブルク門",
			"横にスターウォーズ。。。",
			"https://lh3.googleusercontent.com/YkPb0YkkwJNqSUsVNDMYiLxccwBhG9Wd8KY_3KBKgq9Q6YIL3ZYbnVo5EoBDOlSp8ejUUytcrb7ntsN7AQr1IF9-F1MNZ7I2ACZMdUReyyZuKTU6JT-askwfInJVwGQuEe3Zjq2yfjckq_4v-uGJRsSe66JvbOwNNObjrtRlvLF40HzXk6z7eVDgwmxgH7EQyg6RSFpLTlHT90_lmdMbqQjc7Zu5PUoIuC1vXxsub3zfjbYN5WzUIWokVj6osoc4jv81rJGJG3CKz1mapY_E5bA4mILAc9WAskkNy5FrGuvuLKfTIaynVyNB6it1ZMZ9K0dQyYxWD85HC3bqSWpAYmwrotH8z28YYkHdu-cirC1a20ZUOVzLXA6k3MHgCBcN3JkPcBKr89CvaOmLAtfp5O3BJxWqomiaNb92zf39AqX5iQUAislHzSz8C6295quIw0QDRzS9yt-KhFPuaJgsCzoTP50d-lYB_7zCNklpt0edB-D4VvzbguMlA6S-w9Y3fxn80vUrkeb0iBabfOBqNzF1pPxPP5YiRFX43-q_IWBH8ZwBT6lN9f-FfLpJHFwp65mRzwdE87aK5hM30IC9pl3jrxsKWQHEHBIxtStJhOcFSh2fRW9G=w1421-h798-no",
			"",
			"★国会議事堂",
			"無料だけれど、予約が必要。オンライン予約可。上がガラスドーム",
			"https://lh3.googleusercontent.com/sJvrkzA0mwPdPpXpEO1aR-qBCDosrRnfZd1c9BSfPw_pbXLVc78XeVixlqR-cRreZ5RQD5au18-kEW7hxqP5AJ_-604N-kgsw0KE3xVIulhyv40_27du4oaFijJpnhDMQtJYAwblRAp7MyEAhhaNebgxrIMbGVgQySTtJ6rpGB7wexQLwbcsJuJd8_On3PV_-FeeSQ2mXBXbHfbYeEMAH2I5h87Qb3nx05HspP9JsyFbleVsjpWrv9aMeTSL89IAA3bvXyM_zD9XrthS-q-Y2w_RmDqeXKTEpbh4Py2nM8-VwT10ElWu5sJuKH9ebt1pc3oIR6Nzx-sDMhAA3z6x8D1uCxMuIYH8CVa1zaNnv8XkExetQKRiwdJj2PM89cFXi0Ri_ZnH3DhlXFOA8TvxMWC5YWxD7YqQ_XLGLp_xuHhi_f1d_m-T7okumUJmbNmP6bj_q7FWiM06ir61953BSkyE8UcB0sSlz3O-ofu_ZbSZm9TfJ27b2h_5AoG2M0hkqqbt6E99DE65hai-af6FbR9DHFHvhRXY1nJRI9iC6dtDHEjC6F4MBfm8on5LZ-m5GByXc6ajJEpdY5IVU3tfDyowdO7lFzPkHvySx4UITql0TAcSzm-j=w1421-h798-no",
			"",
			"ガラスドームにこどもも興奮",
			"https://lh3.googleusercontent.com/O2qX_aOflGe5SWYwXu9V5zGNwokOgiNUVo6cGDES3Aaou_tb0iz2_aelenr3uyfX-KT5ANUxc6KuJrQ3nTrTquWmWpxOvWBfZTD7xSk5oMPeeJ5aE1g0v3j7IXnmYrVOXnxoPhFXwzvHnCsdbyK7GXs-YxhiaDwuIhki_Qov_KpHPyioAp_aKaBCdtSeQSTEXoDclIjbn8jA63GAYrHyl_j_RBQwukYEpxMMAj8qW2uxYo7BtUEgxUBjByJCoiXUL5ggB159YMLyDZwpbwkshSGilr0Tahw-Wkm69bVtD9TmEf2DPbhsXXHpK3xPyzlw5RszGWAievh0hYE0ca6F4CJvmHHmHPlabwf_txRztSRkc0ZB_Ku9lm7l4VYd06y3XBVwIGK3kXynPaCG6JYb4LgNjYdpQYJ-zIaR2rvD0YEF2cDe6oNfzncBdz6i3z2V4vHY_M0j_wTuUm5K_gTPi_Bg3jzOQY0vmL5wBviaw0_a1W7TCs0sPQ4vPB846hrBU7QMz4zjmXxmFJZQNBnLmN866x03PEUimgP6WWvzY9pERvy8eWapuAH0Vy6ynaMELweAzWxPGkjkIp0fkx1SEyLUwwnOm_XHdkCe5VbtT6OVq1AN4DV0m2D4yrg09Qxks846ZCWvOw=w1421-h798-no",
			"",
			"疲れた？",
			"https://lh3.googleusercontent.com/6nC2wGpqzxs-cXpgYZYRaupyWLFdGyYsLw1hO5u3ul801hXcNZUB5FCe8Pu_J-URrTdmqDtG2GCtGHqFPQNMP7viAzsaJW8dmbYzA4-5A3kFflIkgbTEusI4tl4GNaAFoz_jMX_ShCAJRUwiLJM6-F1wLaORrT6xS4XB7o53p2mfuITIxeYfqd6IEreTqu_plyb2rn9lxbptFCf2_DmkxVml4nkerXlfYRNTWliNhhjXrDoQELZuITQe_PJcDvqeXx2wzsDgvoExJmRN5OSSXFoeQEEcAdGvcEBzPJG6uLY8I_p3koUEuM7NAaGtEtAoGIjXEbz5rS-dAJcLHeSklKKV5dYgRS4rmjiTfH-JLNF2ZSp04mUWc3HXWOM38YHLVj1BW_wTtBioXPtJp54rJlfgviYMPLWzmYPuyaUQYYnqCgEGYwrv8-J8tuFoPmEfGx4txzV0s2wM_atokFRg371BM_0wmimdFQn1B4Ez1cbyYJoaPRodN0o_BJWtvOqjw5BPhVND7uc39KnxChBwK4Dkc90SEx6lFmwiMJit7N0IEDkudDDIhVvgCt36r8m-o6lrbwb2nKv_BRQ_FKNLzEhW3SbiZwQJbLrqgu72r1OA2VJIxBiQ=w1421-h798-no",
			"",
			"★コルヴィッツプラッツ",
			"プレンツラウアーベルグ、ベルリンで子連れに大人気のエリア。その中心部の公園に行ってみた。かわいらしい遊具",
			"https://lh3.googleusercontent.com/SfDkSBlGwlVdojqx6SId2To7wU5CB6r9cqQzo5PqfLcd2eDFProuut1jrPUqpY_tuDs5WNo1b9mex1CCLnPQ6uGawx3uShHeHBZN-eIfX6UrgBfei1ckMFhZwmRDidVOE5vti5n8-JCKfm0VeNo0npCq3-ua97dilgKANICoNG3s-kJEU8iM_vgXL94VhvuCCW1TxPMVwcT9sESGG28lU_GVznf3tycMRruicj8vO4nhvah2c_ZCIj87rXujaGK4lbnu393Y-YdOtk6rIDtBh1nTBz4VcyEPINm-4zb9BzlAI6D4tF_rXJDQ42zd96Nb37j0Yz1lnkRIsAVcRSc_qmFbbM81FnaXNfrCsu9t2-0UaJJSNBcoK42-MYxzKliGB80xoiKX2m2LHToATVhJ_bkQdPAwk1gSec3n92djHLzMb3Gu8NLxKERFEkUbUtpJWNYM63qi-ZkdieM7lffe3E681HXdU1tlcrbB1VoMwbgCo0RIF8SWOPOzdTq4t_groiRiBG1Dor3hJmoyVmZnRtqLvZQJpbiZOQshM3rI51FbfroBj6xFfceXjtHUV6aszrxQaFqel7l-NHFhmrZkC8laMhAUpcqzgE6b9sxFgDAbtNw6Aega=w1421-h798-no",
			"",
			"全体図。遊具の多さに驚き。そして、全部が砂場。イタリアとは全く違う(フィレンツェは砂場がある公園がない)",
			"https://lh3.googleusercontent.com/9emjdY2r50zgYYauJsYn_UMxnVhK3Hjigvt_pwGmPn9pm9ixqZy6l6mSet17rzTFuInGpbNVKME9JGzcRdqryQTRMDUS65JTZhzo6w1UfCTEQo9OJBHpVBSwuaRMZ5XKcaxCu65WytB2WOGZMy76xHycMYjSo7RWeiUQa3gZ_NUTMvouV3mWYdjDZgjA6PtgagDesDWBuPClAFXksF5h37bsaBRsser-ipDYienomfjSNUmZDHXkfTYoBsq7FIiq02I7Y4u41J4IkD39MvUX1KESEDciFcZGrW-DU_1ce98gwHbayBt3ihawdoCBuOqVBk0v1jvYvdcn2lHuqfexumT2sHfvJ9e8Z-iPESQ8b5KLLJpyDfEpOCzNAUxpJctqZ3cPoYxX-pxCUpeBfdzWKODdPi0g_MCzrcECZ225eI-Iq560fGePRhkcRx4JckCFBPSjPxG-hYzXsfPU3NyOMDuabqMFgRww-tgPYcOUo8g5G1tbrHWvk7YxR-au0pzdBB33rnUW6adCMCMnaST7A3LF1NR72lTvO4n9F7CtX2n3viiDqIO8itm5Kil3lJQz-mEeiCCD6wCYiONStY1tOPo0-qEAdNxbD2Ii_fKVTVK3oAsFbMJx=w1419-h798-no",
			"",
			"言い寄られて困惑",
			"https://lh3.googleusercontent.com/LkfT0-M1eqfpfiIut_mrsPc3fSYKp_VUwhqdmbJuQjApSIjUCj01t86LJXjO9triJyaKaWGsd8H5TOw4FxLZQP4b8VNpEBpT8ViHRyNb6rE4fIrjzWDruBPuDsRcM-5mS54qpJ7eJpSpfTou5LQmZSwWvZm8HDScvD1BKBKXsfP7VlZnokDVJjsYGTUkIYRaDoWJ1dwPndCZ6yBSFyrFG1-dZHcGQDyeZ1k-rWMCDFlJ0Y4HQpPjI65rOU_qjaIsvpfB7nhp-mjt9TYnkoVNOvWwSmKturaZmDg7hV7627uNhWq8Xq69N_kHNNeUr2qq8dSeZcwMmoeCWRoH9J65fg4UPz_oCBM1QbXFsl7FmhYy5j0Fv95hj7XE4Cx1hxPpj-dsMAVICfC8Ebmwmfi04VbPrUFiSvmqI3DTDzAaFS-fyxPdvtoIJP84TTMshilKBmLU0CqbEcqI-xtlylsnKVQMtcPbDUi8QCFSWTQRgFT5tIb2ZvnEsghOKwu713ok-1j6taegdjNfTI2C01m5sZEsEzqfg6Lo4WODFd4Z53WclLOstnCwxs-Q4BYZPo93Mi9-w3HvPYc731gvFvx2iGoHyGIOqejXuykZ0o4mtxnQfkYlKGc1=w1421-h798-no",
			"",
			"公園近くにあったアイディアカフェ",
			"https://lh3.googleusercontent.com/0EwqyTUaQ92sC-uoXuLXY9a8C14AZIkD5n5Oy9lPwdtPIS6cIXe4lPJtOLwNKHzo1bFObFRpdUrf6i-zCNlzUUxcz5vnro0a18fCffcY8BoKaMoton04cilY_sG4ydiS9S9JBISEx20Ze37rF2hK0nqvkDPYho8zgQJDPVcfWxRdAaXU2ffcMNemtSzuzl7RavkWEIs5RMlnu4IV7IlU8M6vV_PGIIGkDBDrD9_ZyLJHdPH3GOe7a8fg5M9rsgNDh8kShVhQmOxiZ38gUNvJTc_4-_Nz5282fRZHA-W_AXblALe6Y_Dp7EGj-Qaqx-gTTwGBDl0hltf2RsHhZBgcpQXMKbIL8iJFkZk7dfQunQl2_PDdCwb0mlpPxYw5FXgbIXZGZRg4epUddQruIjT64l3mVE3q1aeVQu43imzmZW1ZyqiFd2nay8UslWfxlffN4IfNiuocI6JwLs-JqNgY8eOurxUq_w5wYSYDQ-M9Anv336G6p8tRZTN6J3_YOL_WybCTKK_Soro9Mcu4y_C73YUSBsTE88alQCHpp2mMBk-MxvVscgg5aScvBDCYrRBUIxaXiPwlcxFeiE45CsPcf-PyEq5n_oIapGx4FNA46lKdlhqUCnZwoGiFNFAsLGi5ujqt6SIO3g=w1421-h798-no",
			"",
			"★ベルリン動物園",
			"園内広し。中に大きな子どもも楽しめる遊び場もある。",
			"驚くべき開放感。豪邸に住むキリン",
			"https://lh3.googleusercontent.com/z89FTJhNjccY3ijMB1HXfVvBHtG5x5EXsJaGImV6v8Fiqc1pfbD97wzCJbACcRRYInTEkhnWrXAj15x0jAZ58-G-qQiVDzL-QjaWFlMQsO1zHeG7ZZYyoRX4xalwOrcDJDPxBu2fCixdTM4zjdxd0_BrhgutRL90h9dRbuHbuuoB4xWJAzsQ2jAi3cK5AjmMQDEXTPQsK2RvsyzwHvTkdidLp9LO9an_S7tCdJ6LrfifEMRLizyXrD0GG7GdQWoxHneJDPWxJ0dOsW6PUCCAfmC0-PefFXhcOOHyrFySsuUvkpK8PdY1X5vqmdrJDHmjEmAYos4GZn2vbwijccj_5icyEEzdZpnAMnJXE4T5FczteeKJHMNLIkCO4U_vOVagQjLFkodC3j6mWn-y5Lf2Dw2CFGB0Y2wAqIN77m_qMAlmlgw4EX-iUQdc9N5VYi13UsGkpHI2y_vvtt4sdaOcY-zEMqpk-Q8X9QsnDkdQhi4hnseX6ttY2MsF90w0JHKzFbLUxJTicGCjDwzm1-W8EpqWoN5YnshtKAdEKDPfGp8Hc9E6r4F6bNiLrijqTsCJoXdYOUBJSr5SP47CMzo1pSWNiU6fyEaRZpi_FO-OTVA7ZV7Veqjh4v4i9rbrG8s6lFZ5sWLGPw=w1421-h798-no",
			"",
			"愛らしいオラウータン。餌やりを見ることもできる",
			"https://lh3.googleusercontent.com/J94vSRVrkqmVS67E19pMxjp_OhIh1jpfnvU42erODJdJt8y6u6cVVa0TA2nBgGBFhZjuIU_sbpM6PMJ65sbbiYGrcwnnFoaqV136Q8xdwjm3RhopdAMsDAstuMEMccv1y4YTKWrYpo2smUiNXDAa0yxhR07mjeV-Ud7WtoaILTjNk1SVQHEqjXYL5fidMbR7XNNHTiTeIA6ESAjG971n51u4X7ReKuTtvv4ezLmvt6jd94hTEhyYeWDWIsf7eLo99aT86JA8m_kH8DZ-YUpOLh-zxtIDSAsD2dVihey3qm2ER_7cRaL5JulfXKfEk8hFx833jgY24TP02iCsoewgIx8xt87o81firnQ0eBvCCago3yn6CaW-uzk7vkKUGRkfHflAcA6d4pgtGPnowCoaIxY7xI7k8x7jwLCKoTyHCaAt7bZcnLVvtAa2DiUoytrL_XPN153uXye5JbgTZBMv0_DlBvTP7iQFesVLRvC94zQBI9k-wW7xFoaRR3fWENljl-bY6kQuR3PFXQJBWBQAckl66XAIFriA1ghEkqg8mGaGr5svK_wetp8ne3SZYmrT-2UoPK7h4Pkgn4i7PNumxkMuF3ChEQdL3oQKL0l0347_f457HuLO=w1421-h798-no",
			"",
			"近づいたはいいが、怖い",
			"https://lh3.googleusercontent.com/LDizujB0vGinxJeY7_lDPkEdm4I-9uIszK-QemcirjWUeG5SOPcwZGTyibOf-UIQqsBPSih9id7Dy0WSvwb5KEG3EQf3KG6LtNNiiMjOpSpriFodyNVJDALFiybNW7XlbnDpQwNo0bNWkYXiWshYpXhA8p1xIfmbkEB-phQ8J5brBiLVuZsKe20Hd2D3IMeynXet4nMVFdfC7mxNFdK6EqtZscDSfkjdoKy0r8yGCSKUPXZ61wCmYzqASH-uSJcdzEbeZgXMm3kA-qzc6wfNP9whNxNIHrgqhWF2RzNY4Vq42NtcztPItDD7L6BSFK6FxJmgwS-zVQPHoTc4Gqudh7Blp9S2wc45he-nkSXFYPRlxhFP_co7hGNmcJA2h9P_5Jwa9y_aaYlCuIeGtpWg5GApAd8otUFFN7dRnMCPw2g56YlRyIpGMyThG6wn53yyNovgfyXCRX8vvAVyMwG9oeUQ2ziscNJhyW6Dr3mXKhLRIx2Ynfzv1_Pfpd03APRpclKEqJZHrMLczQABZfszVlFokzYaDT6KJgvc0o70ONfNbWVy-URXPRlEh6mMbESILx8YctlApfI8b9gArURTOkOF-x8uFXPxTRzv_4XJsGGrSdp2sIsP=w1418-h798-no",
			"",
			"美しいゲート",
			"5983",
			"",
			"★博物館巡り",
			"☆フンボルト博物館(自然史博物館)",
			"想像以上に素晴らしかった",
			"ブラキオサウルス。圧巻",
			"https://lh3.googleusercontent.com/4MaxdyXXZWynWid267lleNpGnRBDHZWuhGQthVE1tKNhZ6d-Hgl4GeXYduxbaK4DNeYY4TSpFEDRUiTT9qB4EbroE4-urHt1k-irDx_0p16WRr1D1OvSNKzgwG07s2nCiKWlfmuH4Gtgf9hV1jbjHG7YTgjRD7PWU1bXIhZXRLzTjlYjl79wMIYgZSxm0TKNgNZ5zS-rzgW-HrfegcBXWb2LiKTFwjD17yLJvtnj-dL17oJtvKLcINnHTD4MzQs1PshaJKOCwK1ueM-sDTfVo18LKabf-d5gjDKb7XhzIoaigLMV1L8zyk-vCTrXHYIBmcekurl94ZaquX7thP4kLqfHAJON1S1ZA7Utt9n9ESAYX9mLCzv5bGQJL-harBo3kNMsKybd27iZXukTnQP4X6KPA_VT6roWfh_5y7QecJy6sva_-YW0aslgFYJEEe7v537cxHXURMbT27Y97TSHHoN4hWd4wXjK-YXKWiQI8HZC6PzHUmvDtT0sgncFoweedvlcakg4GgZMnsoiq30gar8zPZY9Y-_YNIC6eVvQuLNUUxwBERi7KZ-Av8QqoB-wTIvbyH0ydUni9KBF29X_IiiYG2aYHgzNPyv9hNWrKrb2TcmPaM0EB74J7muAMI_KypMNlptaTg=w416-h285-no",
			"",
			"ハエ。ここまで拡大されると、ちょっと。。",
			"https://lh3.googleusercontent.com/6hIlmRoNPDE7wkgHpPTOs2kOBN8g8UPZIZNEHTB051kLMq9poc59Doe3HVwHdSF3wMCwpylX3nfO0NHknR1hwOK73sfKh1o4JjuraSV0eT_nPmZys7Dftq713C4XsKhyXfrlmYWUrDBgfaHX3fVkGfUHWLAtmcOnGHfaj0Jhr3fyMlFbls6bll6aDK8oYlsnIM7WRyFPd0SdrGn98sL389x_XbkfhpaE325uGHZ9BayqPxDemu36lt5XOchzNGCI07QDETWzlv6umxcDNnYEyNiw7dFS_m3v6tk5Q-fR4zsU75PRvQmq-r_0nUyAKmHLslhFSHu7HNY245nt8it23frkxvcTt4aQ2v1yTyGyAbH9FZJ_PRMkxq5wT3KOXF3zo5bMcLU7LHfcHQlDMUTXqKtHmvlmYyiMO0H0ZiQhLBVzWdcbuPxBlTYQR3v9yYipuGjp0ap7ufSzA-SjOskSoCm4i8-ouX1bzVejXniGScrGDFnIcSlMko5FiyY_BBi2xVmEDOTPHu2JwY810IrhBv9oKyA-a2oIT0__rYFteUkAu4GiybtKqapo-GpzRmLSPVOxFiFdxkpREkjisZGbmW3U_z0yS2PbGcBjX1Mpap6x4k_ljI-Y=w1422-h798-no",
			"",
			"蚊。簡単に刺されるわけだと納得",
			"P9126449",
			"",
			"興味深く見れるよう考えられている",
			"https://lh3.googleusercontent.com/MpUV9xcqxS7hjBVtW0Zyn8u8QKUOxO8Fb64-8y82XC2qHNGvDahJS-zbiOJrzにyXDgfcWWBPsrlb0suPggHdyPS6RyeJZEHGBnXMFzSOga2CPVpz2dJpyS6P-1X6SPL0OFnYygUN7Y0NKU-Td7M60KFlXq0WExAWg0A02cZNVcj0xfR42z4p3ZU5ZxxuWH8eMwXAzrWLXW6jwI2OE704ncaE-LfzcxazQGwlbrT8qRG-n9QsyJPivuVjfTbIBl7Rsu7xs2a32h_L6z98o8YgjPtGU_qdIo4GPcEoaCZGB_poMEBWOrcR9su0T7sGPUx33pn3XfvkJwvWnTKxUCDKEeQEiUBXAOmi9FxtqaejIr-H8lmGIRzKkV3sajM8zyRJolIcBgEMB53yYq2fLzF4Yg-baGKuzw025_nGjDAb16FKqa6w4_kItA9dYlmLH4FBYsVMupL9wZb_w2kyrIGBHjFq0MvWmhfyjPbFww4pn3D7RLv68IBBdfP2eNrw9zs0zxlX4eswoWoFebPbNrs20rwNsh0fb907MkVh-gOD4pd41jz-NeFVFvj6dCTcw_x1Sn5nWs1Pp1vi5-JJ6I-AbW2im8g8jkoOdA_-vRLyZ7LfJp7_eHVsi=w1187-h798-no",
			"",
			"とある標本室。まるでアート",
			"https://lh3.googleusercontent.com/9uq_nNDSyyMk2z1m-Tr4ekYgBWxQjqABrN7fC7jSfI8O4-UJOBEMSYJc1dVBioGYgSOm7-yAl-dae5J-xSmfENgbOQp5G-Ych4bk531L2JurC6SBt34rmEhedseOFnFJiyVipKL18yEDl5Med_mUPMlJLH94W4fCXggA2Aa6wWxhzdtqMT7723vPXWDtp_hEnHTIjyY9LPRZUWvLnmtVgW6taLlrDx171R1dqaCMYjr_dOjtaJp5ffcl1YVg1IKyphHZYENrINnl1YjwXX5tgs1mU3UdblsizRCzrWt0lJW4esLMCji1HRzdYkJTJtttMpvUl-ft64afgRGR0KQPh34sknauVjmJaOY-ixRs51GsPF0nGgaZD2B3R3Fi73krmnU90lERv6ktNR1ZpwV-nXpQMOWkEsyU2NTvwA3KSgo4RrrdBx982u771O2hivMx2L7YPBtNOvikFUnoQJV_0B-CeHwcgxsmJMZn3D0_DzwTZ0ZpovLcwS9pSBT1vPcq-dAWzAFqHmvKSrJLM93UQQ4MlWUabdUmLeCbttR1v7yrdFZHIGkg0PMINF3jATKzJIvOht_cRsLXasr-6hdFp3FsNM2deOzoJigrZcM4pHNfmDnAxPOi=w1418-h798-no",
			"",
			"☆ペルガモン博物館",
			"自然史博物館の後で飽きてしまった娘。ササっとみて終了。",
			"階段に座って眺めたり、休んだりできる贅沢",
			"https://lh3.googleusercontent.com/MetPwTeLqHdKNcnuelofxwtO64e0y-owH_Gctc0tPK7YVET0OolYQr3_NRhNF9O84f9Jilhdb1pv4UNYhcz1MjIb5W5KQDw6QYPewnY6QIjO0JcRd9Fdm3oXRAG2Cz2zau3LH_Oc45DG8HA1_x7WFOYWEnVXgMMhM9nE2EUxXDKLCXmdKzOUo2YExsMPAIgtYSlcaN4uKbutrraMVB0E9R_i_YuI4S9V7nQ-sWjJBBY3y0sV7iyxsM3SUOVoXopaa0MiWbuDf2PT0XC0YurvgAdYIiq8FlwTbmL_C6B4v7AlfsD8WxNJgri3ctL43ZwYasRERMx-Uu5y6bRCB6kVCbTm6IuBkq20hA--DEWCpTwXJJvLChrL69vyAV0PkP6jk-aav59pZYbUU5IdZBKOsxwO0nmH3xu2WOHAPRfxrwRqJfB78XXAkHA90lHOIcsD8ZG1EqplyR9UESngmdtn8GvhtyYZIKYfoFBk6_TAaFn2WxiYCbo2Tg1sGzNrliREoXqW61f1Y7qUjm4uLzKB8YY1pkw7it4iQ9-6ykJ8fwBuI8IBRjM4ZOx7W3AERTvLJgM1KnN4nKaIfGt4zzwDFPPxhsImp2KIx7SrcGfALbvnrY2a9RSw=w1421-h798-no",
			"",
			"その昔の図",
			"https://lh3.googleusercontent.com/LpL30AaTr_WP8nTV4PrEsDRRc2eXveIwqRAKq5sJQOWfQL8i3LOK6rSDrYOv75n5G59tUJ3PGn2_X37hL-9OV8p0kPznSSnICcBRVUjbT06uOShdH0SdiF0Xqrt1ECqKyyeqScudARtGklshslqSz8U9eKOyCmiFH9ALP-U_XiBfXb0_jbEdXT4XTQZSSaiYk-tNy5M2PJUZkaYyPQR_Mltza6r9ujX4loiszVlWE7Gpp12Cgh81LpBM-tceWk5KZjkAhWLC_xZKvkTDasE6M6ngc8Ax3tH0QdpxKeLItggv87Mo0-c_wTewlOCSfFcGpLrl5bWTaSP2w9JMTEs1OscwQwykUL2GxTPtnSQ7u86e1ak4WrJJx3Oj0MEi4zuNqaCEnA6fvxS9n-9J367En8ZUxtu_VzjuoQ2AXl7ZoRppkVUUDFYHfvcYGifFIzvoaksyrstCAJxqXB5O-v8wiAm4hcnnpB2M0labINpsq3Yhv4e0rVac0ag8FSIb-cUyXmffAElpGcLppWmazOFLtz1hZfzLbfRr0sHw51NDmxyk3gXzMzdY6u5UaqXsGuNfFpmlgMaTTAHfbySIzM2k45iLHjmM1B5UnPJ1Don1tT9vLxKtMWLq=w1425-h798-no",
			"",
			"大きな美しい門",
			"https://lh3.googleusercontent.com/E7uHDWqQX9louQ6d5G7RPDAPQgc2cSkxlIcM4lD_7sXnBCljcGJX2uLE7HSfTKbCZQMU9r26yj_rK2NDeChU6t7wlfKqOgnzWFsy4m4BisMoTEocYqYhV82QIo7hp495I3N5E5JxlpA40wymmF00PntFGqkYHckhPUzQH4qZ-Sb0JqpNqPbr_Mzmgm-F6gLsyRfMFkYpD8ePC98XpABsrV0Mwm8F8QIXTkdTCxFdvROlC9XR1YIxBwP2kAwcsDpMZCUPz0CwrIGACVS11AKMsgWVS07rMKDcQrf0hfBDPsLUHQ9q2-qxbtZK63g7wrPpmxaTqPG0cfGCvd7jGhlWPiK8c318HJ4rYFlgk_hHPpyDhBv98cp6YAe-n6ZG5lNrl0SbGOXO1gRahgsHeNyW4cZys9mc_hGDhadGCc7i2S7PuF475-R9GACCQI-MOBBJYPAjxOR_-xdYHhUShXOA1ZGmEe7yPsWX6YrtEcoGhqMpvynICpykv8WHy3RTGolxPIh-DWDxmprCzBsHx0WcnALHSLYvJN2squFQFOsTqWoG5XUPAOFTT97ff4RHQoS3mHDoL4EqGhWeAlIBrguCkOHeQpwUL6zF3viJjbmwNMZ6XII7_2QV_UhBYUj20h2sxJTFrf6b7w=w689-h420-no",
			"P9126459",
			"",
			"その他",
			"P9126459",
			"",
			"☆ドイツ技術博物館",
			"目印はビルの上の飛行機",
			"https://lh3.googleusercontent.com/IMolc37mZwErFSPcSyXPSvQqeW_L-NJsZbd3SpHvh64QQZaeZPSWmKdGPJwR4Yd_O3n_IvjtFNhqiAtYDTgBdvYWsIgl0ICQX_PSLZ5_qIQVwVIdWLoaZX3FFYe_3F53aZiTlCkIc_ERpFnGlJdRZO9pTYh27kli8qsZ3DT2es01JSakXfBmTGhqnun1xN07QOt7BiOohBUh-DyHyq9hI1r48HzP29gLNY5N1qnFUznLGyRsDIfydh__e7yiIIJ-j0O1jpX1K_f_IJvIiZVuvLPBNyEZZuxpgME7HMdRT-RsFZvPqmgRg8qARys8R2zUPklTYF7DyhHgvC9X3jbZ60DAIIgoFiUlbAjAuccnIhSjcxtLiCmf-6CvlLaaxIqeDVkYTQuzLO9UrONO0lhOzm8EqQ3PVDip9WfNVN_MorG8n3LQbRcCvPUZJpMky4uga_EfAS2cuN30W8FcR9fKaNgd7obU-UVYPZT9ahsCEcv5Tgf65Len3B2ykd9EtxQi0sKiKT7df6hFS2vaXQ2HHcsdMhWjLQ9B3ixO1Ul638qtZhh_CzRBwWubF5yr4XpaEl2Rk066QzPdwK_A0S0MqEzRlRRCMPc0gdlFqTxOb6-rIibA8CkGjhJx_PNAlPWlbSuA-dJTGw=w718-h403-no",
			"",
			"何でも乗る",
			"6093",
			"",
			"いろんな車両。本当に数が多かった。電車好きに男の子にはたまらない場所",
			"6097",
			"",
			"何でも試す",
			"6099",
			"",
			"☆新ナショナルギャラリー",
			"外観",
			"6104",
			"",
			"面白かった展示品",
			"https://lh3.googleusercontent.com/-CLOt2H_Ktnwg_XV0bMLT_M3QoI2TJhHIZrksLNhnJR3CSYhaMaHWLaZjjbySFM9Xgtw0apkhlYjryBDuiXQ2Y7QbKcOGtWYRp4eZNzq2nxbrx_Rw1Kszq0XPyUhDhNhqBVGzNWqg-W1viEcVISrHaGZa6niPCI0VAcVTuk3Ki4CJ33DXEW_7IKOTL6EmMA-Xurhgr9NmEfnLrjX0u8Q-2vBHq-q3ACLkvgvw_anlTnmpZzFO3ivGE5d9zC-WnAMfbybGXxUL_g29oPHM2p51Kp40KoL95D5vdmRPrfhpgel8usJXm7SgMBtLN3LrjroCH4M2JWsqXoxtdOYe4KVNMEGLsbR2AzFtyUEgD8NBz7q8p0R_VeiHt5VMfty6JN1_9VVjEBFqfUEgDwg-ZpKrPdPYVCaWo_B_CkGcw6EHR51k-s1uIwqI2gi-X8E_aXJlGC_xh75HcWG4xs861nTzFqQ4fE8x_QRXaagHUyQZonoM8gS3gEvfr2iWBvYFRqvuSqjo0UWhcoRc1h1y1iD-K6UsvPNQgZPZNy13y_MXvBHXoo4f9znZ1Cz8iubWhYn7yXhRNGjJvp8ObM0Om88qGInxhqXbnP4Ylya_F2tj7QNUdUayYgB=w1419-h798-no",
			"",
			"カフェごはん",
			"6103",
			"",
			"☆楽器博物館",
			"広い館内に普段目にかけることにない様々な楽器が展示してある。娘が触りまくるのではないかと心配でそそくさ退散",
			"https://lh3.googleusercontent.com/1HRc_3MIwI7odUtp9oU3wIlEcy6qtUNEArUpzCLjcRIDoapx8LemPyrRM29_7J52kriELY2e_Wl06t0wfoHSwRwzT1K1SmVF_OqELDa-qz6SAsALuv3mykDKToZ8rXda3F997kLaTVE1Uhw2O1JKAOhzuon0bbgk6PCwOvI2bZq_IvJn4E4BZIuj-L-cc4Kb8CT0oaozAwrfjfntS81xFPNGXM3sUnSp2NLBM9r20Y7tlF5vSNDQupD1UQ7iGt6jPY56o8BDjalbkOBN9OA1mY6eqlGKUtXsL6z3Gg8LZmVnaEeu16ZG7Uzwwdzt2GLxV7oqixE_o67MfFz3u2ANSxo76LyS_r9IxqGUdNQV5PE-WXWDrqzcPve1PJ1tLFJbllcfffkc6LEkxOHCvr-ueVFoEiR2BjVg6w6kgpRAnEpUAJeQ-8CytannVPKhgSNOAm0jxgeHqKPWkDJReJocn39swQJXZ8l-sKH29SLOCXoc7hWAUMfDevFNjtndMqhXbP5xghOR8Tdk9SOP-LzK-1Yv6bcG1RipYkFuAWnhlWVuAIyVaLIMnGg872FHvgM1lzzBAs-1EL--jZTwQrUq1oVYJ-I0mvR3gvHMU4jLaIiVMvipYzN-=w792-h798-no",
			"",
			"☆DDR博物館",
			"旧東ドイツの日常をテーマにした博物館。非常に面白い。",
			"",
			"事情聴取",
			"https://lh3.googleusercontent.com/6_hXTp8r1LkGGCvM2TBWtOXoxd87UmSQt93995VtsdEJX0FEs8mXjQN0LvVVxbFyMTYm4tMgND5Z6C_sx1XQXpk5Tjhli5SGoF09QB_XHOPKZo06NMHE_cOex4eu3M7mus00DTNwVfRJWhYBhpMnYlY5M-Ws3XtJPahjLhyPrj_vVXcyyz2pO0Dym41XKnKZUkkw8LIDFQIIOE7w4WXL6itlUkcnW-MPH_FR9OMVf9adhX2CMk8NSWfmAyRkeBNijS8lpNvsbRu-6cNfg5q1nrDHKXsjHKrokPuHDijmQoDzjqxjDPdmPJM2w90DURHKMwDGienuhYSwvR73B8rQlfwxRVdAlUuTOzR6nZ_vIdMhTpA4G8kDKKOJ_T5eaZAvL7c7FkZj2mtPE05DrxLuOEfN8A5a6Lu4_Rk3uYIXE-ykgrEjw0tw6W6KtnOpPx_Aa4gM8_hhlURz3JlvUZ7uPf2ocrDkKmuvdyMzb0RvJWQkSHS-OkYGSqWhT99RSI1awxu-FDh2I6qvecmT8MFNg8KoxObspDNvl7Zl1kvCVXUBV_uWp04ubUskz711e-wy05eu0DoU2wC9fTbTnkqzuQ40hBxTfqrvzF4yhP5TMLwyWKryj_bJ=w1421-h798-no",
			"",
			"独房",
			"https://lh3.googleusercontent.com/OUFlNIl0gVehSXlouQBwaAVvqHhOVNtu_gzIalGv8lbI91nrCZReA6zPihacF61rSrCjy--xtKaHsbmIC8ZRz1AAtBpXFSuDqGVyq8oZI41PZdNlxU5Wbkz9VEz6bkB6PStcp8M4Zx2eSQRfoF3VVDH8S9Fp1jh5yhxT90Nq69nnn6M_9ak5VyUUqHN6E8Sw7xgk7jLwgsl23R5nZzmmh_jgyiNb_y8ZVCaQZc0uQFnUopPfvVZMcBRQ9wL4M8qZ1GOlJnAqHUWFTFoa0L1mWLF_6wrhKQWzMOTzl_2yYyKhVjrs4E54oxkdRXXvKYn7vlpxTm1mgLhpYKy_RRydm6wZ2Wr9QrYyQ6TTKGPrOajgSYc2l2t9sYG1TbZAYMWZhdm3O4LIE0tassUshzworR9QF6nLKgPXrV8_B-kFYswNKl7HNxBNghO33x1pwbZiVLGR9Fg_DivEr5YEKROYheKWmMNkzbpVGZL5UKLVjNSe4tdcJwgeWE3CdDUhmGpZRMSqYsW5y13L56HiXbIXL3uzdgoIPuZ5ULe2vg-OsATor6sq0iu-5SXxYFMT2sUqWg5e68cBUxKOA3dv4fOR9s75Y3zCdINL-vv1Ly6bB3Ld-j_EQl7C=w1421-h798-no",
			"",
			"東欧を感じるお家",
			"https://lh3.googleusercontent.com/NOw0pUyyd0NNLOduueGithHIsSRuSNPwmd4HA_8zuAZr6zIKKJU-K8OLUfcNaSw4Ax92lP3Cg7hMyPBtJfRG8w8ffbbGRXqkhoLQPxubAw0urySTEtE6B3czqZYN6sGaaiAqm2ORLpsl7cW7NgxxXJGTT576BTaQu6ye93vWgO_C49hq9PpoFRyT6G_cL5qdz9VSn08shdcGdp0n1qJoUIfnqIJhwnEAPWNPo_yBftkeXpdo4O3cqKSBE3sbu_TBHTtPYiQ0G6BQxybp_4jb1xFcvdFeDkD-E0nZW07zGZvS273ARoa_nwEzIZAr1sJ_e2LbeS3xfDNP-xocX5itD3ihWRqW7v6MXUBk4jxFm-KQwEDWIBpkHKJZJw3tJBU6T5yZggzDP_HSu_qlK9j0G7fvZRGtyticr-wlRPdzIJSW8PJivNJb8IoYpukd8nxn6JEaDa51tfbmLtIHJ1zvGGtsZonCdm_kpTbpF8i5knSrzM8VKiwqGj4r5V8UTPSuZZdG0DGD5JC1bDjXb0-d39DDHabEv79jVlMwR7jX2XY1LZKcjtaYYEUe5EiO2rZ-TTPNv1ipTj8S5IaeItZlshpaEi_dy42l9WhhpLzBGL302rNIZAcP=w1421-h798-no",
			"",
			"車",
			"https://lh3.googleusercontent.com/bQrfFVwCYaLurxmaVbtrZez07ky2MffhlPHx7Pt_SOXY49oFFhOEy03pZb1AQJqteEI_CI0_i2UzWY5E3VvTPzMrMbYEmemuUVQsYWI2yQxFwixIbR46NbTcRmnp-Jql_uf4SLkhfSWI3fPtfvmFzs7edxrOsddx7_VmGWKqjpjIxcmDrdSyJ_sq5c5PGznNFG4GwfOwR6JYUYtIgjdzX2JSdVcbtdau09rdQxjNh1z8pZGwY7jS7PT8UgGU4RwI1EKVnGJIUSnj9zBGzQG9OZbtP9NqnlOPU4QtyGHB0Eqch35madz8YqJmEqtL-Hck0myhDv9SeM2k6Xrb1cu31gslqId9wBfz3UWMAjeNghhRZWbbWoRd3H6n7jQmkjPK2ZCsF9D3_HjYl1Xlq_AZMPBiIGgzXlF4PrXumBktRdfbcXsnaBmxJNvrtk_jH9iwgPGZaQ67hPc86tHWeEFkCCfbqfQyHiCg2GNRZb6i9LpZUg7GxD16OrJt8w4vCoD5XzBmBX9w_2BObsQTErxvNY_ZVlSUUPhViMS4f0yPVqCvuApTsVY-OYYxcHd42Z0FrfhkEwIXk7dzM0Gw3Fh2MSoCcbKm6Galg_PzeBTq-XBlgwe5-syQ=w1418-h798-no",
			"",
			"こんなコーナーも",
			"https://lh3.googleusercontent.com/ee6Lr6mDR0U5fh_ZDM-JzbjmEkyGyuaKpAVTGZ8ki8qHk3JDBmNdehXPPdgUB8SCnvD8qm_FMJXFQYne1fYpSRUQGAuqu58MOFLWuo_RpBouO08MfCphK6sSSRO6CjYbsAkbOqIofXoDS3XrN244JDlujjcRlsa9SVMLfr925vx4HGkynH9vVfMiXuOjyB7Jk8_9xpcHPXNps2Yduuz0hEaBO1DMSBDYyJIGIXJ1D708UUJ5nyjuepZ-T_ZR148W5-qLSMYg6nh57lMQ7hWfcTkTYKAdk_lEqy-fqVRFqNlC2PSodN-THRhGFW94owf8tp79M_1uDQwolTso6k6LBYvDaz7pKrkkHTU9wqs-lSpabvMWS1SMyaTu-Ie4S6wEiE96wL7J61kVC5zzK7FeFE5zGKtyLJS8MalMoVM4Fs1-CsNlhyNSHXKG-G3d2UxWbel6r9tD-YSLja7ltyRW20HH8a-tEOSoW8BJ67ScNRGRw3AYKWjPfhxgvwXQbj6FqSAfDWjbSrQ8ZvBZ2KHu5aXc6SIuBPcqbxAfbkbaMzTBgbsiOa8ctHnyYNFiQPa3V2YutQk7ov63TGbLSlMbEkLe-grf7qGiebzm5IT255YW78yqckHB=w1419-h798-no",
			"",
			"★イーストギャラリー",
			"まさにベルリンアート",
			"https://lh3.googleusercontent.com/XbonA1vVT9lI8QKrrObTihV6XsvrGeEgp8_eXelXyK9Sb-acY1wDjukDouhbDCNXBGnLil-DPPhNFbQGpybZfI15p8W0LnawVhtZSvAFUSfv6Wvn84z-DYTWRB7IA-BlJIXDF-_1r_y6h1gLV7XBNFKv4LuxbgpSwKR2jxlGiR-beXjVosHwNnsSMhywVxDzoEMNCYWWlnFzC83nhdBSBFwdiF03jM4ggAttxfbLSIs2cEhBlyQrDQm_9cvLEsFbrce6HDhmm7dOLrIb_1thQIYCvxO2LKp7TWAA1RrB_3vzVnH7ABseG-0mP-34eaMXWnu30b1eqcDiDfs-_jiXdOgqGmD7OaGVwSehmp3wRRC7-Kw0luxh-jtpgXS7jLG9MFcxP3I5NeaQnbsmAahpSUyG2aibaPAhyp8-j8RjnugQ1R7yly1lzuSn5kwaJ2CoRqrzTbaCdKPloTnzbxi6PgP82eAwvTnqCKu1O1cQz6f575B_zeDfjTdwLbZizMa0G8xGgX-c9YpwBlgQwRM2ksPYV5PA-tt1APSUimwc6JN2ZjCyER9WBG1XcLUcT_JQocFfiX7NUcFHTiz04kit0BInZsFckPS1e-Sj2y8wK1ZHy0AuH1ZWlhN7XD9NgpXRXKuH8rXtWg=w1421-h798-no",
			"",
			"https://lh3.googleusercontent.com/h6wWUdTZE3cbxuqa0MpLOmTER5m80GU24KX7ZFqFQjyjuU3nL8Iy9NGkfZbvgd4GH4MkEhiT5JSiU4fMNNQVvg8gW1OjDSVdiBg-mveJRWe0OcnxCBoD_PZQ1E6f3z3sCYMv7Biu6XTapOGfv1sqOZkSm_HQMEGhvsgtWdBSv_t2DsDE6j592TuiQ9rFrqLiwJxrcFLRG-7lLqWT63Y1IqDzMK2vNvVRvWtrygWPkAlfX53BYm5EYrlaYsGFQvVu5DUyPb7HEFrWccHP9Sj6Q09a-lIcrPSXDLs2SJMfgQ_ID_YuBZIXaT1LMZkRiKsA641ektxFbGbICni-f40UAUBzyrKp8ST9_RuA3df2mahAGVfATbIo7ZFECD0Y4w_98k4qWdXPjieZ0Ey1qbaGqc874gmW91pk5usZVP9Kyo8TmqzZAfX5pngGTGwoa32G0zpJOMIVdvQ59MrrIwhgAV06-GJUh4IoxqqPnwj1KVzB3Y37A5aV8Dyxa0hTSBAHYWH8lWqmOSL0Oq9dR4mfQ84b-OIV-kZXI2Bv-k1t8cAdSRFjX5E_qHtrAT6S5Kegkp1QP1Nf3kDyclBiEqPdVqjXBn2gxSpzzrX0_mgybGXjN389x4Rw=w1422-h798-no",
			"",
			"https://lh3.googleusercontent.com/eBWx72p9oNuUE7mCOto5k0SWpU70PT3Wn5P5JYBG8CMSqVf4UsfV1nXLKEJ9fPnqe7cdsbL0c9gOmjoLLERztrvX8l6OBIov_lSGsp-nwnUoqmq9MGWH2XLjoJBJWgZlYcES72t6LcNFcgZyF0ohX49TjIJjm7MBMnBMv7lVxBFyBkaw7sNalYdYeugOjd51osc-A7lDYjQIhwiTqhGx5PxIyoTRuirehZUifhopsXnsYDUY_3rTe5vTaNWOd9X7O6OSqHxb7zRrCqFWEYWWrAJWBDF0paRnHPcyJV0C-xiwwtPeHwiX0co5I5EQBeLkpjjnGZh6jhVqsH6Sg-WIIuPnjjxdcumFk3eyLu0s-LmhhEmC3-jRus0_goxOtZE5AMylTlTb3ver15Z7kcRAyGgEBgbWhIzuK5QNMVOR5Dm7ol6qZcdXHfA4PXBM1S4FbcyuQCx546RsaesamcrLuqjQlBePxLs9SETwfVz1cahSDmwqcaitHeVq0pTlNAk7UaLFVwyA_-C_jpvXLG0b063XGPOBE7KZiXpVaGVrVRBu_9KiBCdFjny25mxK5is6yO_MOovAi9gJ-iISIOzDsTDwyTRVKfUqbHtjdLXUCxhXOkoT2N55=w1421-h798-no",
			"",
			"https://lh3.googleusercontent.com/akZZlzEwAXS7GplF1_adx1va7r7s96_hq3Lnq7Tf9KoZhsSc2GU6g6AtuYv5q5xML59TzSH8kA_ReKLOw4FBfotsRmBdcrqNKm7q7eOSx6MZZJHod8goS-mpo3DDeUfcAwtLM_PYZMd_Ktdis83FhlEKovIhzQtihArsODkHHNB1xjIeUorxX2qaYiGdZRX2Tkg8Wohh1AkvJuOgBMPA9glzR0hk-EInYEOfsP2WeEvzIO8Z2Fq2kkntreGkHEp2QWMS0AgmY0q0FYhKV94uj4C0z6IGqLp-LUbn63b4hux9kXmFOYxr27kpX-ofyr_lDYl6kA7f22fxIqYC-gmlaele6bj9RroHm5kzA1YWqzdHsGCEw67Uj-kgwmT2_0OFYMRgeB8AzT2V_dcMhGK-J8pRWVbXUItqKw4vTOFF-EhiG2c9DkhQhZl0q2hXiWeJUsjm1E8kMAlj4w21sabiYbB0EiKmn_XrBYTYKuOqJ7yZyLKxIyK7KkhIqaxVUgsvVBoeR7OUAoVcD8UyuNEbzQB8rDCw90j0ZwJS6Mc9nFthyfpJMaUN7blpAZHegd0TU14FDEEA7GHDBzbn39E3UzDd6diC50R5vlPknwW6Nr-Uw2BS9Ne2=w1421-h798-no",
			"",
			"https://lh3.googleusercontent.com/0O216MzYKw-f3b1H1XWTlVYFlwn-Bm7KVTonwmbaA_ML4xCUiO4nvZNROAgfAQVppnSNjmeEYVOPPf1wYOsFbgmVi5BeF5tEYi-XBxSzI5qLrQLgWgrfJq2HsDAsXfmV_4I0R2ZGNbb_Cj0-DMqQo8rmj2nEgAQGQByuGR6DmTQmpKVx4H5baEokmeXvflC7Ek0ZAmXgN3u3IpqQEq03Zl6iu0gR_ZL3NJQ892JeWNnZqmw70vqN6L_n8jLANcnqJAxz6Vjl_lTs2NNh9RVmrcXMeMGqrym4WNPnLqtEfRlxURLqbC_DBnNbJmYfRVYnD2cvYryB0lPR2FyQGl3PlPuNQE2vB2HP2M7kVw68ju8pf3OyZDkxt6D5nOD40RdFjDMjIQKWBf4zAFYUIj1hxE-ttM8lRqV03LxaP8twKOiu17i_27332Qmje6zZJY3vh5oreyUNl5sWXAoP9J9w-EnteB4B-yMyfEaEQnXtU4r_prOP5snj_IPCJ6YuOxe4RSTA-NCnA4M_pfacT9kOJw0J5nfVQfyx2te9_DOTJ79vKqM9U9GqsJctG7fFcz13R7hSabzlPegZ605EzUtfWzhGK8Rx4S2ReJkJQ7ZdcGkV7aQBVpVD=w1418-h798-no",
			"",
			"★MACHmit",
			"プレンツラウアーベルグにある室内型の遊び場。平日に行ったからか人あまりおらず。貸切状態。こどもはやはりこういう場所が好き。工作スペースもあり。",
			"https://lh3.googleusercontent.com/QGX9BOjIV93nKyPaax4ivQjY8YpdbCuuDDP9CGhBlLGEwXW5u_2eoytOFEEHo2ytXLlLnaTqH7lnyIY0jLgGSYSx4zXlbj8I4DPJ6WQMwpJPe4Tk2QOhBEl64MJenmCsjB1OsxgtiFLuxsaZfZp5f_XYsC28jved0_B_jXpZiMB9JcyOI-y1cNkQwUbzdzkeNeVNKC_w_Eut7FdwhsvztJglL-ES15_Pz3rCT7VOJ7qDjVBdmpHAxTNbqSr3gIhKmmNKikiEsCAftmf3uZU_PsWeDc3bvCcadVmgoxJYUo83_0Iy44EWabxj1nT3I8O4gb4h9XSLyDy_GfOrctjlXajBWKJXOYV7hZj3IrGcN1-QJUcurS3zwyDhkSIsGTeg-fdesKBJnVqbUVBXICAnZvkrVppU3hneJFgezOnQQzwFsemeZJrcPFwR4m-tx16Mm08-MYC_1cuW_Cgef--M0bxfiIaU4t9ihTwFg4DPBP_bV6rgDB0QU06kljxH317i7j4azAUHRtblxj1d4M7UP8M0utGbVrtfUyYPZzPI1dc31Onm2raHtaXhlkjkbtA0GYkVHyko6RDw2oxd6dGIYR6kM811p_pDta-CteBvhY6ZnzXnWAQ14tggSUGI8BDbbwQ6PwPrkg=w1064-h798-no",
			"",
			"★その他のベルリン",
			"食事編：国際都市だけある。フィレンツェとは違う。いろんな国の料理が食べれうれし過ぎた。",
			"☆アパートから近かった事もあり、何度もお世話になっただるま食堂",
			"かつ丼",
			"https://lh3.googleusercontent.com/B0r33I1462Q5MvkGoRwp8PXl89wm4N-JLxOx3XH2sci6lfeNEWv96WqvDCRGiwmQW2MDKW2Eb1dgIpRlPpA_PwGR-YMz9YPYJI54ZwrQ2mbXS1fclS410PYf1r7W7fOOKlphU4_0z3605_d7OXQLteP6x-VfTYDEqKENxNP6nDHlmkSC6HfoZsu134VWdLe9ESY4OW3orObrDdoorB7CiuM68oObgU48vTyt4rW9NXEf3dPJwc2v6f6e28PQhc1dip2HDmlIEuXX81nI-cn-Hg5JxrLL_7Gx7fWAjMQsSXItHzVdfPDXU-LQ-Hi_1BaImVbb2eoBqLi1km38ieVMCfmIvma8khBoY9NRAMj2DtiByxkkiFOzfnucm_5WGgVntQ9hJXGxn3FVSbU0fpgJJK34ddx5NrpOhhCel39jo98np3d7QtAZjIH-Hy7NEnMt2lKBPretUM1H_qHOpwRUvekoiY-UL8CoVtXBs_92DorkigyPeAgHDTJ92uug53UUWEdvY_hixTCDgrcf6S8IoVNTNrgiYDSKit5xTeS3FtB_GtR9pQHkJ8X5m-zJp3xvdA3h9gQj_DgWBQRa-x-6fMWzMUW9CTCX_UPDbH7lePNbc5LtuRYt=w1419-h798-no",
			"",
			"ちらし寿司",
			"https://lh3.googleusercontent.com/i6uyr2R0qSWVZCPdcayE3sTHaoRz1bvvwCcTaD27jKAvWR__OOzs6YlUrxYHO3SXkucYEhQd2pqllEfzSQRp4xCSB84nd6ea447vfhYdewluTTFzuB-dGiRJGBQvk1PEw4KU8mFQ5TlulM7Bd4TcypU80-ps5ZDWd6kLLQriQLNMssZ-jLs33oHiLqd9iTolIJ2JUDyyJfKRMp6NvKGlz5OLn2zPV3ZKPiVL0Mt4UMt8-cpSJUnuv7oLzMnpjWHN6tVjmc3McWPBTOo2Xq2kzOuDeST8jg-PtDQa-7PetqnumWYPxV5IvDbzljDO7KpjbkMX5Nk-zGgzda8CtAYXXQAET4PWaM0wrw2rEtfjEg6IntYNTMc61xG-nu4cTHP6XjfFM5_QmtpdUMvAJ03dTcy-w--1Uss_6KODEYpPUnxF3pu3m3YX2TiKbWAgoG1tvLCbIOs0yIbcxXiOjZIoyA55jOQtGDZp6Xh22mxqh1gF87qoBftz11dsARF-y_tACADLVrX_cWeC_vRgY4rUrrQyQWukI6GWs_qBZFh6seGaZdjwCLOM6iVUq50hvtZOYnsyCiwhgB-bjN-Nt76i4yVw9Xnx9-EebVbDtaWh5hMiACgBwBcv=w599-h798-no",
			"",
			"その他のメニュー",
			"5860",
			"",
			"☆ベトナム料理店が多いベルリン。フォーを食べる",
			"5812",
			"",
			"☆ドイツ料理ミックスとパスタ",
			"ボリュームが半端ない。パスタは他でも食べたがアルデンテからは程遠い。どこでもゆですぎ",
			"https://lh3.googleusercontent.com/pacepa5UE81pJq5Txf_i6Q-zOev0DgBp3Wb_kSWvNz5CmfAHiz5TleGLpkIw-a7A-JwG1CG0u1L2JlpWE2grwUJQK5g3zN9IshyCTPukC6aE9bfPLQuK13_rAboUEqI6tFBIm8Xfl7sPOccnmLHfrO3Kp0rR8RER9Cm-VtZJH-TOGJzr8x7YZWjOC4PQggbd2V695vaIHg2Gfl3elAkIYEnL9iTSiEx_Za_jXMzrPEgUUTtVzIeu4xbmxfDjtAMHG5_NZYdWE--axl4EGmxLNLx47SNXTyGw6F_QqRNbGwUuimvvDAfDZbPmguskArIGIrb9Uc1858tIG0CNDXwkTaPClgt2DHMZMXzpevMvawybry0t5Yzb4gqZd_dLEzudDrOZOlMGD_zVdwvv6HweAdBh92W4WVYaMt7EuLz45rHn6Zb0A09qAUmApu7xv4LQT_Cap6IeNdaAUwSOXJovcbGVkJQLom9xUceBRJsZ8a7J03Ofifz4bxizmNdY-7upxFaos-H5SC8QQcoIA9sD1cT9YD9FdcwvAFJei9OAZHwsu2Zctt9g_GnehlvfGMP_5gu_ZlEzgH3QAuDJRgZkDJkOfXG2EnbWmoMgfKaLY7Om-8wHQshA=w449-h798-no",
			"",
			"☆一心　寿司",
			"お手頃価格で寿司を。箸の心遣いがにくい",
			"https://lh3.googleusercontent.com/LFARhwIBgASdZZzZZmik4lx2vYv-FkL6IwEVfnpwYeMc2DOZsKdOI2ZaBTbjGJjqFg6XwYmZjkPiw1_kp9lkbO69hJWqCzAs8PSc4IbkywCLZtXrnbj8lgHesGR06TB4XkUgTibX6iBej_e815vBA1XQ4d7wyuZTch8apaDUW9NVnRON5GlLSMvaVzMRJPBE8-9BHJ_EQSivwt96fZWhjcdgerFP-ocVQwu56OVFjp8913jgSKbh1WWCF7cQFZlUdsakO2JHS4s3qEQM-klgyON7PHA0IM6zG-_46706G7WIpyAE-Hj2rfDFcwT1Xxb5vxP547BlIT9wATt6n0-WBTv2qehBvU2_uql9wE4ALqr90c7QJimRxMhuOBxjpI1DkP7VomTXKDJBvvGidW4trEJAEkf5Rbld0OQA8h4t5GrKbJctlfht15pmXPJL_7Xw8luaHhM7sgR7tI_MRvhps4bXZHiOLfJbZdILxdoJ2fF-_3cKfaOMuC7uNfT-aN8tnK5_W5t9O4jf9Z1DC6cQ2j0_tXwLsdQrBM5xF7VD73PW2NBgj4hZHKlL2jOqxbZPXlN80A51hVmroJCFWYFNMOJlWmM514awm3c0COU3y_rpW3dlxwCA=w1421-h798-no",
			"",
			"☆クロイツベルグのアラブ料理",
			"内装が凝っていて素敵",
			"https://lh3.googleusercontent.com/6a1rWPTU_pHxsWPT8_QhJBOzZenNtMBE1ldyolh3HLAC488NfOAD-00nAVO_W28ZK9hoG7ywLAK3bWzXgkKi-OMS284eI-ufuCWhYFkPYK7qmDr1EkBMw3zigQl86OO5MS6XBzXob3xAlFs8vrIb389fhBoqRBRjsDtWPdp03fNHrgXCRA2lTmHc1EyfyG46I_XwYT6LOV8ICmPlRL_nMW3FYTp1qEwd4hrhM3byxr9HkToHHatX1x_LjmIcheWGrJKdytfWxen-lmQLimTMVEzbTP3jHdNclTSSiln5n5qmk3QK1K3KIy7OdaVhzFdlLKzpgAssGRS2aqE_NSJ4zx6K2n5reoPazPYt56U5tRKzonkXCA6tzZnUI_waNJBgzUJ7w7wbXAkVRUGGU9vTTUt326afXOh8hjdO_AcAQYX89jhUu4XniAlY7PRIicj8fnZccsqz0yY9V2f3YLiMnMVtJM19dXLcIgfem1FPbMIAngezzL_E2KhEgFoRpdFv0eWDwfSlTmSm_vOqxjYBq8teXH88uG13emeB5-8cNnQX85GPDxmhPafs6yefldyArfrXngRqRs2AJsgXY3QCPNPwYfz8j01ewRpnKTOn2oLsp4t-xX6BNDvbtRLbAc9Jur9W2mYYXw=w700-h798-no",
			"",
			"街中：",
			"街中アート",
			"https://lh3.googleusercontent.com/ZLjPQJghtzrmvK2dytweG-X4zseUctpJvVFnfKYP5WqQ4sfdrtCtX6gdUyjFiqeF-tzOLLckZKRvwxbrEFgxTpbqT0SEibL_p4bJ3kTaWE5SNeAVRafAUwA8izqJhOW7JFyQWNjVWYy5FWtPn2jIYlweAr7n1kaO7qgkakz7qdd2yIDXKYhWymAcrRdvVlcuVq3e5XElq70HU4lVqfktHGPAKkSrjZh7t2g9Z2ds-5C3iqhR-lNZDpX8bWEeIENrY84J4jVbo8aSj5gnL1HrXpCwHXNt28tTgEjrcYwXFJH5ujaEFQENAIA-EbHdfnUubvMvvPDir5iVNb--nXxOTf8ntzapirg8lc4NEQ4ifVOodOS3iDD-whX7Ty5KcGFNoVUXOvvVfR__eUsSoP-eF9KbIx9qswiaBitxB-IK8qjWXgG0Pyei9_9jKPMA5jABpMIrLRBeYlCeYN1db2AKdw4Mao0Vyt8Av_FMCjE_tdF9rVILuhW4DzmwzEZPRwZgJC9o-sjqp-q7jXNaAsznelZl4Y0eyuEbEZpAOpJYSmSIWfG807U75C-0gIJtTTFKqCl34GM8u4gGHAXo5_78LT8TGYNtDMp4fuAPH7YJv579JSlgj6dD=w449-h798-no",
			"",
			"https://lh3.googleusercontent.com/SVysQoAMBIc7tatlD1k6yQlqHBTAXpynJhpRwbASGqqfbaZOJHHoUr7BAjE_EpppFzMTl_ccYkTbhed3dr_ZHb59zyOpxHtkb7E9dyIJMlxe4ZrwJg4JkEmDO3sVMCFsnlIk7DaaMwBfzLMYWooRyvY7EO06vjdT0GKe7pCV7hTsoMHaoW7KMrXQ51WNVKKQwA4zcuRmvYyjHV4W2gJbf4Ezg9CNFD3ScG6AtA4JiZ_-55k_-3YJRka2l4vdUzIjJXFWd0wWKE2eB7HM8Lowytp_yEXlI4NrtHfL8ETazLW3MGL31QlwR85PkDuLvAwZRE5hSBfwfW8EFoZO5Y6McoF9eH93ot2IgJCc0O2QnblNpiEztDkrO5BvhDKzmth-NCsWXyTH1VF2CbWcc3u7dYCchFvtjgCaJC2V1ZW0eu1KxpPMUAFEjjvfvh7xxec9zi5teVIacFNib1YLLfzUl6y7J_iUKDIeP_RBD0_iJwsfF4_Mq0rquHY68Vfjifr-aWf50o9p2_NhVZ0YvJKOF9dN14S8yaGKY4xIHxzGojW2pmeVIqty9_oSrPwrV04lm-umi0uIvUqJPqMcYzg6K0ZAnpBhnd4KW2DQW3ZHsJfmxUuv3ZEF=w1421-h798-no",
			"",
			"https://lh3.googleusercontent.com/ffkH2zEnkQnxQsUtnIx4KF_uq2OwiudVV9QXFQIHvojmHJPNstbnRvr9Vz6aXb03qdrwMTx9DHeA0OVimUvsu3UEEcWysOMoGvzyb1_lSe-rWeAZ94b4x4nCS3FV8GTPDVQZ9yBgV5Mq_Y9J6aoTBvjcvBnW98PfWeWE5hC9WCFKu1qbEq0FpuF4nDZNvq0eMS6Fus7m-FV_qTcRuop79aXl5V0mRWhY5lzsEWQSAxAEzhL_JyCbfouvSb4tRGFiwNW4j4yvXbyFqYtUkUlS482QY0aXZMZiY8Eg2XXApD8Zl7CbUQs5TNpZ3wCWupNEbcQnVAraZ9jlGR0YUZoSdvrnKgWDIBnAvPVITN3JB5eohkii7BaflqeijLlRuRlyXo1Ckvxy6pe2jGHT7WH8ED9DUDsfECuC7J5tdFTvLWdlkPhuF516CcW-75VipzmjkFTIWTr4CmklWLFVDrs7iREkqPC_CgG5-YZ08gHNDIIOMHqEGyaiAy5VsGkFI6wUJxgfkqxp8nDHBeYfY4KCu-VDX-Jc4rghuQlvUzYaOC62u1nGGhFyiw9OGnng8dJATA7WhTHQMWrGsZGL2kOY3bm1mn1kaT2nSXoGzUUPHjKr_JCJ9-vC=w1418-h798-no",
			"",
			"https://lh3.googleusercontent.com/GpQFjfakdOO4TdJGnm9zvsLxjxJWI8ZZbENY6XhXYOAcnVy7tlCNn_QYEI1bCp_l9OlwWZNwSJEic99I8WHqg5NeHAuWvwi6iLG9Ygnuc9Mql9qpjdnodR6UnREpBU6Z9ylvNExyWIugRxBDbEvceSrTvcLOVzaD4-MtEkX_i9YnFeabRNaj9ie_zWs4evx7nxxhhuZo6HxRl6xPPsTujkHg3_Jg5HZcHcD_fb0OatiMR8vDbwiNQbZ_iuweUO1Acckut-BZ2fKhALRbwwCceNgSlTBRxxK53j0WGzYB8v6fdCVT-vB_G0SzjLIbYeZDeYC23zvoLzcFKyB3ubs2Y2NdizBQHSVHWiXxp_Ie4GJz4Cb_DCX_ysozfvItmp9E8gDaa37xmhk1Dd7lb8a5Q80RPQazOagS5B-noNx-L9U1leu-EhPtNoQjE4aoMFZ76gE4WE0IP_U0kjnaUqeOFPCgc4Q-e1kbAaDABc3_jHSWLPj4kbvgVLQPaiUWRS6oBXQ1lvLHT0yih7dNz1ZA728589nLApcSL6tyohGKGQoTu8dlwNofJTYqGTq9bR5IQ8wfQmkgHzkCGEi4w_F3DxR29mkHZOAMGcBhxev8Ahmb5rjwXU0c=w1421-h798-no",
			"",
			"https://lh3.googleusercontent.com/vCrEhViroh_LNuQ5MgDR_6ENmCCKtJD0fXViQmcuqpvqVsczP5NJI6UPKCHlx32FcB5udOjKY5PxuNuJJzdVlkW7OSSjdsLqjvq_LGVIaN8wFc5vYnYPKQc0JnoA0THVL8zApezCsRnA9b6SWfZ28ZCmB8piHEtD75_dVmiM6q3Ix9MlLY1jNd43Qi8KTWPg2nvDgYFOwA2QXShxBPD89zydZOrUe2KZd04bQFHx023DdYb1b86--HsCONxvIPmGmvjECpXJu89fgCcZwRq8kHNeXmJyQr1qirqXYum0z1pgbI7CQU1m-vicM3X4ikPKjGlKog6C7L3jN7tFG1R6CtF4rtWOW2KBtzwyDrXweXJFhh-E208e_eVg2la8xlyNjLUuWWQLowMrDIHjKPtHjWWuvXkhFZ9uppPrnuw0oy2EofpfPHVAv40R7yvTDcd2FfVYotCsUHXBbhV6bsQ0LYkrQ9EhvwuWpGBlzo_AIvQPpCQUaLI6tpU3JAMXaTTU4ijibW_8qTl_j4rVIgH-YYXl3QMqkI1G8ByhLRLBQnKQl6nuADsaSAxO9DMRcNjBdLuvC9yeg7LMpBgeQb3lFln6aTOdV9eLy1u45tZcCgVjTAt-6XxH=w1421-h798-no",
			"",
			"家壁アート",
			"https://lh3.googleusercontent.com/EmhoHrBx903Msk5B1EvWsiWzFLoFb0aMy3HIiN8mjPWNG23Qce4g2bWT-lMgMv5fQvwqNdIVDs67-WGZYpAqdllnMi8a26nL-W5FzH_5AJ1Xfi6gTQKh9Y_9UqfKbIMFikA4DZmIi_6WcnIU_MYRTocxBAZ6quJY3NKfIUli8MGR2qJbc7OVGUf-dTf7kzq-EJP6WLuILW6smwDmQo1NFDbbCvpaAYRCNDMv-Z3E6qf08SZfaPyWVFNJ7hKdi-NtsPDelv0YxU5-aP_7lYxcnojAZtNXxQrUyvB3XDp-0Uo6Emk2CtQxsXT2IFbunHoJOsyh0OJHbr8weGweH3dmGfjtVAQzTh2-zXtfEkCYezVGLvHULLSU_ockiIQTEYYOPwEqaaxeiPCtvNkDk--gtDGj93Dr3pXysZbpmrYxSJsZpHxsuB9luPd4WiPjfWoOdALeQ_66qJ7RwtJKYuCdoDEnBJJLX2kG5zwUObL_wJbI0oiP0M_pI8yG0beX0jO6_dRrtwIxum6fXgftM50OmkanmQMf0HbJMvpdyWHJS6W29sE7XDXvFHa-fvEKgVstblVEjZ-Uz3X9b-8rT4G0hIDufdM2lzl2Zv7tRuZM59MoD2KTjIQn=w1421-h798-no",
			"",
			"https://lh3.googleusercontent.com/nFLG42K_y2oiMlail_n1j7-lHgIr1eD4UsgziXlM0fSwIWGAi00xapEGmAu0Rl5MHXIsFEFiPbyWTEPjZSX5eL3n4Wb9QIFK4UHa3zfI48-EvNUk2s4Ja06oT68qQHnZGlqHbo5L3AFOjAc-WO0EbUmYKSXrz6RIDqB4WlFYKD98HHDZypt4-mwwkyE_TTy_nf2JaSVhy6B3FPIWIIGl1AvxB0jc3oLrvZZNj54mAyEcwSG5fB8FVTnur3s7UkIruW8IE9y0ucLzeteA4b7oTlinqPuryhLklNOiuYh3k1Rk_jxDloqHRicPworP1k2CiKEi52E93Hb1UT_-KEp60_sgFPGvpvcz6egYp5R3RmXUbcNyOKRjt_KpdfmmmqRFOwfmuzmxbd7oZKF2lkJ2Wcsw51A0feFPAPkwtUv7Yuj2_Vq41YpQHNdJaqc4CJUQAe4Zr5T-Tk1iSIvvwuf-cFfYzQAYPiHOdtcanxaVsV2q9rwQ_oFzM4nBp7n4RW42LAsk53oAKA4TZ2G-at5s58XL_hztC9VYl3xsMbi0cKcTMisG4JakDw_xEeQ0I_ojQYYvUD6SayQ70wPEhc_7vELMYAo3w-V4cnI0E6-d-Ksph5malu3j=w1419-h798-no",
			"",
			"https://lh3.googleusercontent.com/hHDkmRCuGB35kXrKjx4zVFVuiYuD79sR1VRc0G52B_XdQzUmiTywd0CdfSnqd0ZTVV4HSjUDvWQmG3DPQ8aDlrDcuH6bZutq9eKpe8iBVGtGczK3hu0M0nnHU5CWWgKt6yBVSyvZfLy6w51-fGiNf3Ue550FrMMx5VlOLtJMR6Dhwu7yzMQ45fZdHbmJaEaF_Dd1Z2qvqi2rlHZw-M7pLDPawcJ9uZy8WbXJ0c82f7FUTGdQ1C5bDUmJRyId4ig_Zzt00wFpUSZZniq9Qvic7PHeSqP96ARLkQXb6pcKgdXGTHchHK8DA3th6Z1s4MvUJhdDbAqy0V6uSJSqYtpV6Tj-QqEUrxYm5r62oZPdhB07QTqgy5J3r92G-xhBgTqq8fX-9T5QULVhSOrn-2Wh-cIuZX5xgF3dHdizNjP1mwvqXomr2UlLhZKwwx5xT9SvZOOHo71olhwu_vsVr_01yaE0wo8eddvbEmrrH-90pAPdQMUgcQYjQf8ZPkukzstJzRmJ9J27s7Yfc2_Iwrcpv8h3_ua3QI03R3HioQ3lywC-yGl5xiSHOu2YpdGML0BdMBHaO2mCwrRR7ARNaxPtV4AZIJLqOmGPstiXvL4YJV8eOOvfKrPT=w1418-h798-no",
			"",
			"服アート",
			"https://lh3.googleusercontent.com/OC4ZlsjbtmmMkhIhjcBVVoOFNOGEw1MKhfcwdQc-m99QPHXiTUdGoCO3tugZJ6XriNrVaOf6psl5h0_tyRXjilOpH-DJLFszCaE5kOfJlYVCYYi-5THRx5ZYSSdT4JOBfovPFQVZvzMNiN-EXA7-YUBWDq9Sx-hNYVmOley59-zswLg2R3GeNDn3hakep7ocO7aCnjGQx0_fXdh8ahfGI-7PsAPE_0H9UWJrAh4DWQUq9LHdGNX5o76QthbyOdX-E9gbtLu3K6vLICC-QhX9SYwKPlBThBZ8Plksg4Q3wAgO5Dk4XKrePMvzEks7Ib85iEFQfUjSf8B7j_6RY2sigPxen7cqJevr43lEEcce3ypJjgpYmBOpjmrjtO4GOxIhDcJOaiYXOQ9y8pfc6j6eQDzIP0WnRDtMD10tfteoNumyjcZ0_OJA5IjR7tXCB_g76goDn1QZ-YRGSYrJFCCcX-YFARkmUGIALY1BpwQ4rFcoy67NNi4JwQs-zHlGyq9fNoqLiJ8Nah1dQH4oGVLLufScBSWDZA4fVeoYnKF_3u5yOgXMnCVtaHJM4j2ZrAmOpTtMTkMpZIcn6cjrsr8bNDP-gEPLGOFAqtnCPH-H0fUEd9POmYgI=w1421-h798-no",
			"",
			"作成中",
			"https://lh3.googleusercontent.com/AbJHqiXSdxY4ghIH2hwRgJto3MK2ap9tYVDVA_mp6eP57w-F8MIz0u39-7wE4betqTB9m-6-Z_XYfTP-B6F1OlSRK4sV30LB_PUr0Fk9CvttxQnayc3wxL2t8ETv69ZfNdtUjcXTrkbtwI0kO1qZGnlbvbA3lflzNt5DpT3aWcHJQh3FLA50nZ0dQkqlzwGhx8FkjkDFR-f0zu7_sXsZGnWydmXP86u2TD1eGh-qsA_Qvv1KCJlnLGzFq9R9HkdoqwdE1loBDSqmLut3MusjF1jJe-amHiRDwfQR-ybw1s-csGgf1clfvbbfc-Zqi8uNwzpuP4T9cda76mtIfFfd8yrsCe9hAzYNlKTuUHskL2YV5-eFHviSOmlC498GXLHLyNfnXCL_P6TxuaXFw861bZtbCKpN9GVBEoRDvFAS05GXzbYUnZS_H1pTeKZlBVMAHeSWu0z9ZHwMtYANdK3e1MjneNTk1UMVHwL3TtQidkm660mxkLvJOEVPyyAZOkeMKp_pe45Yi_zC7Fxhn9I1lAqWfwy6JQLlqqNIt0XCYcUjxbbHGOKxtWI-STiu5qi8i64wpslCUenYma5fdJ8kcVbL79UqUPdfp6bB7TdyIvcvVN-Yz48n=w1416-h798-no",
			"",
			"看板",
			"イタリア人が見たら理解できない看板",
			"https://lh3.googleusercontent.com/rC6ENx7Au3jY_GrAsHlU9oP3vD0KUJZ0wI1UtKwFGPfsE-ViUgPkeoziPdkaXdcXmfWOpX2FoxMsWDcPbVjxYL5yd9oK6TtQ8gK1b2yshGoffgdKmR_yXb3xq2eqo2AoQ2pqferdssnFUork8xw6KsL2PD_DM_tavUsF35czLpwxCoKpOv59Huj-hhwAxZpl-3VG80_y49UHSGhDi5cFYzcW_0FFOFkyJq9uOkyOhGEb7ryOXNXFmEe9ybEGXu0xa3nLJkYYZ5bJXO96P-TExJpoaZMJ2TnXb0YUxgb4wPCaB41RLIqB9jvTmGlYqgLXMFF0CNFI5H3eCuVj5lvwJptJAZtatQv4pflY3LOlxAXSOymcTsl_kqCVNedRc1CrPNIad3dUojOKjcebaIqlSWmvoLVG4WwVIWWs-nW9nBDS1C5bK_RNO-O7I1nx7F-z4RfrWP0U2aemnuvCfbaMrKbGej4n_6kCgjOBDCscmwMzHtwucUaqk29JyCbPHSufbh78IIHowjAgOlT9LBxtu3UEJmQbplyuaHTMbUEXyALZmRBK5wCrGZ9bsXGfO9k710Fb9aFHJMA4zRvvfkZRovC_dS8Wrqe5Q0Ckv0wNdPCHmIjCvKM9=w1421-h798-no",
			"",
		];
